@model DoctorFAM.Domain.ViewModels.Site.HomeLaboratory.RequestedLaboratoryViewModel
@using DoctorFAM.Domain.ViewModels.Site.HomeLaboratory
@using DoctorFAM.Application.Extensions
@using DoctorFAM.Application.Convertors
@using DoctorFAM.Application.StaticTools

@{
    ViewData["Title"] = "ثبت آزمایش";
}


@section Styles
{
<style>

    .d-none {
        display: none;
    }

    #DrugRequestMethod {
        display: initial !important;
    }

    .nice-select {
        display: none !important;
    }

    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
        margin-bottom: 20px;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }

</style>
}

@section Scripts
{
<partial name="_JqueryValidation" />

<script>

    $(document).ready(function(){
      $("#ExperimentTrakingCode").val('');
      $("#ExperimentPrescriptionImage").val('');
      $("#ExperimentName").val('');
      
      $("#ExperimentImage").val('');
    });

</script>

}

<div class="page-content  ">

    <section class="grey-bg">
        <div class="">
            <h2 class="title-2 z-index-1 text-uppercase  mb-2 text-center"> درخواست <span> آزمایش در منزل </span></h2>
            <p class="title-2 z-index-1 text-uppercase mt-2 mb-4 text-center">کاربر گرامی, توجه داشته باشید شما میتوانید با هر یک از روشهای زیر, و  یا  هر  دو روش, آزمایشهای مورد نظر خود را درخواست کنید.</p>
            <hr class="alert" />
            <div class="row m-1 p-1">
                <div class="col-md-7  col-sm-12 ">
                    <form asp-action="RequestedLaboratory" asp-controller="HomeLaboratory" asp-area="" enctype="multipart/form-data">
                        <input asp-for="RequestId" type="hidden" />
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="tab">
                            <!-- Nav tabs -->
                            <nav>
                                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                    <a class="nav-item nav-link active" id="nav-tab1" data-toggle="tab" href="#FirstMethod" role="tab" aria-selected="true"><i class="flaticon-brainstorming"></i> درخواست با کد نسخه الکترونیکی </a>
                                    <a class="nav-item nav-link" id="nav-tab2" data-toggle="tab" href="#SecondeMethod" role="tab" aria-selected="false"><i class="flaticon-research"></i> درخواست با تصویر نسخه </a>
                                    <a class="nav-item nav-link" id="nav-tab3" data-toggle="tab" href="#ThirdMethod" role="tab" aria-selected="false"><i class="flaticon-testing"></i> درخواست با نام آزمایش   </a>
                                </div>
                            </nav>
                            <!-- Tab panes -->
                            <div class="tab-content pr-0" id="nav-tabContent">


                                <div role="tabpanel" class="tab-pane fade show d-non active" id="FirstMethod">
                                    <div class="row">
                                        <div class="col-md-2"></div>
                                        <div class="col-md-8 p-2 m-2">
                                            <span style="color:red; font-size:12px;">
                                                کاربر گرامی, در صورتیکه بیمه شده سلامت هستید, کد رهگیری نسخه و در صورتیکه بیمه شده تامین اجتماعی هستید, کد ملی متقاضی آزمایش را در این قسمت وارد نمایید.
                                            </span>
                                        </div>
                                        <div class="col-md-2"></div>
                                    </div>
                                    <hr />
                                    <div class="col-md-10">
                                        <div class="form-group">
                                            <label asp-for="ExperimentTrakingCode" class="control-label"></label>
                                            <input id="ExperimentTrakingCode" asp-for="ExperimentTrakingCode" class="form-control" />
                                            <span asp-validation-for="ExperimentTrakingCode" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane fade d-non" id="SecondeMethod">
                                    <div class="row">
                                        <div class="col-md-2"></div>
                                        <div class="col-md-9 p-2 m-2">
                                            <span style="color:red; font-size:12px;">
                                                کاربر گرامی, شما میتوانید تصویر نسخه, یا لیست آزمایشهای مورد نظر خود را از این قسمت آپلود (بارگذاری) نمایید.
                                            </span>
                                        </div>
                                        <div class="col-md-1"></div>
                                    </div>
                                    <hr />
                                    <div class="col-md-10">
                                        <div class="form-group">
                                            <label class="control-label"> تصویر نسخه ی پزشک  </label>
                                            <input type="file" id="ExperimentPrescriptionImage" name="ExperimentPrescriptionImage" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane fade d-non" id="ThirdMethod">
                                    <div class="row">
                                        <div class="col-md-2"></div>
                                        <div class="col-md-9 p-2 m-2">
                                            <span style="color:red; font-size:12px;">
                                               کاربر گرامی, شما میتوانید نام  آزمایشهای مورد نظر خود را در این قسمت ثبت نمایید, در صورتیکه ثبت نام آزمایش برای شما مشکل است و لیستی از آزمایشها دارید میتوانید تصویر لیست را آپلود(بارگذاری) نمایید.
                                            </span>
                                        </div>
                                        <div class="col-md-1"></div>
                                    </div>
                                    <hr />
                                    <div class="row">

                                        <div class="col-md-5">
                                            <div class="form-group">
                                                <label asp-for="ExperimentName" class="control-label"></label>
                                                <input asp-for="ExperimentName" id="ExperimentName" class="form-control" />
                                                <span asp-validation-for="ExperimentName" class="text-danger"></span>
                                            </div>
                                        </div>


                                        <div class="col-md-10">
                                            <div class="form-group">
                                                <label class="control-label"> تصویر لیست آزمایشها  </label>
                                                <input type="file" id="ExperimentImage" name="ExperimentImage" class="form-control" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row m-1 p-1">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="Description" class="control-label"></label>
                                    <input asp-for="Description" class="form-control" />
                                    <span asp-validation-for="Description" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-4  text-center mt-4">
                                <div class="form-group">
                                    <input type="submit" value="ثبت آزمایش" class="btn-Accept" />
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-5  col-sm-12">
                    <div class="row " style="border:1px solid #fd5b03; ">
                        <div class="col-md-12">
                            <h4 class="title-2 z-index-1 text-uppercase mt-3 mb-4 text-center">  <span> سفارش نهایی   </span></h4>
                            <div>
                                @if (Model.ListOfRequestedLaboratory != null && Model.ListOfRequestedLaboratory.Any())
                                {
                                    <table class="table table-hover table-bordered tc vm text-center align-items-center">

                                        <tr>
                                            <th class=" text-center align-items-center">اطلاعات آزمایش</th>
                                            <th class=" text-center align-items-center">توضیحات</th>
                                            <th class=" text-center align-items-center">عملیات</th>
                                        </tr>

                                        @foreach (var item in Model.ListOfRequestedLaboratory)
                                        {
                                            <tr class="tc vm text-center align-items-center" remove-ajax-item="@item.Id">

                                                @if (!string.IsNullOrEmpty(item.ExperimentTrakingCode))
                                                {

                                                    <td class=" text-center align-items-center">

                                                        <div class="row">

                                                            <div class=col-md-6>
                                                                <span>کد رهگیری نسخه/ کد ملی متقاضی</span>
                                                            </div>
                                                            <div class=col-md-6>
                                                                <h5 style="color:#fd5b03"> @item.ExperimentTrakingCode</h5>
                                                            </div>
                                                        </div>

                                                    </td>
                                                }
                                                @if (!string.IsNullOrEmpty(item.ExperimentPrescription))
                                                {
                                                    <td class=" text-center align-items-center">

                                                        <div class="row">

                                                            <div class=col-md-6>
                                                                <span>تصویر نسخه</span>
                                                            </div>
                                                            <div class=col-md-6>
                                                                <img src="@PathTools.LabPrescriptionPathThumb/@item.ExperimentPrescription" class="avatar-style" />
                                                            </div>
                                                        </div>

                                                    </td>
                                                }
                                                @if (!string.IsNullOrEmpty(item.ExperimentImage)  && !string.IsNullOrEmpty(item.ExperimentName))
                                                {
                                                    <td class=" text-center align-items-center">

                                                        <div class="row">

                                                            <div class=col-md-6>
                                                                @item.ExperimentName 
                                                            </div>
                                                            <div class=col-md-6>
                                                                <img src="@PathTools.LabPrescriptionPathThumb/@item.ExperimentImage" class="avatar-style" />
                                                            </div>
                                                        </div>

                                                    </td>
                                                }
                                                else
                                                {
                                                    @if (!string.IsNullOrEmpty(item.ExperimentImage))
                                                    {
                                                        <td class=" text-center align-items-center">
                                                            <span>تصویر دارو</span>
                                                            <img src="@PathTools.LabPrescriptionPathThumb/@item.ExperimentImage" class="avatar-style" />                                                           
                                                        </td>
                                                    }
                                                    @if ( !string.IsNullOrEmpty(item.ExperimentName))
                                                    {
                                                        <td class=" text-center align-items-center">@item.ExperimentName   </td>
                                                    }
                                                }

                                                <td class=" text-center align-items-center">@item.Description</td>
                                                <td class=" text-center align-items-center">
                                                    <button onclick="DeleteAjax(@item.Id, '@Url.Action("DeleteRequestedLaboratory", "HomeLaboratory", new {area = "", requestedLaboratoryId = item.Id})')" class="btn-Accept-Danger">حذف</button>
                                                </td>


                                            </tr>
                                        }
                                    </table>
                                }
                            </div>

                            <div class="row">
                                <div class="col-md-12 mt-3 text-center mb-2">
                                    <div class="form-group">
                                        <a asp-route-requestId="@Model.RequestId" asp-action="PatientRequestDetail" asp-area="" asp-controller="HomeLaboratory" class="btn-Accept">ثبت درخواست</a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

</div>