@using DoctorFAM.Domain.Enums
@using DoctorFAM.Application.StaticTools
@using DoctorFAM.Domain.ViewModels.Common
@model DoctorFAM.Domain.ViewModels.Admin.Laboratory.LaboratoryInfoDetailAdminSideViewModel
@using DoctorFAM.Domain.ViewModels.Admin.Laboratory
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedLocalizer> SharedHtmlLocalizer

@{
    ViewData["Title"] = @Localizer["Laboratory Personal Infomations"];
}

@section Scripts
    {
    <partial name="_JqueryValidation" />

    <script>
        $("#DoctorsInfosType").on("change",
          function() {

              var selectedAdvertisementStatusValue = $("#DoctorsInfosType :selected").val();
              if (selectedAdvertisementStatusValue == 2) {
                  $("#RejectDescription-div").removeClass("d-none");
              } else {
                  $("#RejectDescription-div").addClass("d-none");
              }
          });
    </script>

}

    @section Breadcrumb
    {
    <li>
        <a href="javascript:void(0)"> @ViewData["Title"] </a>
    </li>
}

    <form method="post" asp-action="LaboratoryInfoDetail" asp-controller="Laboratory" asp-area="Admin" enctype="multipart/form-data">
        <div class="row">
            <div class="col-lg-12 col-sm-12">
                <div class="row">

                    <input type="hidden" asp-for="UserId" />
                    <input type="hidden" asp-for="Id" />
                    <input type="hidden" asp-for="LaboratoryId" />

                    <div class="col-lg-12">
                        <div class="widget">
                            <div class="widget-header bordered-bottom bordered-green">
                                <span class="widget-caption"> @Localizer["Laboratory Information"] </span>
                            </div>
                            <div class="widget-body">
                                <div class="row">

                                    <div class="form-group col-md-4 col-sm-12">
                                        <label asp-for="NationalCode"></label>
                                        <input type="text" class="form-control" asp-for="NationalCode">
                                        <span class="text-danger" asp-validation-for="NationalCode"></span>
                                    </div>

                                    <div class="form-group col-md-4 col-sm-12">
                                        <label asp-for="Education"></label>
                                        <input type="text" class="form-control" asp-for="Education">
                                        <span class="text-danger" asp-validation-for="Education"></span>
                                    </div>

                                <div class="form-group col-md-4 col-sm-12">
                                    <label asp-for="CountOfFreeSMSForSend">تعداد پیامک مجاز </label>
                                    <input type="text" class="form-control" asp-for="CountOfFreeSMSForSend">
                                    <span class="text-danger" asp-validation-for="CountOfFreeSMSForSend"></span>
                                </div>

                                @if (Model.WorkAddresses != null && Model.WorkAddresses.Any())
                                {
                                    @foreach (var item in Model.WorkAddresses)
                                    {
                                                <div class="form-group col-md-12 col-sm-12">
                                                    <label asp-for="WorkAddresses"></label>
                                                    <textarea type="text" class="form-control" >@item.Address</textarea>
                                                </div>
                                    }
                                }

                                <div class="form-group col-md-12 col-sm-12">
                                    <label>@Localizer["State"]</label>
                                    <select asp-for="LaboratoryInfosType" class="form-control" asp-items="Html.GetEnumSelectList(typeof(DoctorFAM.Domain.Entities.Doctors.OrganizationInfoState))"></select>
                                    <span class="text-danger" asp-validation-for="LaboratoryInfosType"></span>
                                </div>

                                <div class="clearfix"></div>

                                <div class="form-group col-md-12 @(Model.LaboratoryInfosType == DoctorFAM.Domain.Entities.Doctors.OrganizationInfoState.Rejected ?"":"d-none")" id="RejectDescription-div">
                                    <label>@Localizer["Enter the reason for not confirming the information"]</label>
                                    <textarea asp-for="RejectDescription" rows="10" class="form-control" placeholder="@Localizer["Enter the reason for not confirming the information"]"></textarea>
                                    <span asp-validation-for="RejectDescription" class="text-danger"></span>
                                </div>

                                <hr class="margin-bottom-10 margin-top-10" />

                                <div class="col-md-12 flex-style">
                                    <button type="submit" class="btn btn-labeled btn-palegreen">
                                        <i class="btn-label glyphicon glyphicon-ok"></i>@Localizer["Submit"]
                                    </button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>

</form>
