@model List<DoctorFAM.DataLayer.Entities.Request>
@using DoctorFAM.Application.Extensions
@using DoctorFAM.Application.Convertors
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedLocalizer> SharedHtmlLocalizer

<div class="col-lg-12 col-md-12 col-xl-12 col-sm-12 col-xs-12 boxForDashboard">
    <div class="widget">
        <div class="widget-header">
            <i class="widget-icon  glyphicon glyphicon-home"></i>
            <span class="widget-caption"> @Localizer["List Of Lastest Home Visit Requests"] </span>
            <div class="widget-buttons">
                <div class="row">
                    <a id="ShowUserCommentInAdminPanelMinus" href="#" data-toggle="collapse">
                        <i class="fa fa-minus"></i>
                    </a>
                </div>
            </div><!--Widget Buttons-->
        </div>
        <div class="widget-body" style="height: 410px !important; overflow-y: scroll;">
            @if (Model != null && Model.Any())
            {
                <div class="table-responsive">
                    <table class="table table-hover table-bordered tc vm">
                        <thead class="tc vm">
                            <tr class="tc vm">
                                <th class="tc vm">
                                    @Localizer["User Avatar"]
                                </th>
                                <th class="tc vm">
                                    @Localizer["Email"]
                                </th>
                                <th class="tc vm">
                                    @Localizer["Mobile"]
                                </th>
                                <th class="tc vm">
                                    @Localizer["Date Time"]
                                </th>
                                <th class="tc vm">
                                    @Localizer["Type"]
                                </th>
                            </tr>
                        </thead>
                        <tbody class="tc vm">
                            @foreach (var request in Model)
                            {
                                <tr class="tc vm">
                                    <td class="vm">
                                        <div class="flex-style-center">
                                            <img src="@request.User.GetUserAvatar()" class="avatar-style" style="border-radius:50px;" />
                                            <div class="mr-10px">
                                                <span> @request.User.Username </span>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="tc vm">
                                        <p>
                                            @if (request.User.Email == null)
                                            {
                                                <span class="mr-8px label label-orange">@Localizer["Empty"] </span>
                                            }
                                            else
                                            {
                                                @request.User.Email
                                            }
                                        </p>
                                    </td>
                                    <td class="tc vm">
                                        @if (!string.IsNullOrEmpty(request.User.Mobile))
                                        {
                                            <p> @request.User.Mobile</p>
                                        }
                                    </td>
                                    <td class="tc vm">
                                        <p>  @request.CreateDate.ToStringShamsiDate() </p>
                                        <p> @request.CreateDate.Hour:@request.CreateDate.Minute:@request.CreateDate.Second</p>

                                    </td>

                                    <td class="tc vm">
                                        <p>

                                            @if (request.RequestType == DoctorFAM.Domain.Enums.RequestType.RequestType.HomeVisit)
                                            {
                                                <span class="mr-8px label label-info"> @Localizer["Home Visit"] </span>
                                            }

                                            @if (request.RequestType == DoctorFAM.Domain.Enums.RequestType.RequestType.DeathCertificate)
                                            {
                                                <span class="mr-8px label label-info"> @Localizer["Death Certificate"] </span>
                                            }

                                            @if (request.RequestType == DoctorFAM.Domain.Enums.RequestType.RequestType.HomeDrog)
                                            {
                                                <span class="mr-8px label label-info"> @Localizer["Home Drog"] </span>
                                            }

                                            @if (request.RequestType == DoctorFAM.Domain.Enums.RequestType.RequestType.HomeLab)
                                            {
                                                <span class="mr-8px label label-info"> @Localizer["Home Lab"] </span>
                                            }

                                            @if (request.RequestType == DoctorFAM.Domain.Enums.RequestType.RequestType.HomeNurse)
                                            {
                                                <span class="mr-8px label label-info"> @Localizer["Home Nurse"] </span>
                                            }

                                            @if (request.RequestType == DoctorFAM.Domain.Enums.RequestType.RequestType.OnlineVisit)
                                            {
                                                <span class="mr-8px label label-info"> @Localizer["Online Visit"] </span>
                                            }

                                            @if (request.RequestType == DoctorFAM.Domain.Enums.RequestType.RequestType.PatientTransfer)
                                            {
                                                <span class="mr-8px label label-info"> @Localizer["Patient Transfer"] </span>
                                            }

                                        </p>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

                <!--Widget Body-->
            }
            else
            {
                <partial name="_SupporterNotFoundPartial" />
            }
        </div>
    </div>
</div>
