@model DoctorFAM.Domain.ViewModels.Supporter.SuppoeterDashboardViewModel

@{
    ViewData["Title"] = @Localizer["Supporter Dashboard"];
}

@section Breadcrumb {
    <li class="active">@Localizer["Supporter Dashboard"]</li>
}

@section Styles
    {
    <link href="/admin/css/dataTables.bootstrap.rtl.css" rel="stylesheet" />

    <style>

        .databox-bottom {
            height: 100% !important;
        }

        .databox.databox-vertical.databox-lg {
            height: 100%;
            width: 100%;
        }

        .databox.databox-vertical.databox-halved .databox-top {
            height: 60px;
        }

        .databox-icon {
            margin-top: 10px !important;
        }

        .dropdown-menu {
            left: 0;
            right: auto;
        }
    </style>
}

@section Scripts
    {
    <script src="~/admin/js/datatable/jquery.dataTables.min.js"></script>
    <script src="~/admin/js/datatable/ZeroClipboard.js"></script>
    <script src="~/admin/js/datatable/dataTables.tableTools.min.js"></script>
    <script src="~/admin/js/datatable/dataTables.bootstrap.min.js"></script>
    <script src="~/admin/js/datatable/datatables-init.js"></script>
    <script>
        InitiateSimpleDataTable.init();
        InitiateEditableDataTable.init();
        InitiateExpandableDataTable.init();
        InitiateSearchableDataTable.init();
    </script>
}

<div class="page-body">

    <div class="row">

        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
            <div class="databox radius-bordered databox-shadowed databox-graded">
                <div class="bg-green databox-right">
                    <div class="databox-piechart">
                    </div>
                </div>
                <div class="databox-left">
                    <span class="databox-number success">@Model.CountOfTodayRegister</span>
                    <div class="databox-text darkgray"> ثبت نام های امروز</div>

                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
            <div class="databox radius-bordered databox-shadowed databox-graded">
                <div class="bg-blue databox-right">
                    <div class="databox-piechart">
                    </div>
                </div>
                <div class="databox-left">
                    <span class="databox-number primary">@Model.ListOfIncomingTodayReservationDateTime.Count()</span>
                    <div class="databox-text darkgray"> نوبت های اخذشده امروز</div>

                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
            <div class="databox radius-bordered databox-shadowed databox-graded">
                <div class="bg-blue databox-right">
                    <div class="databox-piechart">
                    </div>
                </div>
                <div class="databox-left">
                    <span class="databox-number primary">@Model.ListOfTodayReservationDateTime.Count()</span>
                    <div class="databox-text darkgray">  نوبتهای امروز</div>

                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
            <div class="databox radius-bordered databox-shadowed databox-graded">
                <a asp-area="Supporter" asp-controller="Reservation" asp-action="ListOfWaitingForPaymentRequests">
                    <div class="bg-red databox-right">
                        <div class="databox-piechart">
                        </div>
                    </div>
                    <div class="databox-left">
                        <span class="databox-number orange">@Model.CountOfWaitingForPaymentReservationRequests</span>
                        <div class="databox-text darkgray"> منتظر بررسی پشتیبان</div>

                    </div>
                </a>
            </div>
        </div>

    </div>


    <div class="row">

        @*List Of Incoming Today Reservation Date Time*@
        <partial name="_TodayReservationReserved" model="@Model.ListOfIncomingTodayReservationDateTime" />

        @*List Of Today Reservation Date Time*@
        <partial name="ListOfTodayReservationDateTime" model="@Model.ListOfTodayReservationDateTime" />

        @*Box Of Lastest Requests*@
        <partial name="_LastestRequestsPartial" model="@Model.AllRecords" />

        @*Box Of  Lastest Request For Excel File*@
        <partial name="_LastestRequestForExcelFile" model="@Model.LatestRequestForUploadExcelFile" />

        @*Box Of  Tickets List*@
        <partial name="_LastestTicketsPartial" model="@Model.ListOfLastestTickets" />

    </div>

</div>