@model DoctorFAM.Domain.ViewModels.Supporter.SuppoeterDashboardViewModel

@{
    ViewData["Title"] = @Localizer["Supporter Dashboard"];
}

@section Breadcrumb {
    <li class="active">@Localizer["Supporter Dashboard"]</li>
}

@section Styles
    {
    <link href="/admin/css/dataTables.bootstrap.rtl.css" rel="stylesheet" />

    <style>

        .databox-bottom {
            height: 100% !important;
        }

        .databox.databox-vertical.databox-lg {
            height: 100%;
            width: 100%;
        }

        .databox.databox-vertical.databox-halved .databox-top {
            height: 60px;
        }

        .databox-icon {
            margin-top: 10px !important;
        }

        .dropdown-menu {
            left: 0;
            right: auto;
        }
    </style>
}

@section Scripts
    {
    <script src="~/admin/js/datatable/jquery.dataTables.min.js"></script>
    <script src="~/admin/js/datatable/ZeroClipboard.js"></script>
    <script src="~/admin/js/datatable/dataTables.tableTools.min.js"></script>
    <script src="~/admin/js/datatable/dataTables.bootstrap.min.js"></script>
    <script src="~/admin/js/datatable/datatables-init.js"></script>
    <script>
        InitiateSimpleDataTable.init();
        InitiateEditableDataTable.init();
        InitiateExpandableDataTable.init();
        InitiateSearchableDataTable.init();
    </script>
}

<div class="page-body">

    <div class="row">

        @*Box Of Today's Reservation Requests*@
        <partial name="_TodayReservationReserved" model="@Model.DoctorReservationDateTimes" />

        @*Box Of Lastest Requests*@
        <partial name="_LastestRequestsPartial" model="@Model.AllRecords" />

        @*Box Of  Lastest Request For Excel File*@
        <partial name="_LastestRequestForExcelFile" model="@Model.LatestRequestForUploadExcelFile" />

        @*Box Of  Tickets List*@
        <partial name="_LastestTicketsPartial" model="@Model.ListOfLastestTickets" />

    </div>

</div>