@model DoctorFAM.Domain.ViewModels.UserPanel.PopulationCovered.FilterPopulationCoveredUserViewModel
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedLocalizer> SharedHtmlLocalizer

@{
    ViewData["Title"] = @Localizer["Filter population Covered"];
}

@section Scripts
{
<partial name="_UserPanelSweetAlertLocalizer" />
}

@section Breadcrumb
{
<li>
    <a href="javascript:void(0)"> @ViewData["Title"] </a>
</li>
}

<div class="row">
    <div class="col-lg-3 col-sm-12">

        <a class="btn btn-sky w-100 margin-bottom-10" asp-action="CreatePopulationCovered" asp-controller="PopulationCovered" asp-area="UserPanel"> @Localizer["Create Population Covered"] </a>

        <div class="widget">
            <div class="widget-body">
                <div>
                    <form asp-action="ListOfPopulationCovered" asp-controller="PopulationCovered" asp-area="UserPanel" id="filter-search" method="get">
                        <input type="hidden" asp-for="Page" />

                        <div class="form-group">
                            <label>@Localizer["National Id"] </label>
                            <input type="text" class="form-control" asp-for="NationalId">
                        </div>

                        <hr />

                        <div class="row">
                            <div class="col-md-12 flex-style">
                                <button type="submit" class="btn btn-labeled w-100 btn-palegreen">
                                    <i class="btn-label glyphicon glyphicon-filter"></i>@Localizer["Apply Filter"]
                                </button>

                                @if (Context.Request.QueryString.HasValue)
                                {

                                    <a asp-action="ListOfPopulationCovered" asp-controller="PopulationCovered" asp-area="UserPanel" class="btn btn-labeled w-100 btn-darkorange mr-10px ">
                                        <i class="btn-label glyphicon glyphicon-remove"></i>@Localizer["Delete Filter"]
                                    </a>
                                }
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-9 col-sm-12">
        <div class="well with-header with-footer table-responsive">
            <div class="header bordered-azure">
                <div class="flex-style">

                    <span> @Localizer["List Of Population Covered"] </span>

                    <span class="red p-5">(@Model.GetShownEntitiesPagesTitle())</span><span>نفر</span>
                </div>
            </div>

            @if (Model.Entities != null && Model.Entities.Any())
            {
                <table class="table table-hover table-bordered tc vm margin-bottom-30">
                    <thead class="tc vm">
                        <tr class="tc vm">
                            <th class="tc vm">
                                @Localizer["First Name"]
                            </th>
                            <th class="tc vm">
                                @Localizer["Last Name"]
                            </th>
                             <th class="tc vm">
                                @Localizer["National Id"]
                            </th>
                              <th class="tc vm">
                                @Localizer["Age"]
                            </th>
                            <th class="tc vm">
                                @Localizer["Options"]
                            </th>
                        </tr>
                    </thead>
                    <tbody class="tc vm">
                        @foreach (var population in Model.Entities)
                        {
                            <tr class="tc vm" remove-ajax-item="@population.Id">
                                <td class="tc vm" style="max-width: 200px">
                                    <p> @population.PatientName </p>
                                </td>
                                <td class="tc vm" style="max-width: 200px">
                                    <p> @population.PatientLastName </p>
                                </td>
                                   <td class="tc vm" style="max-width: 200px">
                                    <p> @population.NationalId </p>
                                </td>
                                    <td class="tc vm" style="max-width: 200px">
                                    <p> @population.Age </p>
                                </td>
                                <td class="tc vm">
                                    <a asp-action="EditPopulationCovered" asp-controller="PopulationCovered" asp-area="UserPanel" asp-route-id="@population.Id" class="btn btn-warning btn-circle btn-xs"><i class="glyphicon glyphicon-edit"></i></a>
                                    <button onclick="DeleteAjax(@population.Id, '@Url.Action("DeletePopulationCovered", "PopulationCovered", new {area = "UserPanel", id = population.Id})')" class="btn btn-danger btn-circle btn-xs"><i class="glyphicon glyphicon-trash"></i></button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

                <div class="footer tc">

                    <partial name="_UserPanelPaging" model="@Model.GetCurrentPaging()" />

                </div>
            }
            else
            {
                <partial name="_UserPanelNotFoundPartial" />
            }
        </div>
    </div>
</div>
