@model DoctorFAM.Domain.ViewModels.Admin.HealthHouse.HomePharmacy.HomePharmacyRequestDetailViewModel
@using DoctorFAM.Domain.ViewModels.Admin.HealthHouse.HomePharmacy
@using DoctorFAM.Web.Culture
@using DoctorFAM.Domain.ViewModels.Admin.HealthHouse
@using DoctorFAM.Application.Extensions
@using DoctorFAM.Application.Convertors
@using DoctorFAM.Domain.ViewModels.Common
@using DoctorFAM.Application.StaticTools
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = @Localizer["Home Pharmacy Request Detail"];
}

@section Scripts
{
<partial name="_JqueryValidation" />
}

@section Breadcrumb
{
<li>
    <a href="javascript:void(0)"> @Localizer["Home Pharmacy Request List"] / </a>
    <a href="javascript:void(0)"> @ViewData["Title"] </a>
</li>
}

<div class="row">

    <div class="col-lg-12 col-sm-12">
        <div class="well with-header with-footer table-responsive">
            <div class="header bordered-azure">
                <div class="flex-style">
                    <span>@Localizer["List Of Drugs"]</span>
                </div>
            </div>

            @if (Model.RequestedDrugs != null && Model.RequestedDrugs.Any())
            {
                <table class="table table-hover table-bordered tc vm text-center align-items-center">

                    <tr>
                        <th class=" text-center align-items-center">اطلاعات دارو</th>
                        <th class=" text-center align-items-center">توضیحات</th>
                    </tr>

                    @foreach (var item in Model.RequestedDrugs)
                    {
                        <tr class="tc vm text-center align-items-center">

                            @if (!string.IsNullOrEmpty(item.DrugTrakingCode))
                            {

                                <td class=" text-center align-items-center">

                                    <div class="row">

                                        <div class=col-md-6>
                                            <span>کد رهگیری نسخه/ کد ملی متقاضی</span>
                                        </div>
                                        <div class=col-md-6>
                                            <h5 style="color:#fd5b03"> @item.DrugTrakingCode</h5>
                                        </div>
                                    </div>

                                </td>
                            }
                            @if (!string.IsNullOrEmpty(item.DrugPrescription))
                            {
                                <td class=" text-center align-items-center">

                                    <div class="row">

                                        <div class=col-md-6>
                                            <span>تصویر نسخه</span>
                                        </div>
                                        <div class=col-md-6>
                                            <img src="@PathTools.DrugPrescriptionPathThumb/@item.DrugPrescription" class="avatar-style" />
                                        </div>
                                    </div>

                                </td>
                            }
                            @if (!string.IsNullOrEmpty(item.DrugImage) && !string.IsNullOrEmpty(item.DrugCount) && !string.IsNullOrEmpty(item.DrugName))
                            {
                                <td class=" text-center align-items-center">

                                    <div class="row">

                                        <div class=col-md-6>
                                            @item.DrugName - تعداد @item.DrugCount
                                        </div>
                                        <div class=col-md-6>
                                            <img src="@PathTools.DrugPrescriptionPathThumb/@item.DrugImage" class="avatar-style" />
                                        </div>
                                    </div>

                                </td>
                            }
                            else
                            {
                                @if (!string.IsNullOrEmpty(item.DrugImage))
                                {
                                    <td class=" text-center align-items-center">
                                        <span>تصویر دارو</span>
                                        <img src="@PathTools.DrugPrescriptionPathThumb/@item.DrugImage" class="avatar-style" />
                                        -
                                        تعداد @item.DrugCount
                                    </td>
                                }
                                @if (!string.IsNullOrEmpty(item.DrugCount) && !string.IsNullOrEmpty(item.DrugName))
                                {
                                    <td class=" text-center align-items-center">@item.DrugName - تعداد @item.DrugCount  </td>
                                }
                            }

                            <td class=" text-center align-items-center">@item.Description</td>

                        </tr>
                    }
                </table>
            }
            else
            {
                <partial name="_AdminNotFoundPartial" />
            }
        </div>
    </div>

</div>

<div class="row">
    <div class="col-lg-12 col-sm-12">
        <div class="widget">
            <div class="widget-header bordered-bottom bordered-green">
                <span class="widget-caption"> @Localizer["User Infos"] </span>
            </div>
            <div class="widget-body">
                <div>

                    <div class="row">
                        <div class="form-group col-md-12 col-sm-12">
                            <label asp-for="Username"></label>
                            <input type="text" class="form-control" asp-for="Username">
                            <span class="text-danger" asp-validation-for="Username"></span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-12 col-sm-12">
                            <label asp-for="Email"></label>
                            <input type="text" class="form-control" asp-for="Email" value="@(string.IsNullOrEmpty(Model.Email) ? "وارد نشده " : Model.Email)">
                            <span class="text-danger" asp-validation-for="Email"></span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-12 col-sm-12">
                            <label asp-for="Mobile"></label>
                            <input type="text" class="form-control" asp-for="Mobile">
                            <span class="text-danger" asp-validation-for="Mobile"></span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12 col-sm-12">
        <div class="widget">
            <div class="widget-header bordered-bottom bordered-green">
                <span class="widget-caption"> @Localizer["Patient Information"] </span>
            </div>
            <div class="widget-body">
                <div>

                    <div class="row">
                        <div class="form-group col-md-12 col-sm-12">
                            <label asp-for="PatientName"> @Localizer["First Name"] </label>
                            <input type="text" class="form-control" asp-for="PatientName" value="@(string.IsNullOrEmpty(Model.PatientName) ? "وارد نشده " : Model.PatientName)">
                            <span class="text-danger" asp-validation-for="PatientName"></span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-12 col-sm-12">
                            <label asp-for="PatientLastName">@Localizer["Last Name"]</label>
                            <input type="text" class="form-control" asp-for="PatientLastName" value="@(string.IsNullOrEmpty(Model.PatientLastName) ? "وارد نشده " : Model.PatientLastName)">
                            <span class="text-danger" asp-validation-for="PatientLastName"></span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-12 col-sm-12">
                            <label asp-for="NationalId">@Localizer["National Id"]</label>
                            <input type="text" class="form-control" asp-for="NationalId" value="@(string.IsNullOrEmpty(Model.NationalId) ? "وارد نشده " : Model.NationalId)">
                            <span class="text-danger" asp-validation-for="NationalId"></span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-12 col-sm-12">
                            <label asp-for="Gender">@Localizer["Patient Gender"]</label>
                            <input type="text" class="form-control" asp-for="Gender" value="@(Model.Gender == null ? "وارد نشده " : Model.Gender)">
                            <span class="text-danger" asp-validation-for="Gender"></span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-12 col-sm-12">
                            <label asp-for="Age">@Localizer["Patient Age"]</label>
                            <div class="form-con trol"> @(Model.Age == null ? "وارد نشده " : Model.Age)</div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-12 col-sm-12">
                            <label asp-for="InsuranceType">@Localizer["Patient InsuranceType"]</label>
                            <input type="text" class="form-control" asp-for="InsuranceType" value="@(Model.InsuranceType == null ? "وارد نشده " : Model.InsuranceType)">
                            <span class="text-danger" asp-validation-for="InsuranceType"></span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-12 col-sm-12">
                            <label asp-for="RequestDescription">@Localizer["Patient RequestDescription"]</label>
                            <textarea class="form-control"> @(Model.RequestDescription == null ? "وارد نشده " : Model.RequestDescription)</textarea>
                            <span class="text-danger" asp-validation-for="RequestDescription"></span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12 col-sm-12">
        <div class="widget">
            <div class="widget-header bordered-bottom bordered-green">
                <span class="widget-caption"> @Localizer["Request Detail"] </span>
            </div>
            <div class="widget-body">
                <div>

                    <div class="row">
                        <div class="form-group col-md-12 col-sm-12">
                            <label asp-for="Country"> @Localizer["Country"] </label>
                            <input type="text" class="form-control" asp-for="Country" value="@(string.IsNullOrEmpty(Model.Country) ? "وارد نشده " : Model.Country)">
                            <span class="text-danger" asp-validation-for="Country"></span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-12 col-sm-12">
                            <label asp-for="State">@Localizer["State"]</label>
                            <input type="text" class="form-control" asp-for="State" value="@(string.IsNullOrEmpty(Model.State) ? "وارد نشده " : Model.State)">
                            <span class="text-danger" asp-validation-for="State"></span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-12 col-sm-12">
                            <label asp-for="City">@Localizer["City"]</label>
                            <input type="text" class="form-control" asp-for="City" value="@(string.IsNullOrEmpty(Model.City) ? "وارد نشده " : Model.City)">
                            <span class="text-danger" asp-validation-for="City"></span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-12 col-sm-12">
                            <label asp-for="Vilage">@Localizer["Vilage"]</label>
                            <input type="text" class="form-control" asp-for="Vilage" value="@(Model.Vilage == null ? "وارد نشده " : Model.Vilage)">
                            <span class="text-danger" asp-validation-for="Vilage"></span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-12 col-sm-12">
                            <label asp-for="Phone">@Localizer["Phone"]</label>
                            <input type="text" class="form-control" asp-for="Phone" value="@(Model.Phone == null ? "وارد نشده " : Model.Phone)">
                            <span class="text-danger" asp-validation-for="Phone"></span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-12 col-sm-12">
                            <label asp-for="RequestDetailMobile">@Localizer["RequestDetailMobile"]</label>
                            <input type="text" class="form-control" asp-for="RequestDetailMobile" value="@(Model.RequestDetailMobile == null ? "وارد نشده " : Model.RequestDetailMobile)">
                            <span class="text-danger" asp-validation-for="RequestDetailMobile"></span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-12 col-sm-12">
                            <label asp-for="Distance">@Localizer["Distance"]</label>
                            <input type="text" class="form-control" asp-for="Distance" value="@(Model.Distance == null ? "وارد نشده " : Model.Distance)">
                            <span class="text-danger" asp-validation-for="Distance"></span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-12 col-sm-12">
                            <label asp-for="SendDate">@Localizer["SendDate"]</label>
                            <input type="text" class="form-control" asp-for="SendDate" value="@(Model.SendDate == null ? "وارد نشده " : Model.SendDate.Value.ToShamsi())">
                            <span class="text-danger" asp-validation-for="SendDate"></span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-12 col-sm-12">
                            <label asp-for="StartTime">@Localizer["StartTime"]</label>
                            <input type="text" class="form-control" asp-for="StartTime" value="@(Model.StartTime == null ? "وارد نشده " : Model.StartTime)">
                            <span class="text-danger" asp-validation-for="StartTime"></span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-12 col-sm-12">
                            <label asp-for="EndTime">@Localizer["Distance"]</label>
                            <input type="text" class="form-control" asp-for="EndTime" value="@(Model.EndTime == null ? "وارد نشده " : Model.EndTime)">
                            <span class="text-danger" asp-validation-for="EndTime"></span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-12 col-sm-12">
                            <label asp-for="FullAddress">@Localizer["FullAddress"]</label>
                            <textarea class="form-control"> @(Model.FullAddress == null ? "وارد نشده " : Model.FullAddress)</textarea>
                            <span class="text-danger" asp-validation-for="FullAddress"></span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


