@using DoctorFAM.Domain.Entities.SiteSetting

<!-- Page Sidebar -->
<div class="page-sidebar" id="sidebar">
    <!-- Page Sidebar Header-->
    <div class="sidebar-header-wrapper">
        <input type="text" class="searchinput" />
        <i class="searchicon fa fa-search"></i>
        <div class="searchhelper">به جستجوی صفحات، گزارشات، پیام ها و ایمیل خود بپردازید</div>
    </div>
    <!-- /Page Sidebar Header -->
    <!-- Sidebar Menu -->
    <ul class="nav sidebar-menu">
        <!--Dashboard-->
        <li>
            <a asp-area="UserPanel" asp-controller="Home" asp-action="Index">
                <i class="menu-icon glyphicon glyphicon-home"></i>
                <span class="menu-text"> @Localizer["Dashboard"] </span>
            </a>
        </li>

        <li>
            <a href="#" class="menu-dropdown">
                <i class="menu-icon fa fa-user"></i>
                <span class="menu-text"> @Localizer["Profile"] </span>

                <i class="menu-expand"></i>
            </a>

            <ul class="submenu">
                <li>
                    <a asp-area="UserPanel" asp-controller="Account" asp-action="EditProfile">
                        <span class="menu-text">@Localizer["Edit Profile"]</span>
                    </a>
                </li>

                <li>
                    <a asp-area="UserPanel" asp-controller="Account" asp-action="ChangePassword">
                        <span class="menu-text">@Localizer["Change Password"]</span>
                    </a>
                </li>
            </ul>
        </li>
        
       @* <li>
            <a href="#" class="menu-dropdown">
                <i class="menu-icon fa fa-money"></i>
                <span class="menu-text"> @Localizer["Wallet"]</span>

                <i class="menu-expand"></i>
            </a>

            <ul class="submenu">
                <li>
                    <a asp-area="User" asp-controller="Payment" asp-action="ManageWallet">
                        <span class="menu-text">@Localizer["Charge Wallet"]</span>
                    </a>
                </li>
            </ul>
        </li>*@
@*
            <li>
            <a href="#" class="menu-dropdown">
                <i class="menu-icon fa fa-ticket"></i>
                <span class="menu-text"> @Localizer["Manage Tickets"]</span>

                <i class="menu-expand"></i>
            </a>

            <ul class="submenu">
                <li>
                    <a asp-area="User" asp-controller="Ticket" asp-action="FilterTickets">
                        <span class="menu-text">@Localizer["List Of Tickets"]</span>
                    </a>
                </li>
                <li>
                    <a asp-area="User" asp-controller="Ticket" asp-action="CreateTicket">
                        <span class="menu-text">@Localizer["Create Ticket"]</span>
                    </a>
                </li>
            </ul>
        </li>*@


    </ul>
    <!-- /Sidebar Menu -->
</div>
<!-- /Page Sidebar -->