@using DoctorFAM.Domain.Entities.SiteSetting

<!-- Page Sidebar -->
<div class="page-sidebar" id="sidebar">
    <!-- Page Sidebar Header-->
    <div class="sidebar-header-wrapper">
        <input type="text" class="searchinput" />
        <i class="searchicon fa fa-search"></i>
    </div>
    <!-- /Page Sidebar Header -->
    <!-- Sidebar Menu -->
    <ul class="nav sidebar-menu">
        <!--Dashboard-->
        <li>
            <a asp-area="UserPanel" asp-controller="Home" asp-action="Index">
                <i class="menu-icon glyphicon glyphicon-home"></i>
                <span class="menu-text"> @SharedLocalizer["Dashboard"] </span>
            </a>
        </li>

        <li>
            <a asp-area="UserPanel" asp-controller="FamilyDoctor" asp-action="CheckUserHasFamilyDoctor">
                <i class="menu-icon glyphicon glyphicon-file"></i>
                <span class="menu-text"> @SharedLocalizer["Doctor Family"] </span>
                <i class="menu-expand"></i>
            </a>
        </li>

        <li>
            <a asp-area="UserPanel" asp-controller="OnlineVisit" asp-action="ListOfCurrentUserOnlineVisitRequests">
                <i class="menu-icon glyphicon glyphicon-file"></i>
                <span class="menu-text"> @SharedLocalizer["Online Visit"] </span>
                <i class="menu-expand"></i>
            </a>
        </li>

        <li>
            <a href="#" class="menu-dropdown">
                <i class="menu-icon fa fa-calendar-o"></i>
                <span class="menu-text"> @SharedLocalizer["Manage Reservation"] </span>

                <i class="menu-expand"></i>
            </a>

            <ul class="submenu">
                <li>
                    <a asp-action="ListOfReservation" asp-controller="Reservation" asp-area="UserPanel">
                        <span class="menu-text">@SharedLocalizer["List Of Reservation Date"]</span>
                    </a>
                </li>
            </ul>
        </li>

        <li>
            <a href="#" class="menu-dropdown">
                <i class="menu-icon glyphicon glyphicon-th"></i>
                <span class="menu-text"> @SharedLocalizer["Health House"] </span>
                <i class="menu-expand"></i>
            </a>

            <ul class="submenu">
                <li>
                    <a asp-action="ListOfHomeVisits" asp-controller="HealthHouse" asp-area="UserPanel">
                        <span class="menu-text"> @SharedLocalizer["Home Visit"] </span>
                    </a>
                </li>
            </ul>
            <ul class="submenu">
                <li>
                    <a asp-action="FilterHomeNurseFromUserPanel" asp-area="UserPanel" asp-controller="HealthHouse">
                        <span class="menu-text"> @SharedLocalizer["Home Nurse"] </span>
                    </a>
                </li>
            </ul>
            <ul class="submenu">
                <li>
                    <a asp-action="FilterHomePharmacyFromUserPanel" asp-area="UserPanel" asp-controller="HealthHouse">
                        <span class="menu-text"> @SharedLocalizer["Pharmacy At Home"] </span>
                    </a>
                </li>
            </ul>
            <ul class="submenu">
                <li>
                    <a asp-action="ListOfHomeLabratory" asp-area="UserPanel" asp-controller="HealthHouse">
                        <span class="menu-text"> @SharedLocalizer["Laboratory At Home"] </span>
                    </a>
                </li>
            </ul>
            <ul class="submenu">
                <li>
                    <a asp-action="ListOfHomePatientTransport" asp-area="UserPanel" asp-controller="HealthHouse">
                        <span class="menu-text"> @SharedLocalizer["Patient Transport"] </span>
                    </a>
                </li>
            </ul>
            <ul class="submenu">
                <li>
                    <a asp-action="ListOfDeathCertificate" asp-area="UserPanel" asp-controller="HealthHouse">
                        <span class="menu-text"> @SharedLocalizer["Death Certificate"] </span>
                    </a>
                </li>
            </ul>
        </li>

        <li>
            <a href="#" class="menu-dropdown">
                <i class="menu-icon fa fa-heart"></i>
                <span class="menu-text"> @SharedLocalizer["Health Test"] </span>

                <i class="menu-expand"></i>
            </a>

            <ul class="submenu">

                <li>
                    <a asp-area="" asp-controller="Diabet" asp-action="Index">
                        <span class="menu-text">@SharedLocalizer["BMI"]</span>
                    </a>
                </li>

            </ul>
        </li>

        <li>
            <a href="#" class="menu-dropdown">
                <i class="menu-icon fa fa-user"></i>
                <span class="menu-text"> @SharedLocalizer["Population Covered"] </span>

                <i class="menu-expand"></i>
            </a>

            <ul class="submenu">
                <li>
                    <a asp-area="UserPanel" asp-controller="PopulationCovered" asp-action="ListOfPopulationCovered">
                        <span class="menu-text">@SharedLocalizer["Population Covered"]</span>
                    </a>
                </li>

                <li>
                    <a asp-area="UserPanel" asp-controller="PopulationCovered" asp-action="CreatePopulationCovered">
                        <span class="menu-text">@SharedLocalizer["Create Population Covered"]</span>
                    </a>
                </li>
            </ul>
        </li>


        <li>
            <a href="#" class="menu-dropdown">
                <i class="menu-icon fa fa-ticket"></i>
                <span class="menu-text"> @SharedLocalizer["Manage Tickets"]</span>

                <i class="menu-expand"></i>
            </a>

            <ul class="submenu">
                <li>
                    <a asp-area="UserPanel" asp-controller="Ticket" asp-action="FilterTickets">
                        <span class="menu-text">@SharedLocalizer["List Of Tickets"]</span>
                    </a>
                </li>
                <li>
                    <a asp-area="UserPanel" asp-controller="Ticket" asp-action="CreateTicket">
                        <span class="menu-text">@SharedLocalizer["Create Ticket"]</span>
                    </a>
                </li>
            </ul>
        </li>

        <li>
            <a href="#" class="menu-dropdown">
                <i class="menu-icon fa fa-user"></i>
                <span class="menu-text"> @SharedLocalizer["Profile"] </span>

                <i class="menu-expand"></i>
            </a>

            <ul class="submenu">
                <li>
                    <a asp-area="UserPanel" asp-controller="Account" asp-action="EditProfile">
                        <span class="menu-text">@SharedLocalizer["Edit Profile"]</span>
                    </a>
                </li>

                <li>
                    <a asp-area="UserPanel" asp-controller="Account" asp-action="ChangePassword">
                        <span class="menu-text">@SharedLocalizer["Change Password"]</span>
                    </a>
                </li>
            </ul>
        </li>

    </ul>
    <!-- /Sidebar Menu -->
</div>
<!-- /Page Sidebar -->