@model DoctorFAM.Domain.ViewModels.Admin.FamilyDoctor.FilterFamilyDoctorViewModel
@using DoctorFAM.Application.Extensions
@using DoctorFAM.Application.Convertors
@using DoctorFAM.Domain.ViewModels.Common
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedLocalizer> SharedHtmlLocalizer


@{
    ViewData["Title"] = @Localizer["List Of Family Doctor Requests"];
}

@section Styles
    {
}

    @section Scripts
    {
    <partial name="_JqueryValidation" />
}

    @section Breadcrumb
    {
    <li>
        <a href="javascript:void(0)"> @ViewData["Title"] </a>
    </li>
}

    <div class="row">
        <div class="col-lg-3 col-sm-12">
            <div class="widget">
                <div class="widget-header bordered-bottom bordered-green">
                    <span class="widget-caption"> @Localizer["Manage Family Doctor Requests"] </span>
                </div>
                <div class="widget-body">
                    <form asp-action="FilterListOfFamilyDoctorsRequest" asp-controller="FamilyDoctor" asp-area="Admin" id="filter-search" method="get">

                        <input type="hidden" asp-for="Page" />

                        <div class="form-group">
                            <label asp-for="PatientName"> @Localizer["Patient Name"] </label>
                            <input type="text" class="form-control" asp-for="PatientName">
                        </div>

                        <div class="form-group">
                            <label asp-for="DoctorName"> @Localizer["Doctor Name"] </label>
                            <input type="text" class="form-control" asp-for="DoctorName">
                        </div>

                        <div class="form-group">
                            <label asp-for="PatientMobile"> @Localizer["Patient Mobile"] </label>
                            <input type="text" class="form-control" asp-for="PatientMobile">
                        </div>

                        <div class="form-group">
                            <label asp-for="DoctorMobile"> @Localizer["Doctor Mobile"] </label>
                            <input type="text" class="form-control" asp-for="DoctorMobile">
                        </div>

                        <div class="form-group">
                            <label asp-for="PatientNationalId"> @Localizer["Patient NationalId"] </label>
                            <input type="text" class="form-control" asp-for="PatientNationalId">
                        </div>

                        <div class="form-group">
                            <label asp-for="DoctorNationalId"> @Localizer["Doctor NationalId"] </label>
                            <input type="text" class="form-control" asp-for="DoctorNationalId">
                        </div>

                        <div class="form-group">
                            <label asp-for="FamilyDoctorRequestStateAdminFilter"> @Localizer["Order By Type"] </label>
                            <select asp-for="FamilyDoctorRequestStateAdminFilter" class="form-control" asp-items="Html.GetEnumSelectList(typeof(DoctorFAM.Domain.Enums.FamilyDoctor.FamilyDoctorRequestStateAdminFilter))"></select>
                        </div>

                        <div class="form-group">
                            <label asp-for="FamilyDoctorRequestDeleteState"> @Localizer["Order By State"] </label>
                            <select asp-for="FamilyDoctorRequestDeleteState" class="form-control" asp-items="Html.GetEnumSelectList(typeof(DoctorFAM.Domain.Enums.FamilyDoctor.FamilyDoctorRequestDeleteState))"></select>
                        </div>

                        <hr />

                        <div class="row">
                            <div class="col-md-12 flex-style">
                                <button type="submit" class="btn btn-labeled w-100 btn-palegreen">
                                    <i class="btn-label glyphicon glyphicon-filter"></i>@Localizer["Filter"]
                                </button>

                            @if (Context.Request.QueryString.HasValue)
                            {
                                <a asp-action="FilterListOfFamilyDoctorsRequest" asp-controller="FamilyDoctor" asp-area="Admin" class="btn btn-labeled w-100 btn-darkorange ">
                                    <i class="btn-label glyphicon glyphicon-remove"></i>@Localizer["Delete Filter"]
                                </a>
                            }
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="col-lg-9 col-sm-12">
        <div class="well with-header with-footer table-responsive">
            <div class="header bordered-azure">
                <div class="flex-style">
                    <span>@ViewData["Title"]</span>
                    <span>@Model.GetShownEntitiesPagesTitle()</span>
                </div>
            </div>

            @if (Model.Entities != null && Model.Entities.Any())
            {
                <table class="table table-hover table-bordered tc vm">
                    <thead class="tc vm">
                        <tr class="tc vm">
                            <th class="tc vm">
                                @Localizer["Doctor Information"]
                            </th>
                            <th class="tc vm">
                                @Localizer["User Information"]
                            </th>
                            <th class="tc vm">
                                @Localizer["States"]
                            </th>
                            <th class="tc vm">
                                @Localizer["Create Date"]
                            </th>
                            <th class="tc vm">
                                @Localizer["Possibilities"]
                            </th>
                        </tr>
                    </thead>
                    <tbody class="tc vm">
                        @foreach (var date in Model.Entities)
                        {
                            <tr class="tc vm" remove-ajax-item="@date.Id">
                                <td class="vm">
                                    <div class="flex-style-center">
                                        <img src="@date.Doctor.GetUserAvatar()" class="avatar-style" style="border-radius:50px;" />
                                        <div class="mr-10px">
                                            <span>@Localizer["Username"] : @date.Doctor.Username</span>
                                            <hr class="margin-7" />
                                            <span>@Localizer["Mobile"] : @date.Doctor.Mobile</span>
                                        </div>
                                    </div>
                                </td>
                                <td class="vm">
                                    <div class="flex-style-center">
                                        <img src="@date.Patient.GetUserAvatar()" class="avatar-style" style="border-radius:50px;" />
                                        <div class="mr-10px">
                                            <span>@Localizer["Username"] : @date.Patient.Username</span>
                                            <hr class="margin-7" />
                                            <span>@Localizer["Mobile"] : @date.Patient.Mobile</span>
                                        </div>
                                    </div>
                                </td>

                                <td class="vm">
                                    <div class="flex-style-center">
                                        <div class="mr-10px">

                                            @if (date.FamilyDoctorRequestState == DoctorFAM.Domain.Enums.FamilyDoctor.FamilyDoctorRequestState.WaitingForConfirm)
                                            {
                                                <p class="label label-warning">@Localizer["Waiting For Confirm"]</p>
                                            }
                                            @if (date.FamilyDoctorRequestState == DoctorFAM.Domain.Enums.FamilyDoctor.FamilyDoctorRequestState.Decline)
                                            {
                                                <p class="label label-danger">@Localizer["Decline"]</p>
                                            }
                                            @if (date.FamilyDoctorRequestState == DoctorFAM.Domain.Enums.FamilyDoctor.FamilyDoctorRequestState.Accepted)
                                            {
                                                <p class="label label-success">@Localizer["Accepted"]</p>
                                            }

                                        </div>
                                        <hr>
                                        <div class="mr-10px">

                                            @if (!date.IsDelete)
                                            {
                                                <p class="label label-success">@Localizer["Active"]</p>
                                            }
                                            @if (date.IsDelete)
                                            {
                                                <p class="label label-danger">@Localizer["Deleted"]</p>
                                            }

                                        </div>
                                    </div>
                                </td>

                                <td class="tc vm">
                                    <div class="flex-style-center">
                                        <div class="mr-10px">
                                            <p> @date.CreateDate.ToShamsi() </p>
                                            <hr>
                                            <p> @date.CreateDate.Hour.ToString("00"):@date.CreateDate.Minute.ToString("00"):@date.CreateDate.Second.ToString("00") </p>
                                        </div>
                                    </div>
                                </td>

                                <td class="tc vm">

                                    <a asp-action="UserSelectedFamilyDoctorRequestDetail" asp-controller="FamilyDoctor" asp-area="Admin" asp-route-requestId="@date.Id" class="btn btn-info btn-circle btn-xs"><i class="glyphicon glyphicon-eye-open"></i></a>

                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

                <div class="footer tc">

                    <partial name="_AdminPaging" model="@Model.GetCurrentPaging()" />

                </div>
            }
            else
            {
                <partial name="_AdminNotFoundPartial" />
            }
        </div>
    </div>
</div>

