@using DoctorFAM.Domain.Enums
@using DoctorFAM.Application.StaticTools
@using DoctorFAM.Domain.ViewModels.Common
@model DoctorFAM.Domain.ViewModels.Admin.Doctors.DoctorsInfo.DoctorsInfoDetailViewModel
@using DoctorFAM.Domain.ViewModels.Admin.Doctors.DoctorsInfo
@using DoctorFAM.Domain.Enums.DoctorTitleName
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedLocalizer> SharedHtmlLocalizer

@{
    ViewData["Title"] = @Localizer["Doctors Personal Infomations"];
}

@section Scripts
    {
    <partial name="_JqueryValidation" />

    <script>
        $("#DoctorsInfosType").on("change",
            function () {

                var selectedAdvertisementStatusValue = $("#DoctorsInfosType :selected").val();
                if (selectedAdvertisementStatusValue == 2) {
                    $("#RejectDescription-div").removeClass("d-none");
                } else {
                    $("#RejectDescription-div").addClass("d-none");
                }
            });
    </script>

}

@section Breadcrumb
    {
    <li>
        <a asp-action="Index" asp-controller="Home" asp-area="Admin"> @Localizer["Docotr Panel"] </a>
    </li>
    <li>
        <a href="javascript:void(0)"> @ViewData["Title"] </a>
    </li>
}

<form method="post" asp-action="DoctorsInfoDetail" asp-controller="Doctors" asp-area="Admin" enctype="multipart/form-data">
    <div class="row">
        <div class="col-lg-9 col-sm-12">
            <div class="row">

                <input type="hidden" asp-for="UserId" />
                <input type="hidden" asp-for="Id" />
                <input type="hidden" asp-for="MediacalFile" />
                <input type="hidden" asp-for="DoctorId" />

                <div class="col-lg-12">
                    <div class="widget">
                        <div class="widget-header bordered-bottom bordered-green">
                            <span class="widget-caption"> @Localizer["Doctor Information"] </span>
                        </div>
                        <div class="widget-body">
                            <div class="row">

                                @if (Model != null)
                                {
                                    <div class="form-group col-md-6 col-sm-12">
                                        <label asp-for="NationalCode"></label>
                                        <input type="text" class="form-control" asp-for="NationalCode">
                                        <span class="text-danger" asp-validation-for="NationalCode"></span>
                                    </div>

                                    <div class="form-group col-md-6 col-sm-12">
                                        <label asp-for="MedicalSystemCode"></label>
                                        <input type="text" class="form-control" asp-for="MedicalSystemCode">
                                        <span class="text-danger" asp-validation-for="MedicalSystemCode"></span>
                                    </div>

                                    <div class="form-group col-md-6 col-sm-12">
                                        <label asp-for="Gender"></label>
                                        <select asp-for="Gender" class="form-control" asp-items="Html.GetEnumSelectList(typeof(DoctorFAM.Domain.Enums.Gender.Gender))"></select>
                                        <span class="text-danger" asp-validation-for="Gender"></span>
                                    </div>

                                    <div class="form-group col-md-6 col-sm-12">
                                        <label asp-for="CountOFFreeSMSForDoctors"></label>
                                        <input type="text" class="form-control" asp-for="CountOFFreeSMSForDoctors">
                                        <span class="text-danger" asp-validation-for="CountOFFreeSMSForDoctors"></span>
                                    </div>

                                    <div class="form-group col-md-12 col-sm-12">
                                        <label asp-for="Education"></label>
                                        <input type="text" class="form-control" asp-for="Education">
                                        <span class="text-danger" asp-validation-for="Education"></span>
                                    </div>

                                    <div class="form-group col-md-6 col-sm-12">
                                        <label asp-for="Specialty"></label>
                                        <input type="text" class="form-control" asp-for="Specialty">
                                        <span class="text-danger" asp-validation-for="Specialty"></span>
                                    </div>

                                    <div class="form-group col-md-6 col-sm-12">
                                        <label asp-for="ContractPartyWithDoctorsFamily">طرف قرارداد با پزشکان خانواده</label>
                                        <input type="text" class="form-control" readonly 
                                        placeholder="@((Model.ContractPartyWithDoctorsFamily) ? "بله" : "خیر")"
                                        >
                                    </div>

                                    <div class="form-group col-md-6 col-sm-12">
                                        <label asp-for="GeneralPhone"></label>
                                        <input type="text" class="form-control" asp-for="GeneralPhone">
                                        <span class="text-danger" asp-validation-for="GeneralPhone"></span>
                                    </div>

                                    <div class="form-group col-md-6 col-sm-12">
                                        <label asp-for="ClinicPhone"></label>
                                        <input type="text" class="form-control" asp-for="ClinicPhone">
                                        <span class="text-danger" asp-validation-for="ClinicPhone"></span>
                                    </div>

                                    <div class="form-group col-md-12 col-sm-12">
                                        <label asp-for="DoctorSkills"></label>
                                        <input type="text" tagify="1" class="form-control" asp-for="DoctorSkills">
                                        <span class="text-danger" asp-validation-for="DoctorSkills"></span>
                                    </div>

                                    <div class="form-group col-md-12 col-sm-12">
                                        <label asp-for="DoctorTilteName"> لقب نمایشی </label>
                                        <select asp-for="DoctorTilteName" class="form-control" asp-items="Html.GetEnumSelectList(typeof(DoctorTilteName))"></select>
                                    </div>

                                    <hr />

                                    @if (Model.WorkAddresses != null && Model.WorkAddresses.Any())
                                    {
                                        @foreach (var item in Model.WorkAddresses)
                                        {
                                            <div class="form-group col-md-12 col-sm-12">
                                                <label asp-for="WorkAddresses"></label>
                                                <textarea type="text" class="form-control">@item.Address</textarea>
                                            </div>
                                        }
                                    }
                                }

                                <div class="form-group col-md-12 col-sm-12">
                                    <label>متن پیام پزشک برای بیماران در بخش نوبت گیری</label>
                                    <textarea asp-for="DoctorReservationAlert" class="form-control">
                                        @Model.DoctorReservationAlert
                                    </textarea>
                                </div>

                                <div class="clearfix"></div>

                                <div class="form-group col-md-12 col-sm-12">
                                    <label>@Localizer["State"]</label>
                                    <select asp-for="DoctorsInfosType" class="form-control" asp-items="Html.GetEnumSelectList(typeof(DoctorFAM.Domain.Entities.Doctors.OrganizationInfoState))"></select>
                                    <span class="text-danger" asp-validation-for="DoctorsInfosType"></span>
                                </div>

                                <div class="clearfix"></div>

                                <div class="form-group col-md-12 @(Model != null && Model.DoctorsInfosType == DoctorFAM.Domain.Entities.Doctors.OrganizationInfoState.Rejected ?"":"d-none")" id="RejectDescription-div">
                                    <label>@Localizer["Enter the reason for not confirming the information"]</label>
                                    <textarea asp-for="RejectDescription" rows="10" class="form-control" placeholder="@Localizer["Enter the reason for not confirming the information"]"></textarea>
                                    <span asp-validation-for="RejectDescription" class="text-danger"></span>
                                </div>

                                <hr class="margin-bottom-10 margin-top-10" />

                                <div class="col-md-12 flex-style">
                                    <button type="submit" class="btn btn-labeled btn-palegreen">
                                        <i class="btn-label glyphicon glyphicon-ok"></i>@Localizer["Submit"]
                                    </button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        @if (Model != null)
        {
            <div class="col-lg-3 col-sm-12">
                <div class="row">

                    <div class="col-lg-12 col-sm-12">
                        <div class="widget">
                            <div class="widget-header bordered-bottom bordered-green">
                                <span class="widget-caption"> @Localizer["Medical file/office file"]</span>
                            </div>
                            <div class="widget-body">
                                <div class="row">

                                    <input type="file" class="display-none" name="MediacalFile" id="UserAvatar" ImageInput="1" accept=".jpg,.jpeg,.png" />

                                    <div class="col-md-12">
                                        <label for="UserAvatar" class="file-input-style">
                                            <i class="glyphicon glyphicon-upload"></i>
                                            <span class="mr-8px"> @Localizer["Please select the medical file / office file"]</span>
                                        </label>
                                    </div>

                                    @{
                                        var MediacalFileUrl = PathTools.DefaultMediacalFile;

                                        if (Model != null && !string.IsNullOrEmpty(Model.MediacalFile))
                                        {
                                            MediacalFileUrl = $"{PathTools.MediacalFilePathThumb}{Model.MediacalFile}";
                                        }
                                    }

                                    <div class="col-md-12 tc mt-10px">
                                        <img src="@MediacalFileUrl" class="image-style" ImageFile="1" />
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            @if (Model != null && Model.DoctorsSelectedSpecialities != null && Model.DoctorsSelectedSpecialities.Any())
            {
                <div class="row">
                    <div class="col-lg-3 col-sm-12">
                        <div class="widget">
                            <div class="widget-header bordered-bottom bordered-success">
                                <i class="widget-icon fa fa-user black"></i>
                                <span class="widget-caption black">تخصص های انتخابی </span>
                            </div><!--Widget Header-->
                            <div class="widget-body  no-padding">
                                <div class="tickets-container">
                                    <ul class="tickets-list">

                                        @if (Model.DoctorsSelectedSpecialities != null && Model.DoctorsSelectedSpecialities.Any())
                                        {
                                            foreach (var item in Model.DoctorsSelectedSpecialities)
                                            {
                                                <li class="ticket-item">
                                                    <div class="row">
                                                        <div class="ticket-type  col-lg-12 col-sm-12 col-xs-12">
                                                            <span class="divider hidden-xs"></span>
                                                            <span class="type">@item.UniqueName</span>
                                                        </div>
                                                    </div>
                                                </li>
                                            }
                                        }

                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            }

        }

        @if (Model != null)
        {
            <div class="row">
                <div class="col-lg-3 col-sm-12">
                    <div class="widget">
                        <div class="widget-header bordered-bottom bordered-success">
                            <i class="widget-icon fa fa-usd black"></i>
                            <span class="widget-caption black">مدیریت مالی</span>
                        </div><!--Widget Header-->
                        <div class="widget-body">
                            <div class="row">

                                @if (Model.InPersonReservationTariffForDoctorPopulationCovered.HasValue)
                                {
                                    <div class="form-group col-md-12 col-sm-12">
                                        <label asp-for="InPersonReservationTariffForDoctorPopulationCovered">تعرفه ی نوبت حضوری افراد تحت پوشش شما</label>
                                        <input type="number" class="form-control" asp-for="InPersonReservationTariffForDoctorPopulationCovered">
                                        <span class="text-danger" asp-validation-for="InPersonReservationTariffForDoctorPopulationCovered"></span>
                                    </div>
                                }
                                else
                                {
                                    <div class="form-group col-md-12 col-sm-12">
                                        <label asp-for="InPersonReservationTariffForDoctorPopulationCovered">تعرفه ی نوبت حضوری افراد تحت پوشش شما</label>
                                        <input type="text" style="color:red" placeholder="وارد نشده است" class="form-control">
                                    </div>
                                }

                                @if (Model.OnlineReservationTariffForDoctorPopulationCovered.HasValue)
                                {
                                    <div class="form-group col-md-12 col-sm-12">
                                        <label asp-for="OnlineReservationTariffForDoctorPopulationCovered">تعرفه ی نوبت آنلاین افراد تحت پوشش شما</label>
                                        <input type="number" class="form-control" asp-for="OnlineReservationTariffForDoctorPopulationCovered">
                                        <span class="text-danger" asp-validation-for="OnlineReservationTariffForDoctorPopulationCovered"></span>
                                    </div>
                                }
                                else
                                {
                                    <div class="form-group col-md-12 col-sm-12">
                                        <label asp-for="OnlineReservationTariffForDoctorPopulationCovered">تعرفه ی نوبت آنلاین افراد تحت پوشش شما</label>
                                        <input type="text" style="color:red" placeholder="وارد نشده است" class="form-control">
                                    </div>
                                }

                                @if (Model.InPersonReservationTariffForAnonymousPersons.HasValue)
                                {
                                    <div class="form-group col-md-12 col-sm-12">
                                        <label asp-for="InPersonReservationTariffForAnonymousPersons">تعرفه ی نوبت حضوری افراد ناشناس</label>
                                        <input type="number" class="form-control" asp-for="InPersonReservationTariffForAnonymousPersons">
                                        <span class="text-danger" asp-validation-for="InPersonReservationTariffForAnonymousPersons"></span>
                                    </div>
                                }
                                else
                                {
                                    <div class="form-group col-md-12 col-sm-12">
                                        <label asp-for="InPersonReservationTariffForAnonymousPersons">تعرفه ی نوبت حضوری افراد ناشناس</label>
                                        <input type="text" style="color:red" placeholder="وارد نشده است" class="form-control">
                                    </div>
                                }

                                @if (Model.OnlineReservationTariffForAnonymousPersons.HasValue)
                                {
                                    <div class="form-group col-md-12 col-sm-12">
                                        <label asp-for="OnlineReservationTariffForAnonymousPersons">تعرفه ی نوبت آنلاین افراد ناشناس</label>
                                        <input type="number" class="form-control" asp-for="OnlineReservationTariffForAnonymousPersons">
                                        <span class="text-danger" asp-validation-for="OnlineReservationTariffForAnonymousPersons"></span>
                                    </div>
                                }
                                else
                                {
                                    <div class="form-group col-md-12 col-sm-12">
                                        <label asp-for="OnlineReservationTariffForAnonymousPersons">تعرفه ی نوبت آنلاین افراد ناشناس</label>
                                        <input type="text" style="color:red" placeholder="وارد نشده است" class="form-control">
                                    </div>
                                }


                            </div>
                        </div>
                    </div>

                </div>
            </div>
        }


    </div>

    @if (Model != null)
    {
        <div class="row">
            <div class="col-lg-9">
                <div class="widget">
                    <div class="widget-header bordered-bottom bordered-success">
                        <i class="widget-icon fa fa-user black"></i>
                        <span class="widget-caption black">@Localizer["Fields Of Your Interests"]</span>
                    </div><!--Widget Header-->
                    <div class="widget-body  no-padding">
                        <div class="tickets-container">
                            <ul class="tickets-list">

                                @if (Model.DoctorsInterests != null && Model.DoctorsInterests.Any())
                                {
                                    foreach (var item in Model.DoctorsInterests)
                                    {
                                        <li class="ticket-item">
                                            <div class="row">
                                                <div class="ticket-type  col-lg-12 col-sm-12 col-xs-12">
                                                    <span class="divider hidden-xs"></span>
                                                    <span class="type">@item.Title</span>
                                                    @if (item.InterestId == 5)
                                                    {
                                                        <a class="badge badge-primary" asp-action="ShowDiabetConsultantResume" asp-area="Admin" asp-controller="Doctors" asp-route-UserId="@Model.UserId">
                                                            مشاهده ی رزومه
                                                        </a>
                                                    }
                                                    @if (item.InterestId == 6)
                                                    {
                                                        <a class="badge badge-primary" asp-action="ShowBloodPressureConsultantResume" asp-area="Admin" asp-controller="Doctors" asp-route-UserId="@Model.UserId">
                                                            مشاهده ی رزومه
                                                        </a>
                                                    }
                                                </div>
                                                <div class="ticket-state bg-darkorange">
                                                    <a asp-action="DeleteDoctorSelectedInfo" asp-area="Admin" asp-controller="Doctors" asp-route-interestId="@item.InterestId" asp-route-doctorId="@Model.DoctorId" asp-route-doctorInfoId="@Model.Id">
                                                        <i class="fa fa-times"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </li>
                                    }
                                }

                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    }

</form>
