@model List<DoctorFAM.Domain.ViewModels.Admin.Doctors.ListOfDoctorsPopulationCoveredCountDetailViewModel>
@using DoctorFAM.Application.Convertors
@using DoctorFAM.Application.Extensions

@{
    ViewData["Title"] = "لیست اطلاعات جمعیت تحت پوشش پزشک";

    var countOfDoctors = ViewBag.AllOfDoctors != null ? (int)ViewBag.AllOfDoctors : 0;
    var countOfPopulationCovered = ViewBag.AllOfPopulationCovered != null ? (int)ViewBag.AllOfPopulationCovered : 0;
    var countOfUsers = ViewBag.AllOfUsersCount != null ? (int)ViewBag.AllOfUsersCount : 0;
}

@section Breadcrumb
    {
    <li>
        <a href="javascript:void(0)"> @ViewData["Title"] </a>
    </li>
}

@section Styles
    {
    <link href="/admin/css/dataTables.bootstrap.rtl.css" rel="stylesheet" />
}

@section Scripts
    {
    <script src="~/admin/js/datatable/jquery.dataTables.min.js"></script>
    <script src="~/admin/js/datatable/ZeroClipboard.js"></script>
    <script src="~/admin/js/datatable/dataTables.tableTools.min.js"></script>
    <script src="~/admin/js/datatable/dataTables.bootstrap.min.js"></script>
    <script src="~/admin/js/datatable/datatables-init.js"></script>
    <script>
        InitiateSimpleDataTable.init();
        InitiateEditableDataTable.init();
        InitiateExpandableDataTable.init();
        InitiateSearchableDataTable.init();
    </script>

    }

    <div class="row">

    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <div class="databox bg-white radius-bordered">
            <div class="bg-primary databox-right">
                <i class="fa fa-user-md" style="font-size:22px !important;"></i>
            </div>
            <div class="databox-left">
                <span class="databox-number primary">@countOfDoctors</span>
                <div class="databox-text darkgray">تعداد پزشکان</div>

            </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <div class="databox bg-white radius-bordered">
            <div class="bg-primary databox-right">
                <i class="fa fa-user" style="font-size:22px !important;"></i>
            </div>
            <div class="databox-left">
                <span class="databox-number primary">@countOfUsers</span>
                <div class="databox-text darkgray">تعداد کابران اصلی  </div>

            </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <div class="databox bg-white radius-bordered">
            <div class="bg-primary databox-right">
                <i class="fa fa-users" style="font-size:22px !important;"></i>
            </div>
            <div class="databox-left">
                <span class="databox-number primary">@countOfPopulationCovered</span>
                <div class="databox-text darkgray">تعداد کاربران تحت پوشش</div>

            </div>
        </div>
    </div>

    </div>



<div class="page-body">
    <div class="row">

        <div id="horizontal-form">

            @if (Model != null && Model.Any())
            {

                <div class="widget-body no-padding">
                    <div id="searchable_wrapper" class="dataTables_wrapper form-inline">

                        <table class="table table-bordered table-hover table-striped dataTable" id="searchable" role="grid" aria-describedby="searchable_info">
                            <thead class="bordered-darkorange">
                                <tr role="row">

                                    <th class="sorting" tabindex="0" aria-controls="searchable" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column ascending">اطلاعات پزشک</th>
                                    <th class="sorting" tabindex="0" aria-controls="searchable" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" aria-sort="ascending">تعداد کاربر اصلی</th>
                                    <th class="sorting" tabindex="0" aria-controls="searchable" rowspan="1" colspan="1" aria-label="Platform: activate to sort column ascending">تعداد کاربران تحت پوشش </th>

                                </tr>
                            </thead>

                            <tbody>

                                @foreach (var doctor in Model)
                                {
                                    <tr role="row" class="even responsive">

                                        <td class="center ">

                                            <img src="@doctor.Doctor.GetUserAvatar()" class="avatar-style" />
                                            <div class="mr-10px">
                                                <span> @doctor.Doctor.Username </span>
                                                <hr class="margin-7" />
                                                <span>تاریخ ثبت نام : @doctor.Doctor.CreateDate.ToShamsi()</span>
                                            </div>
                                        </td>

                                        <td class="center ">

                                            @doctor.ActiveUsersCount

                                        </td>

                                          <td class="center ">

                                            @doctor.UsersPopulationCoveredCount

                                        </td>

                                    </tr>

                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            }
            else
            {
                <partial name="_AdminNotFoundPartial" />
            }

        </div>
    </div>

</div>


