
<header id="site-header" class="header">
    <div class="header-middle" style="background:#4cc8ee;">
        <div class="container">
            <div class="row">
                <div class="col-md-12 d-flex align-items-center justify-content-between">
                    <a class="navbar-brand logo" href="/Home/Secpage">
                        <img id="logo-img" class="img-center" src="~/Content/images/Logo/doctorfamTes.png" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div id="header-wrap">
        <div class="container">
            <div class="row">

                <div class="col-lg-12">
                    <!-- Navbar -->
                    <nav class="navbar navbar-expand-lg">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                            <span></span>
                            <span></span>
                            <span></span>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarNavDropdown">
                            <ul class="navbar-nav ml-auto">
                                <!-- Home -->
                                <li class="nav-item ">
                                    <a class="nav-link active" href="/Home"> خانه </a>
                                </li>
                                <li class="nav-item " data-toggle="hover">

                                    <a class="nav-link " href="/Home/TeleFamItems"> دانستنیهای سلامت </a>
                                </li>
                                <li class="nav-item " data-toggle="hover">

                                    <a class="nav-link " href="/ScienceMag"> اخبار </a>
                                </li>
                                <li class="nav-item " data-toggle="hover">
                                    <a class="nav-link " href="/Home/AboutUs"> درباره ما </a>
                                </li>
                                <li class="nav-item " data-toggle="hover">
                                    <a class="nav-link " href="/Home/ContactUs"> تماس با ما </a>
                                </li>
                            </ul>
                        </div>

                        <div class="right-nav align-items-center d-flex justify-content-end">
                            <div class="text-center text-align-justify ml-1 ml-sm-1 mr-1 mr-sm-1">
                                <div class="cart">
                                    <a href="#" id="header-cart-btn"><span class="cart-badge">0</span> <i class="flaticon-shopping-cart" title="سبد خرید"></i></a>
                                    <!-- Cart List Area Start -->
                                    <ul class="cart-list">
                                        <li>
                                            <a href="#" class="image">
                                                <img src="~/Content/images/product-thumb/01.jpg" class="img-fluid cart-thumb" alt="">
                                            </a>
                                            <div class="cart-item-desc">
                                                <h6><a href="#"> ضد آفتاب </a></h6>
                                                <p>
                                                    <span class="price d-inline-block">132.000 تومان</span> -
                                                    <span dir="ltr"> 1 x</span>
                                                </p>
                                            </div>
                                        </li>
                                        <li>
                                            <a href="#" class="image">
                                                <img src="~/Content/images/product-thumb/02.jpg" class="img-fluid cart-thumb" alt="">
                                            </a>
                                            <div class="cart-item-desc">
                                                <h6><a href="#"> عینک محافظ </a></h6>
                                                <p>
                                                    <span class="price d-inline-block">28.000 تومان</span> -
                                                    <span dir="ltr"> 10 x</span>
                                                </p>
                                            </div>
                                        </li>
                                        <li class="total text-left">
                                            <span class="d-block"> کل: 160.00 تومان </span>
                                        </li>
                                        <li>
                                            <a href="product-cart.html" class="btn"> سبد خرید </a>
                                            <a href="product-checkout.html" class="btn btn-border"> پرداخت </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="search-icon ml-1 ml-sm-1 mr-1 mr-sm-1">
                                <a id="search" href="javascript:void(0)"><i class="flaticon-search" title="جستجو"></i></a>
                            </div>

                            <div class=" mr-1 mr-sm-1 text-center align-items-center">
                                <div class="row">
                                    <div class="col-4">
                                        <div class="d-flex align-items-center">
                                            <div class="language-selection ml-2">
                                                <div class="dropdown btn-Accept">
                                                    <button class=" dropdown-toggle" id="dropdownlanguage" data-toggle="dropdown"> فارسی </button>
                                                    <div class="dropdown-menu" aria-labelledby="dropdownlanguage">

                                                        <a href="#googtrans(fa|en)" class="dropdown-item lang-select" data-lang="fa"> فارسی </a>
                                                        <a href="#googtrans(fa|fa)" class="dropdown-item lang-select" data-lang="en">  انگلیسی</a>
                                                        <a href="#googtrans(fa|tu)" class="dropdown-item lang-select" data-lang="tu"> ترکی</a>
                                                        <a href="#googtrans(fa|ar)" class="dropdown-item lang-select" data-lang="ar"> عربی</a>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-5">

                                        @if (User.Identity.IsAuthenticated)
                                        {

                                            @if (ViewBag.Admin == true)
                                            {
                                                <div class="d-flex align-items-center">
                                                    <div class="language-selection ">
                                                        <div class="dropdown btn-Accept">
                                                            <button class=" dropdown-toggle " id="dropdownlanguage" data-toggle="dropdown"> @User.Identity.Name </button>
                                                            <div class="dropdown-menu" aria-labelledby="dropdownlanguage">

                                                                <a asp-action="Index" asp-area="Admin" asp-controller="Home" class="dropdown-item "> پنل ادمین </a>
                                                                <a asp-action="Index" asp-area="Doctor" asp-controller="Home" class="dropdown-item ">  پنل پزشک</a>
                                                                <a asp-action="Index" asp-area="Supporter" asp-controller="Home" class="dropdown-item "> پنل پشتیبان</a>
                                                                <a asp-action="Index" asp-area="Market" asp-controller="Home" class="dropdown-item "> پنل فروشنده  </a>
                                                                <a asp-action="Index" asp-area="UserPanel" asp-controller="Home" class="dropdown-item "> پنل کاربر</a>
                                                                <a asp-action="Logout" asp-controller="Account" class="dropdown-item"> خروج</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            }


                                            @if (ViewBag.Doctor == true)
                                            {
                                                <div class="d-flex align-items-center">
                                                    <div class="language-selection ">
                                                        <div class="dropdown btn-Accept">
                                                            <button class=" dropdown-toggle " id="dropdownlanguage" data-toggle="dropdown"> @User.Identity.Name </button>
                                                            <div class="dropdown-menu" aria-labelledby="dropdownlanguage">
                                                                <a asp-action="Index" asp-area="Doctor" asp-controller="Home" class="dropdown-item ">  پنل پزشک</a>

                                                                <a asp-action="Index" asp-area="UserPanel" asp-controller="Home" class="dropdown-item "> پنل کاربر</a>

                                                                <a asp-action="Logout" asp-controller="Account" class="dropdown-item"> خروج</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            }

                                             @if (ViewBag.Pharmacy == true)
                                            {
                                                <div class="d-flex align-items-center">
                                                    <div class="language-selection ">
                                                        <div class="dropdown btn-Accept">
                                                            <button class=" dropdown-toggle " id="dropdownlanguage" data-toggle="dropdown"> @User.Identity.Name </button>
                                                            <div class="dropdown-menu" aria-labelledby="dropdownlanguage">
                                                                <a asp-action="Index" asp-area="Pharmacy" asp-controller="Home" class="dropdown-item ">  پنل داروخانه</a>

                                                                <a asp-action="Index" asp-area="UserPanel" asp-controller="Home" class="dropdown-item "> پنل کاربر</a>

                                                                <a asp-action="Logout" asp-controller="Account" class="dropdown-item"> خروج</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            }

                                            @if (ViewBag.Seller == true)
                                            {
                                                <div class="d-flex align-items-center">
                                                    <div class="language-selection ">
                                                        <div class="dropdown btn-Accept">
                                                            <button class=" dropdown-toggle " id="dropdownlanguage" data-toggle="dropdown"> @User.Identity.Name </button>
                                                            <div class="dropdown-menu" aria-labelledby="dropdownlanguage">
                                                                <a asp-action="Index" asp-area="Market" asp-controller="Home" class="dropdown-item "> پنل فروشنده  </a>

                                                                <a asp-action="Index" asp-area="UserPanel" asp-controller="Home" class="dropdown-item "> پنل کاربر</a>

                                                                <a asp-action="Logout" asp-controller="Account" class="dropdown-item"> خروج</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            }

                                            @if (ViewBag.DoctorOfficeEmployee == true)
                                            {
                                                <div class="d-flex align-items-center">
                                                    <div class="language-selection ">
                                                        <div class="dropdown btn-Accept">
                                                            <button class=" dropdown-toggle " id="dropdownlanguage" data-toggle="dropdown"> @User.Identity.Name </button>
                                                            <div class="dropdown-menu" aria-labelledby="dropdownlanguage">
                                                                <a asp-action="Index" asp-area="Doctor" asp-controller="Home" class="dropdown-item ">  پنل پزشک</a>

                                                                <a asp-action="Index" asp-area="UserPanel" asp-controller="Home" class="dropdown-item "> پنل کاربر</a>

                                                                <a asp-action="Logout" asp-controller="Account" class="dropdown-item"> خروج</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            }

                                            @if (ViewBag.Supporter == true)
                                            {
                                                <div class="d-flex align-items-center">
                                                    <div class="language-selection ">
                                                        <div class="dropdown btn-Accept">
                                                            <button class=" dropdown-toggle " id="dropdownlanguage" data-toggle="dropdown"> @User.Identity.Name </button>
                                                            <div class="dropdown-menu" aria-labelledby="dropdownlanguage">
                                                                <a asp-action="Index" asp-area="Supporter" asp-controller="Home" class="dropdown-item "> پنل پشتیبان</a>

                                                                <a asp-action="Index" asp-area="UserPanel" asp-controller="Home" class="dropdown-item "> پنل کاربر</a>

                                                                <a asp-action="Logout" asp-controller="Account" class="dropdown-item"> خروج</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            }

                                            @if (ViewBag.User == true)
                                            {
                                                <div class="d-flex align-items-center">
                                                    <div class="language-selection ">
                                                        <div class="dropdown btn-Accept">
                                                            <button class=" dropdown-toggle " id="dropdownlanguage" data-toggle="dropdown"> @User.Identity.Name </button>
                                                            <div class="dropdown-menu" aria-labelledby="dropdownlanguage">
                                                                <a asp-action="Index" asp-area="UserPanel" asp-controller="Home" class="dropdown-item "> پنل کاربر</a>

                                                                <a asp-action="Logout" asp-controller="Account" class="dropdown-item"> خروج</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            }

                                        }
                                        else
                                        {

                                            <a asp-action="Login" asp-controller="Account" class="btn-Accept "><span> ورود/ثبت‌نام </span></a>

                                        }
                                    </div>
                                </div>
                            </div>

                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>

</header>




<div class="search-input" id="search-input-box">
    <div class="container ">
        <form class="d-flex justify-content-between search-inner" style="color:white !important;">
            <input type="text" class="form-control" id="search-input" placeholder="جستجو ">
            <button type="submit" class="btn"></button> <span class="flaticon-close" id="close-search" title="Close Search"></span>
        </form>
    </div>
</div>
<!--header end-->
