@model List<DoctorFAM.Domain.ViewModels.Site.Doctor.DoctorVideosDTO>
@using DoctorFAM.Application.Convertors
@using DoctorFAM.Application.Extensions
@using DoctorFAM.Application.StaticTools

@if (Model != null && Model.Any())
{
    @foreach (var post in Model)
    {
        if (post.IsStory)
        {
            <div class="col-lg-12">
                <div class="central-meta">
                    <ul class="photos">
                        <li style="width: 100%;">
                            <a class="strip"href="@PathTools.StoryFile@post.VideoBanner" data-strip-group="mygroup" data-strip-group-options="loop: false">
                                <img src="@PathTools.StoryFile@post.VideoBanner" alt="">
                            </a>
                            <p> 
                                @post.Description
                            </p>
                        </li>
                    </ul>
                </div><!-- photos -->
            </div>
        }
        else
        {
            <div class="col-lg-12">
                <div class="central-meta">
                    <ul class="photos">
                        <li style="width: 100%;">
                            <a class="strip" href="@PathTools.HealthInformationAttachmentFilesImagePath@post.VideoBanner" data-strip-group="mygroup" data-strip-group-options="loop: false">
                                <img src="@PathTools.HealthInformationAttachmentFilesImagePath@post.VideoBanner" alt="">
                            </a>
                            <p>
                                @post.Description
                            </p>
                        </li>
                    </ul>
                </div><!-- photos -->
            </div>
        }
    }
}

