@model List<DoctorFAM.Domain.ViewModels.Site.Doctor.Resume.Honor.HonorResumeInSitePanelViewModel>
@using DoctorFAM.Application.Convertors
@using DoctorFAM.Application.Extensions
@using DoctorFAM.Application.StaticTools



@if (Model != null && Model.Any())
{

    <div class="widget">
        <div class="banner medium-opacity bluesh">
            <div style="background-image: url(images/resources/baner-widgetbg.jpg)" class="bg-image"></div>
            <div class="baner-top">
                <span><img src="images/book-icon.png" alt="">جوایز و افتخارات</span>

            </div>
            <div class="banermeta">
                <div class="row  ">

                    @*Box Of Honors*@
                    @foreach (var item in Model)
                    {
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            @if (!string.IsNullOrEmpty(item.HonorTitle))
                            {
                                <p class="text-white"><u>@item.HonorTitle</u></p>
                            }
                            @if (item.HonorDate != null)
                            {
                                <p class="text-white">@item.HonorDate.ToShamsi()</p>
                            }
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            @if (!string.IsNullOrEmpty(item.ImageName))
                            {
                                <a href="@PathTools.HonorPathThumb@item.ImageName" target="_blank"> <img style="border-radius: 8px;height: 90px;" src="@PathTools.HonorPathThumb@item.ImageName" /></a>
                            }
                        </div>
                        <div class="col-md-12">
                            @if (!string.IsNullOrEmpty(item.Description))
                            {
                                <p class="text-white">@item.Description </p>
                            }
                            
                        </div>
                      
                       
                    }

                </div>
                <hr />
            </div>
        </div>
    </div>

}










