@model DoctorFAM.Domain.ViewModels.Site.Reservation.ShowDoctorReservationDetailViewModel
@using DoctorFAM.Application.Extensions
@using DoctorFAM.Application.Convertors
@using DoctorFAM.Application.Utils

@{
    ViewBag.Title = "دریافت نوبت";
}

@{
    List<DoctorFAM.Domain.Entities.DoctorReservation.DoctorReservationDate> doctorDaysList = ViewBag.FutureDates as List<DoctorFAM.Domain.Entities.DoctorReservation.DoctorReservationDate>;
}

@section Scripts
    {
    <partial name="_JqueryValidation" />

    <script>

        //#region Choose Reservation Type

        function ChooseReservationType(reservationDateTimeId, doctorId) {
            $.ajax({
                url: "/Choose-Type-Of-Reservation",
                type: "get",
                data: {
                    reservationDateTimeId: reservationDateTimeId,
                    doctorId: doctorId
                },
                success: function (response) {
                    $("#modal-body").html(response);

                    $('#ChooseReservationType').data('validator', null);
                    $.validator.unobtrusive.parse('#ChooseReservationType');

                    $("#exampleModal").modal("show");
                }
            });
        }

        //#endregion

    </script>

}


<div class="">


    <div class="row Doc_Banner_Div ">
        <div class="container">
            <div class="col-md-4 text-center justify-content-center mt-2">

                <div class="row Doc_name_Div">
                    <div class="col-md-4">
                        <img src="/content/images/user/@((string.IsNullOrEmpty(Model.DoctorPageInReservationViewModel.UserAvatar)) ? "DefaultAvatar.png" : $"thumb/{Model.DoctorPageInReservationViewModel.UserAvatar}")" style="border-radius:50%; width:90px; height:90px; border:1px solid #fccf9a;" alt="Doctor Image">
                    </div>
                    <div class="col-md-8">
                        <h4 class="text-center justify-content-center doc-name">دکتر: @Model.DoctorPageInReservationViewModel.Username</h4>
                        <p class="text-center justify-content-center clinic-services2"> @((!string.IsNullOrEmpty(Model.DoctorPageInReservationViewModel.Specialist)) ? Model.DoctorPageInReservationViewModel.Specialist : null) </p>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-md-5"></div>
                    <div class="col-md-7" style="border-right:1px solid #cccccc;">
                        <p class="text-center justify-content-center clinic-services2 ">نوع ویزیت: آنلاین - حضوری</p>
                    </div>
                </div>

                @*<p class="text-center justify-content-center clinic-services2">   @((!string.IsNullOrEmpty(Model.DoctorPageInReservationViewModel.Education)) ? Model.DoctorPageInReservationViewModel.Education : null) </p>*@


            </div>
            <div class="col-md-8 text-center justify-content-center "></div>
        </div>
    </div>
    <div class="col-md-12 text-center justify-content-center p-5">
        <h5>  کاربر گرامی، جهت اخذ نوبت، تاریخ و ساعت مورد نظر خود را از لیست زیر انتخاب نمایید:</h5>

        @if (Model.ListOfReservationDateAndReservationDateTime != null && Model.ListOfReservationDateAndReservationDateTime.Any())
        {
            <div class=" mt-5">
                <div class="row text-center justify-contnet-center">
                    <div class="card m-1 p-1">
                        <div class="schedule-cont">
                            <div class="row">
                                <div class="col-md-12">

                                    <div class="time-slot">
                                        <ul class="clearfix">
                                            @foreach (var reserve in Model.ListOfReservationDateAndReservationDateTime)
                                            {
                                                <div class="row">
                                                    <div class="col-md-2 col-sm-12  mt-4 mb-3 ">
                                                        <span class=" NotbtnDay">@reserve.DoctorReservationDate.ReservationDate.ToStringShamsiDate()</span>
                                                    </div>
                                                    <div class="col-md-10 col-sm-10">
                                                        <div class="owl-carousel" data-items="6" data-lg-items="6" data-md-items="6" data-margin="1" data-sm-items="2" data-xs-items="2" data-autoplay="false">

                                                            @foreach (var reserveTime in reserve.DoctorReservationDateTimes)
                                                            {
                                                                <div class="item m-2">

                                                                    <button onclick="ChooseReservationType(@reserveTime.Id,@Model.UserId)" type="button" class="Notbtn2" data-toggle="modal" data-target="#exampleModal">
                                                                        ساعت <span> @string.Concat(reserveTime.StartTime.Reverse().Skip(3).Reverse()) </span>
                                                                    </button>

                                                                </div>

                                                            }
                                                        </div>
                                                    </div>
                                                </div>

                                            }
                                        </ul>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        }




    </div>
    <div class="row text-center justify-content-center">
        <div class="col-md-3"></div>
        <div class=" col-md-6 text-center justify-content-center ">
            <a asp-action="DocBooking" asp-area="" asp-controller="FocalPoint" asp-route-userId="@Model.UserId" class="btn btn-primary col-md-12 btn-Accept"> نمایش تاریخهایی که پزشک برای اخذ نوبت فعال کرده است </a>
            <p style="color:red; font-size:15px; ">بر روی روز مورد نظر خود کلیک کنید تا ساعتهای فعال، نمایش داده شوند.</p>
        </div>
        <div class="col-md-3"></div>

    </div>
    @if (doctorDaysList != null)
    {

        <div class=" booking-schedule schedule-widget">
            <div class="schedule-cont">
                <div class="container">
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-10">

                            <div class="time-slot">
                                <ul class="clearfix">

                                    @foreach (var day in doctorDaysList)
                                    {

                                        <li class="form-group col-md-2 col-sm-12 NotbtnDay22" style="margin-top:10px;">
                                            <a asp-action="DocBooking" asp-area="" asp-controller="FocalPoint" asp-route-userId="@Model.UserId" asp-route-loggedDateTime="@day.ReservationDate.ToShamsi()">
                                                <span class=" ">   @day.ReservationDate.ToStringShamsiDate()</span>
                                            </a>
                                        </li>
                                    }

                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>


    }
    
   @* <div class="container mt-5">
        <div class="row text-center justify-contnet-center">

            <div class="col-md-12 text-center justify-contnet-center">
                <h6>در صورتیکه تاریخهای موجود در لیست بالا برای شما مناسب نیست،  با کلیک بر روی این دکمه تاریخ مورد نظر خود را بیابید:</h6>
            </div>
            <div class="col-md-12 text-center justify-contnet-center">
                <form asp-action="DocBooking" asp-area="" asp-controller="FocalPoint" method="post">
                    <input type="hidden" asp-for="UserId" />

                    <h5> @((Model.DoctorReservationDate != null) ? Model.DoctorReservationDate.ReservationDate.ToStringShamsiDate() : "")</h5>


                    <div class="row text-center justify-content-center">
                        <div class="col-md-4"></div>
                        <div class="form-group col-md-4 text-center justify-content-center">
                            <input type="text" class="form-control col-md-12 text-center justify-content-center" DatePicker="1" asp-for="LoggedDateTime" style="z-index:9999!important;">
                            <input type="submit" class="btn btn-primary col-md-12 btn-Accept" value="جستجوی تاریخ" placeholder="ثبت نوبت" />

                        </div>
                        <div class="col-md-4"></div>

                    </div>

                </form>
            </div>

        </div>
    </div>
*@


    @if (Model.DoctorReservationDateTimes != null && Model.DoctorReservationDateTimes.Any())
    {
       

        <div class=" booking-schedule schedule-widget">
            
            <div class="schedule-cont">
                <div class="row">
                    <div class="col-md-12">
                        @if (Model.DoctorReservationDate != null)
                        {
                            <div class="row">
                                <div class="col-md-4 "></div>
                                <div class="col-md-4   text-center justify-contnet-center">
                                    <h4 class="  ">@Model.DoctorReservationDate.ReservationDate.ToStringShamsiDate()</h4>
                                </div>
                                <div class="col-md-4 "></div>
                            </div>
                            
                        }
                        <div class="time-slot">
                            <ul class="clearfix">

                                @foreach (var item in Model.DoctorReservationDateTimes)
                                {
                                    @if (item.DoctorReservationState == DoctorFAM.Domain.Enums.DoctorReservation.DoctorReservationState.NotReserved)
                                    {
                                        <li class="form-group col-md-2 col-sm-12" style="margin-top:10px;">
                                            <button onclick="ChooseReservationType(@item.Id,@Model.UserId)" type="button" class="Notbtn33" data-toggle="modal" data-target="#exampleModal">                                               
                                                ساعت <span> @string.Concat(item.StartTime.Reverse().Skip(3).Reverse()) </span>
                                            </button>
                                        </li>
                                    }
                                }

                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    }
</div>

