
@model DoctorFAM.Domain.ViewModels.Site.Doctor.DoctorPageInReservationViewModel
@using DoctorFAM.Application.Extensions
@using DoctorFAM.Application.Convertors

@{
    ViewBag.Title = "پروفایل پزشک";
}

<div class="content">
    <div class="container">

        <div class="card m-2 ">
            <div class="card-body">
                <div class="doctor-widget">
                    <div class="doc-info-left">
                        <div class="doctor-img">
                            <img src="/content/images/user/@((string.IsNullOrEmpty(Model.UserAvatar)) ? "DefaultAvatar.png" : $"thumb/{Model.UserAvatar}")" class="img-fluid" alt="User Image">
                        </div>
                        <div class="doc-info-cont">
                            <h4 class="doc-name">پزشک:دکتر @Model.Username</h4>
                            <p class="doc-speciality"> @((!string.IsNullOrEmpty(Model.Education)) ? Model.Education : null) - @((!string.IsNullOrEmpty(Model.Specialist)) ? Model.Specialist : null) </p>

                            <div class="rating">
                                <i class="fas fa-star filled"></i>
                                <i class="fas fa-star filled"></i>
                                <i class="fas fa-star filled"></i>
                                <i class="fas fa-star filled"></i>
                                <i class="fas fa-star"></i>
                                <span class="d-inline-block average-rating">(35)</span>
                            </div>
                            <hr />
                            <div class="clinic-details">
                                <p class="doc-location">
                                    @if (!string.IsNullOrEmpty(Model.CountryName) || !string.IsNullOrEmpty(Model.StateName) || !string.IsNullOrEmpty(Model.CityName))
                                    {
                                        <i class="fas fa-map-marker-alt"></i>
                                    }

                                    @((!string.IsNullOrEmpty(Model.CountryName)) ? Model.CountryName + "-" : null)
                                    @((!string.IsNullOrEmpty(Model.StateName)) ? Model.StateName + "-" : null)
                                    @((!string.IsNullOrEmpty(Model.CityName)) ? Model.CityName : null)

                                    <br />
                                    @if (!string.IsNullOrEmpty(Model.WorkAddress))
                                    {
                                        <i class="fas fa-map-marker-alt"></i>
                                    }
                                    @((string.IsNullOrEmpty(Model.WorkAddress)) ? null : Model.WorkAddress)
                                    <br />
                                    @*Box Of Work Address*@
                                    <partial name="_WorkAddressPartialINLine" model="@Model.WorkingAddressResume" />
                                    <br />
                                    @((!string.IsNullOrEmpty(Model.ClinicPhone)) ? Model.ClinicPhone : null)
                                    
                                    <br />
                                    @((!string.IsNullOrEmpty(Model.GeneralPhone)) ? Model.GeneralPhone : null)
                                   

                                </p>

                               
                                @*Box Of Gallery*@
                                <partial name="_GalleryPartial" model="@Model.GalleryResume" />

                            </div>
                            <div class="clinic-services">
                                <span>آنلاین</span>

                                @if (!string.IsNullOrEmpty(Model.CountryName) || !string.IsNullOrEmpty(Model.StateName) || !string.IsNullOrEmpty(Model.CityName))
                                {
                                    <span>حضوری</span>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="doc-info-right">
                        @*<div class="clini-infos">
                        <ul>
                        <li><i class="far fa-thumbs-up"></i> 99%</li>
                        <li><i class="far fa-comment"></i> 35 فیدبک </li>

                        <li><i class="far fa-money-bill-alt"></i> حق ویزیت: سامانه </li>
                        </ul>
                        </div>*@
                        @*<div class="doctor-action">
                        <a href="javascript:void(0)" class="btnDoc btn-white fav-btn">
                        <i class="far fa-bookmark"></i>
                        </a>
                        <a href="chat.html" class="btnDoc btn-white msg-btn">
                        <i class="far fa-comment-alt"></i>
                        </a>
                        <a href="javascript:void(0)" class="btnDoc btn-white call-btn" data-bs-toggle="modal" data-bs-target="#voice_call">
                        <i class="fas fa-phone"></i>
                        </a>
                        <a href="javascript:void(0)" class="btnDoc btn-white call-btn" data-bs-toggle="modal" data-bs-target="#video_call">
                        <i class="fas fa-video"></i>
                        </a>
                        </div>*@
                       
                        <div class="clinic-booking mt-3">
                            <a class="apt-btn " asp-action="DocBooking" asp-controller="FocalPoint" asp-area="" asp-route-userId="@Model.UserId">رزرو نوبت</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @if (Model.Resume != null && Model.Resume.ResumeState == DoctorFAM.Domain.Enums.ResumeState.ResumeState.Accepted)
        {
            <div class="card">
                <div class="card-body pt-0">

                    <nav class="user-tabs mb-4">
                        <ul class="nav nav-tabs nav-tabs-bottom nav-justified">
                            <li class="nav-item">
                                <a class="nav-link active" href="#doc_overview" data-bs-toggle="tab"> رزومه </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="#doc_reviews" data-bs-toggle="tab">گواهینامه ها</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#doc_business_hours" data-bs-toggle="tab">کلیپها </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#doc_locations" data-bs-toggle="tab"> آدرس محل کار </a>
                            </li>
                        </ul>
                    </nav>

                    <div class="tab-content pt-0">

                        <div role="tabpanel" id="doc_overview" class="tab-pane fade show active">

                            @*Box Of ABout Me*@
                            <partial name="_LastestAboutMePartial" model="@Model.ResumeAboutMeSitePanelViewModel" />

                            <div class="row  text-center justify-content-center">

                                @*Box Of Education*@
                                <partial name="_EducationPartial" model="@Model.EducationResume" />

                                @*Box Of Work History*@
                                <partial name="_WorkHistoryPartial" model="@Model.WorkHistoryResume" />

                            </div>

                            <div class="row  text-center justify-content-center">

                                @*Box Of Honors*@
                                <partial name="_HonorsPartial" model="@Model.HonorResume" />

                            </div>

                            <div class="row text-center justify-content-center">

                                @*Box Of Services*@
                                <partial name="_ServicesPartial" model="@Model.ServiceResume" />

                            </div>

                        </div>

                        @*Box Of Work Address*@
                        <partial name="_WorkAddressPartial" model="@Model.WorkingAddressResume" />

                        @*Box Of Certificate*@
                        <partial name="_CertificatePartial" model="@Model.CertificateResume" />

                        <div role="tabpanel" id="doc_business_hours" class="tab-pane fade">
                            <div class="row">
                                <div class="col-md-6 offset-md-3">

                                    <div class="widget business-widget">
                                        <div class="widget-content">
                                            <div class="listing-hours">
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        }

    </div>
</div>