@model DoctorFAM.Domain.ViewModels.Site.Reservation.ReservationFactorSiteSideViewModel
@using DoctorFAM.Application.Convertors
@using DoctorFAM.Application.Extensions
@using DoctorFAM.Application.StaticTools

@{
    ViewData["Title"] = "پیش فاکتور ";
}

@section Styles
    {
    <!--Basic Styles-->
    <link href="/admin/css/bootstrap.min.css" rel="stylesheet">
    <link id="bootstrap-rtl-link" href="/admin/css/bootstrap-rtl.min.css" rel="stylesheet">
    <link href="/admin/css/font-awesome.min.css" rel="stylesheet">
    <link href="/admin/css/weather-icons.min.css" rel="stylesheet">

    <!--Fonts-->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,600,700,300" rel="stylesheet" type="text/css">

    <!--Beyond styles-->
    <link id="beyond-link" href="/admin/css/beyond-rtl.min.css" rel="stylesheet">
    <link href="/admin/css/demo.min.css" rel="stylesheet">
    <link href="/admin/css/typicons.min.css" rel="stylesheet">
    <link href="/admin/css/animate.min.css" rel="stylesheet">
    <link id="skin-link" href="" rel="stylesheet" type="text/css">
}

@section Scripts
    {
    <partial name="_JqueryValidation" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.3/html2pdf.bundle.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function ($) {

            $(document).on('click', '.btn_print', function (event) {
                event.preventDefault();

                //credit : https://ekoopmans.github.io/html2pdf.js

                var element = document.getElementById('container_content');

                //easy
                html2pdf().from(element).save();

            });
        });
    </script>
    }

<div class="row mt-5" id="container_content">
    <div class="col-lg-3 col-sm-12 col-xs-12">
    </div>
    <div class="col-lg-6 col-sm-12 col-xs-12">
        <div class="well invoice-container" style="background-color: #ff9445;">

            @if (ViewBag.Reminder)
            {
                <div class="row">
                    <div class="col-lg-12 col-sm-12 col-xs-12">
                        <div class="panel panel-default">
                            <div class="panel-heading  text-center justify-content-center">
                                <h2 style="color:red">توجه :</h2>
                            </div>
                            <div class="panel-body">
                                <ul>

                                    <li style="font-weight:700; ">
                                        کاربر گرامی، شما قبلا یک نوبت رزور کرده، ولی آنرا نهایی نکرده اید. در صورت تمایل به نهایی سازی آن ابتدا فاکتور مربوط به نوبت قبلی را پرداخت و سپس برای نوبت جدید اقدام کنید. در غیر اینصورت برای دریافت نوبت جدید دکمه انصراف را بزنید.  

                                        
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            }

            <div class="row">
                <div class="col-lg-12 col-sm-12 col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-heading  text-center justify-content-center">
                            <h4 style="color:red"><b>قبل از ورود به درگاه بانکی حتما به توضیحات زیر توجه نمایید</b></h4>
                        </div>
                        <div class="panel-body">
                            <ul>

                                <li style="font-weight:700; ">
                                    کاربر گرامی نوبت انتخابی شما هنوز ثبت نهایی نشده است برای ثبت نهایی نوبت باید مبلغ @Model.ReservationPrice.ToString("#,000") ریال را پرداخت کنید .
                                </li>

                                <li>
                                    مبلغی که پرداخت میکنید بابت بیعانه ی ویزیت پزشک بوده و در صورتیکه ویزیت پزشک بیشتر از مبلغ پرداختی باشد، مابقی ویزیت پزشک را باید در مطب پرداخت نمایید .
                                </li>

                                <li>
                                    اگر تصمیم بر لغو نوبت اخذ شده داشتید 72 ساعت قبل از نوبت باید نسبت به لغو آن اقدام نمایید در غیر این صورت مبلغ فوق عودت داده نمی شود.
                                </li>

                                <li style="font-weight:700; ">
                                     جهت ثبت نهایی نوبت دکمه پرداخت و نهایی سازی را کلیک کنید تا به درگاه بانکی منتقل شوید .
                                </li>

                                <li>
                                    در غیر اینصورت با زدن دکمه انصراف به صفحه اول سامانه برگردید .
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div> <!-- / end client details section -->

            <table class="table table-bordered mt-3 table-striped">
                <thead>
                    <tr>
                        <th><h5 class="no-margin-bottom">عنوان </h5></th>
                        <th><h5 class="no-margin-bottom">توضیح </h5></th>
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <td>نام و نام خانوادگی بیمار</td>
                        @if (Model.AnotherPatientSiteSide != null)
                        {
                            <td>
                                @(!string.IsNullOrEmpty(Model.AnotherPatientSiteSide.FristName) ? Model.AnotherPatientSiteSide.FristName : " ")

                                -

                                @(!string.IsNullOrEmpty(Model.AnotherPatientSiteSide.LastName) ? Model.AnotherPatientSiteSide.LastName : " ")
                            </td>
                        }
                        else
                        {
                            <td>@((!string.IsNullOrEmpty(Model.PatientUsername)) ? Model.PatientUsername : "وارد نشده")</td>
                        }
                    </tr>

                    <tr>
                        <td >نام پزشک</td>
                        <td style="font-weight:700;  color:red;">دکتر  @((!string.IsNullOrEmpty(Model.DoctorUsername)) ? Model.DoctorUsername : "وارد نشده")</td>
                    </tr>

                    <tr>
                        <td>تاریخ نوبت</td>
                        <td style="font-weight:700;  color:red;">@Model.ReservationDate.ToStringShamsiDate()</td>
                    </tr>

                    <tr>
                        <td >ساعت مراجعه</td>
                        <td style="font-weight:700;  color:red;">@string.Concat(Model.ReservationDateTime.Reverse().Skip(3).Reverse())</td>
                    </tr>

                    <tr>
                        <td >مبلغ پرداختی</td>
                        <td style="font-weight:700;  color:red;">@Model.ReservationPrice.ToString("#,000") ریال</td>
                    </tr>

                </tbody>
            </table>

            <table class="table table-bordered table-striped">
                
                <tbody>

                    <tr>
                        <td class="text-center">
                            <a class="btn btn-sccess " style="background-color:green;color:white;"
                               asp-action="RedirectToBankPortableForPayReservationTariff"
                               asp-area=""
                               asp-controller="FocalPoint"
                               asp-route-reservatioonDateTimeId="@Model.ReservationDateTimeId">
                                پرداخت و نهایی سازی
                            </a>
                        </td>
                        <td class="text-center">
                            <a class="btn btn-sccess " style="background-color:red;color:white;"
                               asp-action="CancelReservationRequestFromPatient"
                               asp-area=""
                               asp-controller="FocalPoint"
                               asp-route-reservatioonDateTimeId="@Model.ReservationDateTimeId">
                                انصراف
                            </a>
                        </td>
                    </tr>

                </tbody>
            </table>

            

        </div>
    </div>
</div>


