@model List<DoctorFAM.Domain.ViewModels.Admin.Dashboard.RequestForSendSMSFromDoctorsToTheUsersAdminSideViewModel>
@using DoctorFAM.Application.Convertors
@using DoctorFAM.Application.Extensions

@{
    ViewData["Title"] = "لیست درخواست های ارسال پیامک";
}

@section Breadcrumb
    {
    <li>
        <a href="javascript:void(0)"> @ViewData["Title"] </a>
    </li>
}

    @section Styles
    {
    <link href="/admin/css/dataTables.bootstrap.rtl.css" rel="stylesheet" />
}

    @section Scripts
    {
    <script src="~/admin/js/datatable/jquery.dataTables.min.js"></script>
    <script src="~/admin/js/datatable/ZeroClipboard.js"></script>
    <script src="~/admin/js/datatable/dataTables.tableTools.min.js"></script>
    <script src="~/admin/js/datatable/dataTables.bootstrap.min.js"></script>
    <script src="~/admin/js/datatable/datatables-init.js"></script>
    <script>
        InitiateSimpleDataTable.init();
        InitiateEditableDataTable.init();
        InitiateExpandableDataTable.init();
        InitiateSearchableDataTable.init();
    </script>

    }

    <div class="page-body">

        <div class="row">

            <div id="horizontal-form">

            @if (Model != null && Model.Any())
            {

                <div class="widget-body no-padding">
                    <div id="searchable_wrapper" class="dataTables_wrapper form-inline">

                        <table class="table table-bordered table-hover table-striped dataTable" id="searchable" role="grid" aria-describedby="searchable_info">
                            <thead class="bordered-darkorange">
                                <tr role="row">

                                    <th class="sorting" tabindex="0" aria-controls="searchable" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column ascending">درخواست دهنده</th>
                                    <th class="sorting" tabindex="0" aria-controls="searchable" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" aria-sort="ascending">تاریخ درخواست</th>
                                    <th class="sorting" tabindex="0" aria-controls="searchable" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" aria-sort="ascending">وضعیت درخواست</th>
                                    <th class="sorting" tabindex="0" aria-controls="searchable" rowspan="1" colspan="1" aria-label="Platform: activate to sort column ascending">تعداد افراد انتخابی</th>
                                    <th class="sorting" tabindex="0" aria-controls="searchable" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending"></th>

                                </tr>
                            </thead>

                            <tbody>

                                @foreach (var request in Model)
                                {
                                    <tr role="row" class="even responsive" remove-ajax-item="@request.RequestId">

                                        <td class=" sorting_1">
                                            <div class="flex-style-center">
                                            
                                                    <img src="@request.DoctorUserInfoForShow.UserAvatar.GetUserAvatar()" class="avatar-style" style="border-radius:50px" />
                                                    <div class="mr-10px">
                                                        <span> @request.DoctorUserInfoForShow.Username </span>
                                                    </div>

                                            </div>
                                        </td>
                                        <td class="sorting_1">
                                            @request.CreateDate.ToShamsi()
                                        </td>
                                        <td class="sorting_1">
                                            <div class="row" style="width: 100%;margin: auto;text-aling">
                                                @if (request.SendSMSFromDoctorState == DoctorFAM.Domain.Enums.SendSMS.FromDoctors.SendSMSFromDoctorState.AcceptAndSent)
                                                {
                                                    <span class=" label label-success"> تایید و ارسال شده </span>
                                                }

                                                @if (request.SendSMSFromDoctorState == DoctorFAM.Domain.Enums.SendSMS.FromDoctors.SendSMSFromDoctorState.Decline)
                                                {
                                                    <span class=" label label-orange"> تایید نشده</span>
                                                }

                                                @if (request.SendSMSFromDoctorState == DoctorFAM.Domain.Enums.SendSMS.FromDoctors.SendSMSFromDoctorState.WaitingForConfirm)
                                                {
                                                    <span class=" label label-warning"> در انتظار</span>
                                                }
                                            </div>
                                        </td>

                                        <td class="center ">

                                            @request.CountOfSMS پیامک

                                        </td>
                                        <td>
                                            <a asp-action="ShowRequestDetail" asp-controller="SendSMS" asp-area="Admin" asp-route-id="@request.RequestId" class="btn btn-warning btn-circle btn-xs"><i class="glyphicon glyphicon-edit"></i></a>
                                        </td>

                                    </tr>

                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            }
            else
            {
                <partial name="_AdminNotFoundPartial" />
            }

        </div>
    </div>

</div>



