@model string

@if (Model == "NewUser")
{
    <li>
        <a asp-area="Pharmacy" asp-controller="Pharmacy" asp-action="PageOfManagePharmacyInfo">
            <i class="menu-icon glyphicon glyphicon-education"></i>
            <span class="menu-text">@SharedLocalizer["Pharmacy Info"]</span>
            <div class="badge badge-warning" id="DoctorInfoState">
                @SharedLocalizer["Waiting"]
            </div>
        </a>
    </li>
}

@if (Model == "WatingForConfirm")
{
    <li>
        <a asp-area="Pharmacy" asp-controller="Pharmacy" asp-action="PageOfManagePharmacyInfo">
            <i class="menu-icon glyphicon glyphicon-education"></i>
            <span class="menu-text">@SharedLocalizer["Pharmacy Info"]</span>
            <div class="badge badge-warning" id="DoctorInfoState">
                @SharedLocalizer["Waiting"]
            </div>
        </a>
    </li>
}

@if (Model == "Rejected")
{
    <li>
        <a asp-area="Pharmacy" asp-controller="Pharmacy" asp-action="PageOfManagePharmacyInfo">
            <i class="menu-icon glyphicon glyphicon-education"></i>
            <span class="menu-text">@SharedLocalizer["Pharmacy Info"]</span>
            <div class="badge badge-danger" id="DoctorInfoState">
                @SharedLocalizer["Decline"]
            </div>
        </a>
    </li>
}

@if (Model == "Accepted")
{
    <li>
        <a asp-area="Pharmacy" asp-controller="Pharmacy" asp-action="PageOfManagePharmacyInfo">
            <i class="menu-icon glyphicon glyphicon-education"></i>
            <span class="menu-text">@SharedLocalizer["Pharmacy Info"]</span>
            <div class="badge badge-success" id="DoctorInfoState">
                @SharedLocalizer["Accepted"]
            </div>
        </a>
    </li>
}


