@model DoctorFAM.Domain.ViewModels.Site.HomeVisitRequest.HomeVisitRequestInvoiceViewModel
@using DoctorFAM.Application.Convertors
@using DoctorFAM.Application.Extensions
@using DoctorFAM.Application.StaticTools

@{
    ViewData["Title"] = "فاکتور شما";
}

@section Styles
    {
    <!--Basic Styles-->
    <link href="/admin/css/bootstrap.min.css" rel="stylesheet">
    <link id="bootstrap-rtl-link" href="/admin/css/bootstrap-rtl.min.css" rel="stylesheet">
    <link href="/admin/css/font-awesome.min.css" rel="stylesheet">
    <link href="/admin/css/weather-icons.min.css" rel="stylesheet">

    <!--Fonts-->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,600,700,300" rel="stylesheet" type="text/css">

    <!--Beyond styles-->
    <link id="beyond-link" href="/admin/css/beyond-rtl.min.css" rel="stylesheet">
    <link href="/admin/css/demo.min.css" rel="stylesheet">
    <link href="/admin/css/typicons.min.css" rel="stylesheet">
    <link href="/admin/css/animate.min.css" rel="stylesheet">
    <link id="skin-link" href="" rel="stylesheet" type="text/css">
}

    @section Scripts
    {
    <partial name="_JqueryValidation" />
    }

    <div class="row mt-5">
        <div class="col-lg-3 col-sm-12 col-xs-12">
</div>
        <div class="col-lg-6 col-sm-12 col-xs-12">
            <div class="well invoice-container" style="background-color: cornflowerblue;" >
                <div class="row">
                            <div class="col-lg-4 col-sm-4 col-xs-4" >
</div>
        <div class="col-lg-5 col-sm-5 col-xs-5" >
                        <h1>
                            <a href="">
                                <img src="/Content/images/Logo/doctorfamTes.png" alt="" style="width:200px; height:45px; margin-right:-17px">
                            </a>
                        </h1>
                        <div>
                            <span>کد رهگیری درخواست : </span>
                            <span>@Model.RequestId</span>
                        </div>
                        <div class="horizontal-space"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-sm-12 col-xs-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h6>اطلاعات درخواست :</h6>
                            </div>
                            <div class="panel-body">
                                <ul>
                                    <li>موبایل : @Model.PaitientRequestDetail.Mobile</li>
                                    <li>تلفن ثابت : @Model.PaitientRequestDetail.Phone</li>
                                    <li>
                                        تاریخ مراجعه : @Model.PatientRequestDateTimeDetail.SendDate.ToStringShamsiDate()
                                    </li>
                                    <li>
                                        ساعت مراجعه : @Model.PatientRequestDateTimeDetail.StartTime تا @Model.PatientRequestDateTimeDetail.EndTime
                                    </li>
                                                                       <li>آدرس : @Model.PaitientRequestDetail.FullAddress </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div> <!-- / end client details section -->
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th><h5 class="no-margin-bottom">عنوان خدمت</h5></th>
                            <th><h5 class="no-margin-bottom">مبلغ </h5></th>
                        </tr>
                    </thead>
                    <tbody>

                    @if (Model.HomeVisitTariff > 0)
                    {
                        <tr>
                            <td>تعرفه ی ویزیت در منزل</td>
                            <td>@Model.HomeVisitTariff.ToString("#,000") ریال</td>
                        </tr>
                    }

                    @if (Model.DistanceFromCityTarriff != null && Model.DistanceFromCityTarriff > 0)
                    {
                        <tr>
                            <td>فاصله از شهر </td>
                            <td>@Model.DistanceFromCityTarriff.ToString("#,000") ریال</td>
                        </tr>
                    }

                    @if (Model.EmergencyVisit != null && Model.EmergencyVisit > 0)
                    {
                        <tr>
                            <td>درخواست اورژانسی   </td>
                            <td>@Model.EmergencyVisit.ToString("#,000") ریال</td>
                        </tr>
                    }

                    @if (Model.FemalePhysician != null && Model.FemalePhysician > 0)
                    {
                        <tr>
                            <td>درخواست پزشک خانم </td>
                            <td>@Model.FemalePhysician.ToString("#,000") ریال</td>
                        </tr>
                    }

                    @if (Model.OverTiming != null && Model.OverTiming > 0)
                    {
                        <tr>
                            <td>بازه ی زمانی خاص  </td>
                            <td>@Model.OverTiming.ToString("#,000") ریال</td>
                        </tr>
                    }

                    @if (Model.TariffForHealthHouseServices != null && Model.TariffForHealthHouseServices.Any())
                    {
                        foreach (var tariff in Model.TariffForHealthHouseServices)
                        {
                            <tr>
                                <td>@tariff.Title  </td>
                                <td>@Int64.Parse(tariff.Price).ToString("#,000") ریال</td>
                            </tr>
                        }
                    }

                    @if (Model.InvoiceSum != null && Model.InvoiceSum > 0)
                    {
                        <tr>
                            <td class="text-center"><strong>مبلغ کل : </strong></td>
                            <td class="text-center "><strong>@Model.InvoiceSum.ToString("#,000") ریال</strong></td>
                        </tr>
                    }

                     <tr>
                            <td class="text-center"><strong>عملیات  </strong></td>
                        <td class="text-center "> 
                            <a asp-action="BankPay" asp-area="" asp-controller="HomeVisit" asp-route-requestId="@Model.RequestId" class="btn btn-sccess">
                                پرداخت
                                </a>
                                </td>
                        </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>