@model DoctorFAM.Domain.ViewModels.UserPanel.HealthHouse.HomeLaboratory.ListOfHomeLaboratoryUserPanelSideViewModel
@using DoctorFAM.Domain.ViewModels.Admin.HealthHouse
@using DoctorFAM.Application.Extensions
@using DoctorFAM.Application.Convertors
@using DoctorFAM.Domain.ViewModels.Common
@using DoctorFAM.Domain.Enums.Request
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedLocalizer> SharedHtmlLocalizer

@{
    ViewData["Title"] = "لیست درخواست های شما";
}

@section Styles
    {

}

    @section Scripts
    {
    <partial name="_JqueryValidation" />
}

    @section Breadcrumb
    {
    <li>
        <a href="javascript:void(0)"> @ViewData["Title"] </a>
    </li>
}
    <form asp-action="ListOfUserHomeLaboratoryRequest" asp-controller="HealthHouse" asp-area="UserPanel" id="filter-search" method="get">
        <input type="hidden" asp-for="Page" />
    </form>

    <div class="row">
        <div class="col-lg-12 col-sm-12">
            <div class="well with-header with-footer table-responsive">
                <div class="header bordered-azure">
                    <div class="flex-style">
                        <span>@ViewData["Title"]</span>
                        <span>@Model.GetShownEntitiesPagesTitle()</span>
                    </div>
                </div>

            @if (Model.Entities != null && Model.Entities.Any())
            {
                <table class="table table-hover table-bordered tc vm">
                    <thead class="tc vm">
                        <tr class="tc vm">
                            <th class="tc vm">
                                کد رهگیری
                            </th>
                            <th class="tc vm">
                                وضعیت
                            </th>
                            <th class="tc vm">
                                ساعت مراجعه
                            </th>
                            <th class="tc vm">
                                تاریخ مورد نظر
                            </th>
                            <th class="tc vm">
                                امکانات
                            </th>
                        </tr>
                    </thead>
                    <tbody class="tc vm">
                        @foreach (var request in Model.Entities)
                        {
                            <tr class="tc vm">
                                <td class="vm">
                                    @request.Id
                                </td>
                                <td class="tc vm">
                                    <p class="flex-style-center">

                                        @if (request.RequestState == DoctorFAM.Domain.Enums.Request.RequestState.Paid)
                                        {
                                            <span class="mr-8px label label-info"> پرداخت شده </span>
                                        }
                                        @if (request.RequestState == DoctorFAM.Domain.Enums.Request.RequestState.ConfirmFromDestinationAndWaitingForIssuanceOfDraftInvoice)
                                        {
                                            <span class="mr-8px label label-info"> پیش فاکتور  </span>
                                        }
                                        @if (request.RequestState == DoctorFAM.Domain.Enums.Request.RequestState.AwaitingThePaymentOfTheInvoiceAmount)
                                        {
                                            <span class="mr-8px label label-warning"> در انتظار پرداخت فاکتور  </span>
                                        }
                                        @if (request.RequestState == DoctorFAM.Domain.Enums.Request.RequestState.DeliveryToCourierAndSending)
                                        {
                                            <span class="mr-8px label label-info"> در حال ارسال  </span>
                                        }
                                        @if (request.RequestState == DoctorFAM.Domain.Enums.Request.RequestState.PreparingTheOrder)
                                        {
                                            <span class="mr-8px label label-info"> در انتظار آماده سازی </span>
                                        }
                                        @if (request.RequestState == DoctorFAM.Domain.Enums.Request.RequestState.SelectedFromDoctor)
                                        {
                                            <span class="mr-8px label label-info"> تایید از طرف پزشک </span>
                                        }
                                        @if (request.RequestState == DoctorFAM.Domain.Enums.Request.RequestState.WaitingForConfirmFromDestination)
                                        {
                                            <span class="mr-8px label label-warning"> در انتظار تایید مقصد  </span>
                                        }
                                        @if (request.RequestState == DoctorFAM.Domain.Enums.Request.RequestState.AcceptFromCustomer)
                                        {
                                            <span class="mr-8px label label-info"> تایید شده توسط کاربر </span>
                                        }
                                        @if (request.RequestState == DoctorFAM.Domain.Enums.Request.RequestState.Finalized)
                                        {
                                            <span class="mr-8px label label-success" style="    background-image: linear-gradient(#ff00cc, #333399) !important;"> @Localizer["Finalized"] </span>
                                        }
                                        @if (request.RequestState == DoctorFAM.Domain.Enums.Request.RequestState.WaitingForAcceptFromCustomer)
                                        {
                                            <span class="mr-8px label label-warning"> در انتظار تایید کاربر </span>
                                        }
                                        @if (request.RequestState == DoctorFAM.Domain.Enums.Request.RequestState.Canceled)
                                        {
                                            <span class="mr-8px label label-danger"> لغوشده  </span>
                                        }
                                        @if (request.RequestState == DoctorFAM.Domain.Enums.Request.RequestState.TramsferringToTheBankingPortal)
                                        {
                                            <span class="mr-8px label label-warning"> در انتظار پرداخت   </span>
                                        }
                                        @if (request.RequestState == DoctorFAM.Domain.Enums.Request.RequestState.unpaid)
                                        {
                                            <span class="mr-8px label label-warning"> پرداخت نشده  </span>
                                        }
                                        @if (request.RequestState == DoctorFAM.Domain.Enums.Request.RequestState.WaitingForCompleteInformationFromUser)
                                        {
                                            <span class="mr-8px label label-warning"> درانتظار تکمیل اطلاعات توسط   </span>
                                        }
                                        @if (request.RequestState == DoctorFAM.Domain.Enums.Request.RequestState.WaitingForConfirmFromDestination)
                                        {
                                            <span class="mr-8px label label-warning"> درانتظار تکمیل اطلاعات توسط   </span>
                                        }
                                    </p>
                                </td>
                                <td class="tc vm">
                                    @if (request.PatientRequestDateTimeDetails != null && request.PatientRequestDateTimeDetails.StartTime != null)
                                    {
                                        <p>  @request.PatientRequestDateTimeDetails.StartTime.ToString("00")</p>
                                    }
                                    else
                                    {
                                        <p class="label label-danger"> اطلاعاتی وجود ندارد . </p>
                                    }
                                </td>
                                <td class="tc vm">
                                    @if (request.PatientRequestDateTimeDetails != null && request.PatientRequestDateTimeDetails.SendDate != null)
                                    {
                                        <p>  @request.PatientRequestDateTimeDetails.SendDate.ToStringShamsiDate() </p>
                                    }
                                    else
                                    {
                                        <p class="label label-danger"> اطلاعاتی وجود ندارد . </p>
                                    }
                                </td>
                                <td class="tc vm">
                                    @if (request.RequestState == RequestState.ConfirmFromDestinationAndWaitingForIssuanceOfDraftInvoice)
                                    {
                                        
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

                <div class="footer tc">

                    <partial name="_UserPanelPaging" model="@Model.GetCurrentPaging()" />

                </div>
            }
            else
            {
                <partial name="_UserPanelNotFoundPartial" />
            }
        </div>
    </div>
</div>

