@model List<DoctorFAM.Domain.ViewModels.Supporter.Reservation.ListOfCommentsForWaitingForPaymentReservationRequestSupporterSideDTO>
@using DoctorFAM.Application.Extensions
@using DoctorFAM.Application.Convertors
@using DoctorFAM.Domain.ViewModels.Common
@using DoctorFAM.Domain.ViewModels.Supporter.Reservation;

@{
    ViewData["Title"] = @Localizer["پیام های درخواست مورد نظر"];
}

@{
    var user = ViewBag.OwnerOfComment as DoctorFAM.Domain.Entities.Account.User;

    var reservationState = ViewBag.ReservationState as ReservationLogForWaitingPaymentAdmindSideDTO;
}

@section Styles
    {
}

@section Scripts
    {
    <partial name="_JqueryValidation" />
}

@section Breadcrumb
    {
    <li>
        <a href="javascript:void(0)"> @ViewData["Title"] </a>
    </li>
}

@if (user != null)
{

}

<div class="row">
    <div class="col-lg-12 col-sm-12">

        <div class="databox databox-graded">
            <div class="no-padding databox-right">
                <img src="@user.GetUserAvatar()" style="width:65px; height:65px;">
            </div>
            <div class="padding-top-20 databox-left">

                <div class="databox-text darkgray">  پشتیبان پاسخ گو : @user.Username</div>
                <div class="databox-text darkgray">@user.Mobile</div>

            </div>
        </div>

    </div>

    @if (reservationState != null && reservationState.DoctorReservationState == DoctorFAM.Domain.Enums.DoctorReservation.DoctorReservationState.WaitingForComplete)
    {
          <div class="col-lg-12 col-sm-12 col-xs-12">
        <div class="widget">
            <div class="widget-header bordered-bottom bordered-warning">
                <span class="widget-caption">تغییر وضعیت نوبت </span>
            </div>
            <div class="widget-body">
                <div>
                        <h4>
                            درصورتی که از حذف درخواست بیمار و آزاد کردن نوبت برای اخذ مجدد از طریق سامانه اطمینان دارید بر روی گزینه ی پایین کلیک کنید . 
                        </h4>

                        <a asp-action="CancelReservationRequestFromPatient"
                           asp-area="Admin"
                           asp-controller="Reservation"
                           asp-route-reservatioonDateTimeId="@reservationState.ReservationDateTimeId"
                        class="btn btn-warning">ثبت</a>
                </div>
            </div>
        </div>
    </div>
    }
  

    <div class="col-lg-12 col-sm-12 col-xs-12">
        <div class="widget">
            <div class="widget-header bordered-bottom bordered-blue">
                <span class="widget-caption">درج پیام</span>
            </div>
            <div class="widget-body">
                <div>
                    <form asp-action="AddCommentForWaitingRequest" asp-controller="Reservation" asp-area="Admin" id="filter-search" method="post">
                        <input type="hidden" name="RequestId" value="@Model.Select(p=> p.LogInformation.LogForDoctorReservationDateTimeWaitingForPaymentId).FirstOrDefault()" />

                        <div class="form-group">
                            <label for="exampleInputPassword1">پیام</label>
                            <textarea name="Comment" class="form-control" id="exampleInputPassword1" placeholder="متن پیام"></textarea>
                        </div>

                        <button type="submit" class="btn btn-blue">ثبت</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    @if (Model != null && Model.Any())
    {
        foreach (var comment in Model)
        {
            <div class="col-lg-12 col-sm-12 col-xs-12">
                <div class="widget no-header ">
                    <div class="widget-body colored-purple">

                        <span class="widget-caption">پشتیبان : @comment.UserInfo.Username - تاریخ : @comment.LogInformation.CreateDate.ToShamsi()</span>
                        <p>

                            @comment.LogInformation.Comment

                        </p>

                    </div>
                </div>
            </div>
        }
    }

</div>


