@model DoctorFAM.Domain.ViewModels.Admin.Reservation.ShowReservationDetailAdminSideViewModel
@using DoctorFAM.Application.Extensions
@using DoctorFAM.Application.Convertors
@using DoctorFAM.Domain.ViewModels.Common
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedLocalizer> SharedHtmlLocalizer


@{
    ViewData["Title"] = @Localizer["Show Reservation Details"];
}

@section Styles
{
<style>

    .header-fullname {
        font: 18px 'YekanBakh-FaNum';
        margin-top: 10px;
        display: inline-block;
    }

    .header-fullname2 {
        font: 16px 'YekanBakh-FaNum';
        margin-top: 3px;
        display: inline-block;
        color: blueviolet;
    }
</style>
}

@section Scripts
{
<partial name="_JqueryValidation" />
}

@section Breadcrumb
{
<li>
    <a href="javascript:void(0)"> @ViewData["Title"] </a>
</li>
}

@if (ViewBag.DoctorBooking == true)
{
    <div class="row">

        @if (Model.DoctorReservationDateTime.DoctorPersonalBooking != null)
        {
            <div class="col-md-12">

                <div class="col-md-12">
                    <div class="profile-container">
                        <div class="profile-header row">

                            <div class="row">
                                <div class="col-md-3">
                                    <div class="col-md-12 text-center">

                                        @if (Model.DoctorReservationDateTime.DoctorPersonalBooking.FirstName != null && Model.DoctorReservationDateTime.DoctorPersonalBooking.LastName != null)
                                        {
                                            <div class="header-fullname">
                                                <p>@Model.DoctorReservationDateTime.DoctorPersonalBooking.FirstName @Model.DoctorReservationDateTime.DoctorPersonalBooking.LastName</p>

                                            </div>
                                        }
                                        <div class="header-fullname2">
                                            <p>
                                                @Model.DoctorReservationDateTime.DoctorPersonalBooking.Mobile
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 profile-stats">
                                    <div class="row rowmt">
                                        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12  stats-col">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <span class="stats-value ">@Localizer["Reserve Date"] : @Model.DoctorReservationDate.ReservationDate.ToStringShamsiDate()</span>
                                                </div>
                                                <div class="col-md-12">
                                                    @if (Model.DoctorReservationDateTime.DoctorReservationType == DoctorFAM.Domain.Enums.DoctorReservation.DoctorReservationType.Onile)
                                                    {
                                                        <span class="stats-value "> @Localizer["Type"] : @Localizer["Online"] </span>

                                                    }
                                                    @if (Model.DoctorReservationDateTime.DoctorReservationType == DoctorFAM.Domain.Enums.DoctorReservation.DoctorReservationType.Reserved)
                                                    {
                                                        <span class="stats-value "> @Localizer["Type"] : @Localizer["In Persone"] </span>

                                                    }

                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12  stats-col">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    @Localizer["Start Time"]<span class="stats-value2 ">  @string.Concat(Model.DoctorReservationDateTime.StartTime.Reverse().Skip(3).Reverse()) </span>
                                                </div>
                                                <div class="col-md-12">
                                                    @Localizer["End Time"]<span class="stats-value2 "> @string.Concat(Model.DoctorReservationDateTime.EndTime.Reverse().Skip(3).Reverse()) </span>
                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                </div>

                            </div>

                        </div>
                        <div class="profile-body">
                            <div class="col-lg-12">
                                <div class="tabbable">

                                    <div class="tab-content tabs-flat">

                                        <div id="settings" class="tab-pane active">
                                            <div class="form-title">
                                                @Localizer["Patient Personal Informations"]
                                            </div>
                                            <div class="row">

                                                <div class="col-sm-12">
                                                    <div class="form-group">
                                                        <span class="input-icon icon-right">
                                                            @if (Model.DoctorReservationDateTime.DoctorPersonalBooking.LastName != null && Model.DoctorReservationDateTime.DoctorPersonalBooking.FirstName != null)
                                                            {
                                                                <input type="text" readonly class="form-control" value="@Model.DoctorReservationDateTime.DoctorPersonalBooking.FirstName @Model.DoctorReservationDateTime.DoctorPersonalBooking.LastName" placeholder="@Localizer["FullName"]">
                                                            }
                                                            else
                                                            {
                                                                <input type="text" class="form-control" placeholder="@Localizer["FullName"]">
                                                            }
                                                            <i class="fa fa-user orange"></i>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div class="form-group">
                                                        <span class="input-icon icon-right">
                                                            @if (Model.DoctorReservationDateTime.DoctorPersonalBooking.Mobile != null)
                                                            {
                                                                <input type="text" readonly class="form-control" value="@Model.DoctorReservationDateTime.DoctorPersonalBooking.Mobile" placeholder="@Localizer["Extra Phone"]">
                                                            }
                                                            else
                                                            {
                                                                <input type="text" class="form-control" placeholder="@Localizer["Extra Phone"]">
                                                            }
                                                            <i class="glyphicon glyphicon-earphone yellow"></i>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <hr class="wide">
                                            <div class="row">

                                                <div class="col-sm-12">
                                                    <div class="form-group">
                                                        <span class="input-icon icon-right">
                                                            @if (Model.DoctorReservationDateTime.DoctorPersonalBooking.NationalId != null)
                                                            {
                                                                <input type="text" readonly class="form-control" value="@Model.DoctorReservationDateTime.DoctorPersonalBooking.NationalId" placeholder="@Localizer["NationalId"]">
                                                            }
                                                            else
                                                            {
                                                                <input type="text" class="form-control" placeholder="@Localizer["NationalId"]">
                                                            }                                                        <i class="fa fa-globe"></i>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        }

    </div>

}

else
{
    <div class="row">

    <div class="col-md-12">
        <dsiv class="profile-container">

            @if (Model.DoctorReservationDateTime.DoctorReservationState == DoctorFAM.Domain.Enums.DoctorReservation.DoctorReservationState.NotReserved)
            {
                <div class="profile-header row">

                    <div class="row">
                        <div class="col-md-3">
                            <div class="col-md-12 text-center">
                                <div>
                                    <img src="@Model.Doctor.GetUserAvatar()" class="header-avatar">
                                </div>

                                @if (Model.Doctor.FirstName != null && Model.Doctor.LastName != null)
                                {
                                    <div class="header-fullname">
                                        <p>@Model.Doctor.FirstName @Model.Doctor.LastName</p>

                                    </div>
                                }
                                <div class="header-fullname2">
                                    <p>
                                        @Model.Doctor.Mobile
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 profile-stats">
                            <div class="row rowmt">
                                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12  stats-col">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <span class="stats-value ">@Localizer["Reserve Date"] : @Model.DoctorReservationDate.ReservationDate.ToStringShamsiDate()</span>
                                        </div>
                                        <div class="col-md-12">
                                            @if (Model.DoctorReservationDateTime.DoctorReservationType == DoctorFAM.Domain.Enums.DoctorReservation.DoctorReservationType.Onile)
                                            {
                                                <span class="stats-value "> @Localizer["Type"] : @Localizer["Online"] </span>

                                            }
                                            @if (Model.DoctorReservationDateTime.DoctorReservationType == DoctorFAM.Domain.Enums.DoctorReservation.DoctorReservationType.Reserved)
                                            {
                                                <span class="stats-value "> @Localizer["Type"] : @Localizer["In Persone"] </span>

                                            }
                                            @if (Model.DoctorReservationDateTime.DoctorReservationType == null)
                                            {
                                                <span class="stats-value "> @Localizer["Type"] : @Localizer["not determined"] </span>

                                            }
                                        </div>
                                    </div>

                                </div>
                                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12  stats-col">
                                    <div class="row">
                                        <div class="col-md-12">
                                            @Localizer["Start Time"]<span class="stats-value2 ">  @string.Concat(Model.DoctorReservationDateTime.StartTime.Reverse().Skip(3).Reverse()) </span>
                                        </div>
                                        <div class="col-md-12">
                                            @Localizer["End Time"]<span class="stats-value2 "> @string.Concat(Model.DoctorReservationDateTime.EndTime.Reverse().Skip(3).Reverse()) </span>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>

                    </div>

                </div>
            }
            else
            {
                <div class="profile-header row rowmt">


                    <div class="col-md-6  text-center">
                        <h3>@Localizer["Doctor"]</h3>
                        <div class="col-md-12 text-center">
                            <div>
                                <img src="@Model.Doctor.GetUserAvatar()" class="header-avatar">
                            </div>

                            @if (Model.Doctor.FirstName != null && Model.Doctor.LastName != null)
                            {
                                <div class="header-fullname">
                                    <p>@Model.Doctor.FirstName @Model.Doctor.LastName</p>
                                    <p class="header-fullname2">
                                        @Model.Doctor.Mobile
                                    </p>
                                </div>
                            }

                        </div>
                    </div>
                    <div class="col-md-6   text-center">
                        <h3>@Localizer["Patient"]</h3>
                        <div class="col-md-12 text-center">
                            <div>
                                <img src="@Model.Patient.GetUserAvatar()" class="header-avatar">
                            </div>

                            @if (Model.Patient.FirstName != null && Model.Patient.LastName != null)
                            {
                                <div class="header-fullname">
                                    <p>@Model.Patient.FirstName @Model.Patient.LastName</p>
                                    <p class="header-fullname2">
                                        @Model.Patient.Mobile
                                    </p>
                                </div>
                            }

                        </div>
                    </div>

                </div>

                <div class="profile-header row">


                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 profile-stats">
                        <div class="row rowmt">
                            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12  stats-col">
                                <div class="row">
                                    <div class="col-md-12">
                                        <span class="stats-value ">@Localizer["Reserve Date"] : @Model.DoctorReservationDate.ReservationDate.ToStringShamsiDate()</span>
                                    </div>
                                    <div class="col-md-12">
                                        @if (Model.DoctorReservationDateTime.DoctorReservationType == DoctorFAM.Domain.Enums.DoctorReservation.DoctorReservationType.Onile)
                                        {
                                            <span class="stats-value "> @Localizer["Type"] : @Localizer["Online"] </span>

                                        }
                                        @if (Model.DoctorReservationDateTime.DoctorReservationType == DoctorFAM.Domain.Enums.DoctorReservation.DoctorReservationType.Reserved)
                                        {
                                            <span class="stats-value "> @Localizer["Type"] : @Localizer["In Persone"] </span>

                                        }

                                    </div>
                                    <div class="col-md-12">


                                        @if (Model.DoctorReservationDateTime.DoctorReservationState == DoctorFAM.Domain.Enums.DoctorReservation.DoctorReservationState.NotReserved)
                                        {
                                            <span class="stats-value "> @Localizer["State"] : @Localizer["Not Reserved"] </span>

                                        }
                                        @if (Model.DoctorReservationDateTime.DoctorReservationState == DoctorFAM.Domain.Enums.DoctorReservation.DoctorReservationState.Reserved)
                                        {
                                            <span class="stats-value "> @Localizer["State"] : @Localizer["Reserved"] </span>

                                        }
                                        @if (Model.DoctorReservationDateTime.DoctorReservationState == DoctorFAM.Domain.Enums.DoctorReservation.DoctorReservationState.WaitingForComplete)
                                        {
                                            <span class="stats-value "> @Localizer["State"] : @Localizer["Waiting"] </span>

                                        }
                                    </div>
                                </div>

                            </div>
                            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12  stats-col">
                                <div class="row">
                                    <div class="col-md-12">
                                        @Localizer["Start Time"]<span class="stats-value2 ">  @string.Concat(Model.DoctorReservationDateTime.StartTime.Reverse().Skip(3).Reverse()) </span>
                                    </div>
                                    <div class="col-md-12">
                                        @Localizer["End Time"]<span class="stats-value2 "> @string.Concat(Model.DoctorReservationDateTime.EndTime.Reverse().Skip(3).Reverse()) </span>
                                    </div>
                                    <div class="col-md-12">
                                        @Localizer["Create Date"]<span class="stats-value2 "> @Model.DoctorReservationDate.CreateDate.ToShamsi() </span>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>


                </div>
            }


            <div class="profile-body">
                <div class="col-lg-12">
                    <div class="tabbable">

                        <div class="tab-content tabs-flat">

                            <div id="settings" class="tab-pane active">
                                <div class="form-title">
                                    @Localizer["Doctor Personal Info"]
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <span class="input-icon icon-right">
                                                <input type="text" readonly class="form-control" value="@Model.Doctor.Username" placeholder="@Localizer["Username"]">
                                                <i class="fa fa-user blue"></i>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <span class="input-icon icon-right">
                                                @if (Model.Doctor.LastName != null && Model.Doctor.FirstName != null)
                                                {
                                                    <input type="text" readonly class="form-control" value="@Model.Doctor.FirstName @Model.Doctor.LastName" placeholder="@Localizer["FullName"]">
                                                }
                                                else
                                                {
                                                    <input type="text" class="form-control" placeholder="@Localizer["FullName"]">
                                                }
                                                <i class="fa fa-user orange"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <span class="input-icon icon-right">
                                                @if (Model.Doctor.ExtraPhoneNumber != null)
                                                {
                                                    <input type="text" readonly class="form-control" value="@Model.Doctor.ExtraPhoneNumber" placeholder="@Localizer["Extra Phone"]">
                                                }
                                                else
                                                {
                                                    <input type="text" class="form-control" placeholder="@Localizer["Extra Phone"]">
                                                }
                                                <i class="glyphicon glyphicon-earphone yellow"></i>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <span class="input-icon icon-right">
                                                <input type="text" readonly class="form-control" value="@Model.Doctor.Mobile" placeholder="@Localizer["Extra Phone"]">
                                                <i class="glyphicon glyphicon-phone palegreen"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <span class="input-icon icon-right">
                                                @if (Model.Doctor.BithDay != null)
                                                {
                                                    <input type="text" readonly class="form-control" value="@Model.Doctor.BithDay.Value.ToShamsi()" placeholder="@Localizer["BirthDay"]">
                                                }
                                                else
                                                {
                                                    <input type="text" class="form-control" placeholder="@Localizer["BirthDay"]">
                                                }
                                                <i class="fa fa-calendar"></i>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <span class="input-icon icon-right">
                                                @if (Model.Doctor.NationalId != null)
                                                {
                                                    <input type="text" readonly class="form-control" value="@Model.Doctor.NationalId" placeholder="@Localizer["NationalId"]">
                                                }
                                                else
                                                {
                                                    <input type="text" class="form-control" placeholder="@Localizer["NationalId"]">
                                                }                                                        <i class="fa fa-globe"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>

                                @if (Model.DoctorReservationDateTime.DoctorReservationType == DoctorFAM.Domain.Enums.DoctorReservation.DoctorReservationType.Reserved && Model.WorkAddress != null)
                                {
                                    <div class="form-title">
                                        @Localizer["Address"]
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <span class="input-icon icon-right">
                                                    <textarea type="text" class="form-control" readonly> @Model.WorkAddress </textarea>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                }

                                @if (Model.DoctorReservationDateTime.DoctorReservationState != DoctorFAM.Domain.Enums.DoctorReservation.DoctorReservationState.NotReserved)
                                {
                                    <div class="form-title">
                                        @Localizer["Patient Personal Informations"]
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <span class="input-icon icon-right">
                                                    <input type="text" readonly class="form-control" value="@Model.Patient.Username" placeholder="@Localizer["Username"]">
                                                    <i class="fa fa-user blue"></i>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <span class="input-icon icon-right">
                                                    @if (Model.Patient.LastName != null && Model.Patient.FirstName != null)
                                                    {
                                                        <input type="text" readonly class="form-control" value="@Model.Patient.FirstName @Model.Patient.LastName" placeholder="@Localizer["FullName"]">
                                                    }
                                                    else
                                                    {
                                                        <input type="text" class="form-control" placeholder="@Localizer["FullName"]">
                                                    }
                                                    <i class="fa fa-user orange"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <span class="input-icon icon-right">
                                                    @if (Model.Patient.ExtraPhoneNumber != null)
                                                    {
                                                        <input type="text" readonly class="form-control" value="@Model.Patient.ExtraPhoneNumber" placeholder="@Localizer["Extra Phone"]">
                                                    }
                                                    else
                                                    {
                                                        <input type="text" class="form-control" placeholder="@Localizer["Extra Phone"]">
                                                    }
                                                    <i class="glyphicon glyphicon-earphone yellow"></i>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <span class="input-icon icon-right">
                                                    <input type="text" readonly class="form-control" value="@Model.Patient.Mobile" placeholder="@Localizer["Extra Phone"]">
                                                    <i class="glyphicon glyphicon-phone palegreen"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <span class="input-icon icon-right">
                                                    @if (Model.Patient.BithDay != null)
                                                    {
                                                        <input type="text" readonly class="form-control" value="@Model.Patient.BithDay.Value.ToShamsi()" placeholder="@Localizer["BirthDay"]">
                                                    }
                                                    else
                                                    {
                                                        <input type="text" class="form-control" placeholder="@Localizer["BirthDay"]">
                                                    }
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <span class="input-icon icon-right">
                                                    @if (Model.Patient.NationalId != null)
                                                    {
                                                        <input type="text" readonly class="form-control" value="@Model.Patient.NationalId" placeholder="@Localizer["NationalId"]">
                                                    }
                                                    else
                                                    {
                                                        <input type="text" class="form-control" placeholder="@Localizer["NationalId"]">
                                                    }                                                        <i class="fa fa-globe"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                }

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </dsiv>
    </div>

</div>

}

