@model DoctorFAM.Domain.ViewModels.DoctorPanel.ParsaSystem.SendSMSToPatientViewModel

@{
    ViewData["Title"] = @Localizer["Send SMS For Users"];
}

@section Breadcrumb
    {
    <li>
        <a href="javascript:void(0)"> @ViewData["Title"] </a>
    </li>
}

    <div class="row">
        <div class="col-lg-12 col-sm-6 col-xs-12">
            <div class="widget">
                <div class="widget-header bordered-bottom bordered-primary">
                    <span class="widget-caption">@Localizer["SMS Informations"]</span>
                </div>
                <div class="widget-body">
                    <div id="horizontal-form">
                        <form asp-action="SendSMSToSelectedUsers" asp-area="Doctor" asp-controller="ParsaSystem" method="post" enctype="multipart/form-data">

                        @foreach (var item in Model.PatientId)
                        {
                            <input type="hidden" asp-for="PatientId" value="@item"/>
                        }

                        <div class="row">
                            <div class="col-md-12">
                                    <input type="email" readonly placeholder="@Localizer["Count Of Your Selected Users For Send Them SMS"] : @Model.PatientId.Count()" class="form-control">
                                    <div class="horizontal-space"></div>
                                </div>
                        </div>

                        <textarea class="form-control" asp-for="SMSBody" rows="3" placeholder="@Localizer["SMS Body(Maximum Size Of SMS Body Is 10000 Charecter)"]"></textarea>
                        <div class="horizontal-space"></div>
                        <div>
                            <button type="submit" class="btn btn-success">@Localizer["Send"]</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>