@model DoctorFAM.Domain.ViewModels.Account.RegisterUserViewModel

@{
    ViewData["Title"] = "ثبت نام";
}

@section Scripts
{
<partial name="_JqueryValidation" />
}

<section class="login">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="white-bg box-shadow rounded o-hidden">
                    <div class="row align-items-center">
                        <div class="col-lg-7 col-md-12 p-5">
                            <img class="img-fluid" src="~/Site/images/login.png" alt="">
                        </div>
                        <div class="col-lg-5 col-md-12 ">
                            <div class="login-form text-center">
                                <a href="/Home/SecPage" class="text-center">
                                    <span class="" style="color:#3143ef; font-weight:900 !important; font-size:30px !important;"><b>DOCTOR</b></span>
                                    <span class="" style="color:#fd5b03; font-weight:900 !important; font-size:32px !important;"><b>F</b></span>
                                    <span class="" style="color:#fd5b03; font-weight:900 !important; font-size:32px !important;"><b>A</b></span>
                                    <span class="" style="color:#fd5b03; font-weight:900 !important; font-size:32px !important;"><b>M</b></span>
                                </a>
                               
                                @if (User.Identity.IsAuthenticated && Context.Request.Query["ReturnUrl"] != "")
                                {
                                    <div class="alert alert-danger mt-3">
                                        <p>کاربر گرامی @User.Identity.Name  شما مجوز ورود به بخش درخواست شده را ندارید.</p>
                                    </div>

                                }
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                <div class="login-form">

                                    <form asp-action="Register" asp-controller="Account" method="post">

                                        <input type="hidden" asp-for="DoctorsRegister" value="@ViewBag.DoctorsRegister" />
                                        <input type="hidden" asp-for="SellerRegister" value="@ViewBag.SellerRegister" />
                                        <input type="hidden" asp-for="PharmacyRegister" value="@ViewBag.PharmacyRegister" />
                                        <input type="hidden" asp-for="NurseRegister" value="@ViewBag.NurseRegister" />
                                        <input type="hidden" asp-for="ConsultantRegister" value="@ViewBag.ConsultantRegister" />
                                        <input type="hidden" asp-for="ConsultantRegister" value="@ViewBag.ConsultantRegister" />
                                        <input type="hidden" asp-for="LabratoryRegister" value="@ViewBag.LabratoryRegister" />

                                        <h4 class="text-center ">ایجاد حساب کاربری</h4>
                                        <div class="form-group">                                           
                                            <div class="col-md-12">
                                                <input asp-for="Mobile" class="form-control" placeholder="تلفن همراه" />
                                                <span class="text-danger" asp-validation-for="Mobile"></span>
                                            </div>
                                        </div>

                                        <div class="form-group">                                          
                                            <div class="col-md-12">
                                                <input asp-for="Password" type="password" class="form-control" placeholder="کلمه عبور" />
                                                <span class="text-danger" asp-validation-for="Password"></span>
                                            </div>
                                        </div>
                                        <div class="form-group">                                            
                                            <div class="col-md-12">
                                                <input asp-for="RePassword" type="password" class="form-control" placeholder="تکرار کلمه ی عبور " />
                                                <span class="text-danger" asp-validation-for="RePassword"></span>
                                            </div>
                                        </div>
                                        <div class="remember-me-wrap">
                                            <p>
                                                <input type="checkbox" asp-for="SiteRoles" id="test1">
                                                <label for="test1">با   <a href="/Home/TermsConditions">شرایط و ضوابط سایت </a> موافق هستم</label>
                                            </p>
                                        </div>

                                        <div class="row  text-center  align-items-center justify-content-center ">
                                            <button type="submit" class="btn-Accept m-2">ثبت نام</button>
                                             <span></span> <a asp-action="Login" asp-controller="Account" class="btn-Accept"><span> حساب کاربری دارید؟   از اینجا وارد شوید  </span></a>
                                        </div>
                                       

                                    </form>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
