@model DoctorFAM.Domain.ViewModels.Pharmacy.HomePharmacy.HomePharmacyRequestViewModel
@using DoctorFAM.Application.Extensions
@using DoctorFAM.Application.Convertors
@using DoctorFAM.Domain.ViewModels.Common
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedLocalizer> SharedHtmlLocalizer
@using DoctorFAM.Application.StaticTools

@{
    ViewData["Title"] = @Localizer["Show Details"];
}

@section Styles
    {
    <style>

        .header-fullname {
            font: 21px 'YekanBakh-FaNum';
            margin-top: 27px;
            display: inline-block;
        }

    </style>
}

    @section Scripts
    {
    <partial name="_JqueryValidation" />
}

    @section Breadcrumb
    {
    <li>
        <a href="javascript:void(0)"> @Localizer["Request Code"] : @Model.Request.Id </a>
    </li>
}

    <div class="row">

        <div class="col-md-12">

            <div class="col-md-12">
                <div class="profile-container">
                    <div class="profile-header row">
                        <div class="col-lg-2 col-md-4 col-sm-12 text-center">
                            <img src="@(Model.User != null ? Model.User.GetUserAvatar() : Localizer["Empty"])" alt="" class="header-avatar">
                        </div>
                        <div class="col-lg-3 col-md-8 col-sm-12 profile-info">
                            <div class="header-fullname">@(Model.User.Username != null ? Model.User.Username : Localizer["Empty"])</div>

                        <div class="header-information">
                            @Localizer["Mobile"] : @(Model.User.Mobile != null ? Model.User.Mobile : Localizer["Empty"])
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12 profile-stats">
                        <div class="row">
                            <div class="col-lg-4 col-md-3 col-sm-3 col-xs-12 stats-col">
                                <div class="stats-value blue">@(Model.Request.CreateDate != null ? Model.Request.CreateDate.ToStringShamsiDate() : Localizer["Empty"])</div>
                                <div class="stats-title">@Localizer["Request Create Date"]</div>
                            </div>
                            <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12 stats-col">
                                <div class="stats-value blue">@(Model.PatientRequestDateTimeDetail != null ? Model.PatientRequestDateTimeDetail.StartTime.ToString("00") : Localizer["Empty"])</div>
                                <div class="stats-title">@Localizer["Start Time"]</div>
                            </div>
                            <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12 stats-col">
                                <div class="stats-value blue">
                                    @(Model.PatientRequestDateTimeDetail != null ? Model.PatientRequestDateTimeDetail.EndTime.ToString("00") : Localizer["Empty"])
                                </div>
                                <div class="stats-title">@Localizer["End Time"]</div>
                            </div>
                            <div class="col-lg-4 col-md-3 col-sm-3 col-xs-12 stats-col">
                                <div class="stats-value blue">
                                    @(Model.PatientRequestDateTimeDetail != null ? Model.PatientRequestDateTimeDetail.SendDate.ToStringShamsiDate() : Localizer["Empty"])
                                </div>
                                <div class="stats-title">@Localizer["Patient Date Time"]</div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="profile-body">
                    <div class="col-lg-12">
                        <div class="tabbable">
                            <ul class="nav nav-tabs tabs-flat  nav-justified" id="myTab11">
                                <li class="tab-red">
                                    <a data-toggle="tab" href="#timeline" aria-expanded="false">
                                        @Localizer["Client Information"]
                                    </a>
                                </li>
                                <li class="tab-palegreen">
                                    <a data-toggle="tab" id="contacttab" href="#contacts" aria-expanded="false">
                                        @Localizer["Drogs Informations"]
                                    </a>
                                </li>
                                <li class="tab-yellow active">
                                    <a data-toggle="tab" href="#settings" aria-expanded="true">
                                        @Localizer["Patient Information"]
                                    </a>
                                </li>
                            </ul>
                            <div class="tab-content tabs-flat">
                                <div id="timeline" class="tab-pane">

                                    <div class="form-title">
                                        @Localizer["Client Information"]
                                    </div>
                                    <div class="row">

                                        <div class="form-group col-md-6 col-sm-12">
                                            <label>@Localizer["Client Username"]</label>
                                            <input type="text" class="form-control" readonly value="@Model.User.Username">
                                        </div>

                                        <div class="form-group col-md-6 col-sm-12">
                                            <label>@Localizer["Client Mobile"]</label>
                                            <input type="text" class="form-control" readonly value="@(string.IsNullOrEmpty(Model.User.Mobile) ? @Localizer["Empty"] : @Model.User.Mobile )">
                                        </div>

                                        <div class="form-group col-md-6 col-sm-12">
                                            <label>@Localizer["Client First Name"]</label>
                                            <input type="text" class="form-control" readonly value="@(string.IsNullOrEmpty(Model.User.LastName) ? @Localizer["Empty"] : @Model.User.FirstName )">
                                        </div>

                                        <div class="form-group col-md-6 col-sm-12">
                                            <label>@Localizer["Client Last Name"]</label>
                                            <input type="text" class="form-control" readonly value="@(string.IsNullOrEmpty(Model.User.LastName) ? @Localizer["Empty"] : @Model.User.LastName )">
                                        </div>

                                        <div class="form-group col-md-6 col-sm-12">
                                            <label>@Localizer["Email"]</label>
                                            <input type="text" class="form-control" readonly value="@(string.IsNullOrEmpty(Model.User.Email) ? @Localizer["Empty"] : @Model.User.Email )">
                                        </div>

                                        <div class="form-group col-md-6 col-sm-12">
                                            <label>@Localizer["Extra Mobile"]</label>
                                            <input type="text" class="form-control" readonly value="@(string.IsNullOrEmpty(Model.User.ExtraPhoneNumber) ? @Localizer["Empty"] : @Model.User.ExtraPhoneNumber )">
                                        </div>

                                    </div>

                                </div>
                                <div id="contacts" class="tab-pane">
                                    <div class="row">
                                        <div class="col-lg-12 col-sm-12">
                                            <div class="well with-header with-footer table-responsive">


                                                @if (Model.HomePharmacyRequestDetails != null && Model.HomePharmacyRequestDetails.Any())
                                                {
                                                    <table class="table table-hover table-bordered tc vm text-center align-items-center">

                                                        <tr>
                                                            <th class=" text-center align-items-center">#</th>
                                                            <th class=" text-center align-items-center">اطلاعات دارو</th>
                                                            <th class=" text-center align-items-center">توضیحات</th>
                                                        </tr>

                                                        @{
                                                            int i = 1;
                                                        }

                                                        @foreach (var item in Model.HomePharmacyRequestDetails)
                                                        {
                                                            <tr class="tc vm text-center align-items-center">

                                                                <td class=" text-center align-items-center"> @i </td>


                                                                @if (!string.IsNullOrEmpty(item.DrugTrakingCode))
                                                                {

                                                                    <td class=" text-center align-items-center">

                                                                        <div class="row">

                                                                            <div class=col-md-6>
                                                                                <span>@Localizer["Prescription tracking code/applicant's national code"]</span>
                                                                            </div>
                                                                            <div class=col-md-6>
                                                                                <h5 style="color:#fd5b03"> @item.DrugTrakingCode</h5>
                                                                            </div>
                                                                        </div>

                                                                    </td>
                                                                }
                                                                @if (!string.IsNullOrEmpty(item.DrugPrescription))
                                                                {
                                                                    <td class=" text-center align-items-center">

                                                                        <div class="row">

                                                                            <div class=col-md-6>
                                                                                <span>@Localizer["Version image"]</span>
                                                                            </div>
                                                                            <div class=col-md-6>
                                                                                <a target="_blank" href="@PathTools.SiteAddress@PathTools.DrugPrescriptionPath/@item.DrugPrescription"><img src="@PathTools.DrugPrescriptionPathThumb/@item.DrugPrescription" class="avatar-style" /></a>
                                                                            </div>
                                                                        </div>

                                                                    </td>
                                                                }
                                                                @if (!string.IsNullOrEmpty(item.DrugImage) && !string.IsNullOrEmpty(item.DrugCount) && !string.IsNullOrEmpty(item.DrugName))
                                                                {
                                                                    <td class=" text-center align-items-center">

                                                                        <div class="row">

                                                                            <div class=col-md-6>
                                                                                @item.DrugName - @Localizer["Count"] @item.DrugCount
                                                                            </div>
                                                                            <div class=col-md-6>
                                                                                <a target="_blank" href="@PathTools.SiteAddress@PathTools.DrugPrescriptionPath/@item.DrugImage"> <img src="@PathTools.DrugPrescriptionPathThumb/@item.DrugImage" class="avatar-style" /> </a>
                                                                            </div>
                                                                        </div>

                                                                    </td>
                                                                }
                                                                else
                                                                {
                                                                    @if (!string.IsNullOrEmpty(item.DrugImage))
                                                                    {
                                                                        <td class=" text-center align-items-center">
                                                                            <span>@Localizer["drug picture"]</span>
                                                                            <a target="_blank" href="@PathTools.SiteAddress@PathTools.DrugPrescriptionPath/@item.DrugImage">  <img src="@PathTools.DrugPrescriptionPathThumb/@item.DrugImage" class="avatar-style" /></a>
                                                                            -
                                                                            @Localizer["Count"] @item.DrugCount
                                                                        </td>
                                                                    }
                                                                    @if (!string.IsNullOrEmpty(item.DrugCount) && !string.IsNullOrEmpty(item.DrugName))
                                                                    {
                                                                        <td class=" text-center align-items-center">@item.DrugName - @Localizer["Count"] @item.DrugCount  </td>
                                                                    }
                                                                }

                                                                <td class=" text-center align-items-center">@item.Description</td>

                                                                @{
                                                                    i++;
                                                                }

                                                            </tr>
                                                        }
                                                    </table>
                                                }
                                                else
                                                {
                                                    <partial name="_PharmacyNotFoundPartial" />
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="settings" class="tab-pane active">
                                    <div class="form-title">
                                        @Localizer["Patient Information"]
                                    </div>
                                    <div class="row">

                                        <div class="form-group col-md-6 col-sm-12">
                                            <label>@Localizer["Patient First Name"]</label>
                                            <input type="text" class="form-control" readonly value="@Model.Patient.PatientName">
                                        </div>

                                        <div class="form-group col-md-6 col-sm-12">
                                            <label>@Localizer["Patient Last Name"]</label>
                                            <input type="text" class="form-control" readonly value="@Model.Patient.PatientLastName">
                                        </div>

                                        <div class="form-group col-md-6 col-sm-12">
                                            <label>@Localizer["Patient National Code"]</label>
                                            <input type="text" class="form-control" readonly value="@Model.Patient.NationalId">
                                        </div>

                                        <div class="form-group col-md-6 col-sm-12">
                                            <label>@Localizer["Gender"]</label>
                                            @if (Model.Patient.Gender == DoctorFAM.Domain.Enums.Gender.Gender.Male)
                                            {
                                                <input type="text" class="form-control" readonly value="@Localizer["Male"]">
                                            }
                                            @if (Model.Patient.Gender == DoctorFAM.Domain.Enums.Gender.Gender.Female)
                                            {
                                                <input type="text" class="form-control" readonly value="@Localizer["Female"]">
                                            }
                                        </div>

                                        <div class="form-group col-md-6 col-sm-12">
                                            <label>@Localizer["Age"]</label>
                                            <input type="text" class="form-control" readonly value="@Model.Patient.Age">
                                        </div>

                                        <div class="form-group col-md-6 col-sm-12">
                                            <label>@Localizer["Insurance Type"]</label>
                                            @if (Model.Patient.InsuranceType == DoctorFAM.Domain.Enums.InsuranceType.InsuranceType.Free)
                                            {
                                                <input type="text" class="form-control" readonly value="@Localizer["Free"]">
                                            }
                                            @if (Model.Patient.InsuranceType == DoctorFAM.Domain.Enums.InsuranceType.InsuranceType.Salamat)
                                            {
                                                <input type="text" class="form-control" readonly value="@Localizer["Health Insurance"]">
                                            }
                                            @if (Model.Patient.InsuranceType == DoctorFAM.Domain.Enums.InsuranceType.InsuranceType.FreeJobs)
                                            {
                                                <input type="text" class="form-control" readonly value="@Localizer["بیمه ی آزاد"]">
                                            }
                                            @if (Model.Patient.InsuranceType == DoctorFAM.Domain.Enums.InsuranceType.InsuranceType.Iranian)
                                            {
                                                <input type="text" class="form-control" readonly value="@Localizer["Iranian health"]">
                                            }
                                            @if (Model.Patient.InsuranceType == DoctorFAM.Domain.Enums.InsuranceType.InsuranceType.Tamin)
                                            {
                                                <input type="text" class="form-control" readonly value="@Localizer["Social Security"]">
                                            }
                                        </div>

                                        <div class="form-group col-md-12 col-sm-12">
                                            <label>@Localizer["Request Description"]</label>
                                            <textarea type="text" style="max-width:100%;" class="form-control" readonly>@Model.Patient.RequestDescription</textarea>
                                        </div>

                                        <div class="form-group col-md-6 col-sm-12">
                                            <label>@Localizer["Patient Phone Number"]</label>
                                            <input type="text" class="form-control" readonly value="@(string.IsNullOrEmpty(Model.PatientRequestDetail.Phone) ? Localizer["Empty"] : Model.PatientRequestDetail.Phone )">
                                        </div>

                                        <div class="form-group col-md-6 col-sm-12">
                                            <label>@Localizer["Patient Mobile"]</label>
                                            <input type="text" class="form-control" readonly value="@(string.IsNullOrEmpty(Model.PatientRequestDetail.Mobile) ? Localizer["Empty"] : Model.PatientRequestDetail.Mobile )">
                                        </div>

                                        <div class="form-group col-md-6 col-sm-12">
                                            <label>@Localizer["Distance from the city"]</label>
                                            <input type="text" class="form-control" readonly value="@(Model.PatientRequestDetail.Distance == null ? Localizer["Empty"] : Model.PatientRequestDetail.Distance )">
                                        </div>

                                        <div class="form-group col-md-6 col-sm-12">
                                            <label>@Localizer["Vilage Name"]</label>
                                            <input type="text" class="form-control" readonly value="@(string.IsNullOrEmpty(Model.PatientRequestDetail.Vilage) ? Localizer["Empty"] : Model.PatientRequestDetail.Vilage )">
                                        </div>

                                        <div class="form-group col-md-12 col-sm-12">
                                            <label>@Localizer["Address"]</label>
                                            <textarea type="text" style="max-width:100%;" class="form-control" readonly>@Model.PatientRequestDetail.FullAddress</textarea>
                                        </div>



                                    </div>

                                    @if (ViewBag.IsThisRequestForThisPharmacy == true)
                                    {
                                        <a asp-action="AcceptHomePharmacyRequestFromPharmacy" asp-area="Pharmacy" asp-controller="HomePharmacy" asp-route-requestId="@Model.Request.Id" class="btn btn-primary">@Localizer["View Invoice"]</a>
                                    }
                                    else
                                    {
                                        <a asp-action="AcceptHomePharmacyRequestFromPharmacy" asp-area="Pharmacy" asp-controller="HomePharmacy" asp-route-requestId="@Model.Request.Id" class="btn btn-primary">@Localizer["Accept Request"]</a>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>

    </div>

</div>
