@model DoctorFAM.Domain.ViewModels.UserPanel.Reservation.FilterFamilyDoctorReservationDateTimeUserPanelViewModel
@using DoctorFAM.Application.Extensions
@using DoctorFAM.Application.Convertors
@using DoctorFAM.Domain.ViewModels.Common
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedLocalizer> SharedHtmlLocalizer


@{
    ViewData["Title"] = @Localizer["Reservation Date Time Detail"];
}

@section Styles
{
}

@section Scripts
{
    <partial name="_JqueryValidation" />

    <script>

        //#region Choose Reservation Type

        function ChooseReservationType(reservationDateTimeId, doctorId) {
            $.ajax({
                url: "/Choose-Type-Of-Reservation-UserPanel",
                type: "get",
                data: {
                    reservationDateTimeId: reservationDateTimeId,
                    doctorId: doctorId
                },
                success: function (response) {
                    $("#NormalModalBody").html(response);
                    $("#NormalModalTitle").html("@Localizer["Select Reservation Type"]");

                    $('#ChooseReservationType').data('validator', null);
                    $.validator.unobtrusive.parse('#ChooseReservationType');

                    $("#NormalModal").modal("show");
                }
            });
        }

        //#endregion

    </script>
}

@section Breadcrumb
{
    <li>
        <a asp-action="ShowUserFamilyDoctorDetail" asp-controller="FamilyDoctor" asp-area="UserPanel"> پزشک من </a>
    </li>
}

    <div class="row">
      @*  <div class="col-lg-3 col-sm-12">

            <div class="widget">
                <div class="widget-header bordered-bottom bordered-green">
                    <span class="widget-caption"> @Localizer["Manage Reservation Date Time"] </span>
                </div>
                <div class="widget-body">
                    <div>
                        <form asp-action="ReservationDateDetail" asp-controller="Reservation" asp-area="UserPanel" id="filter-search" method="get">

                            <input type="hidden" asp-for="Page" />
                            <input type="hidden" asp-for="ReservationDateId" />
                            <input type="hidden" asp-for="UserId" />

                            <div class="form-group">
                                <label asp-for="FilterFamilyDoctorReservationInUserPanelState"> @Localizer["Order By State"] </label>
                                <select asp-for="FilterFamilyDoctorReservationInUserPanelState" class="form-control" asp-items="Html.GetEnumSelectList(typeof(DoctorFAM.Domain.Enums.DoctorReservation.FilterFamilyDoctorReservationInUserPanelState))"></select>
                            </div>

                            <div class="form-group">
                                <label asp-for="FilterDoctorReservationType"> @Localizer["Order By Type"] </label>
                                <select asp-for="FilterDoctorReservationType" class="form-control" asp-items="Html.GetEnumSelectList(typeof(DoctorFAM.Domain.Enums.DoctorReservation.FilterDoctorReservationType))"></select>
                            </div>

                            <div class="form-group">
                                <label asp-for="FilterRequestOrder"> @Localizer["Order By Create Date"] </label>
                                <select asp-for="FilterRequestOrder" class="form-control" asp-items="Html.GetEnumSelectList(typeof(DoctorFAM.Domain.Enums.Request.FilterRequestOrder))"></select>
                            </div>

                            <hr />

                            <div class="row">
                                <div class="col-md-12 flex-style">
                                    <button type="submit" class="btn btn-labeled w-100 btn-palegreen">
                                        <i class="btn-label glyphicon glyphicon-filter"></i>@Localizer["Filter"]
                                    </button>

                                @if (Context.Request.QueryString.HasValue)
                                {
                                    <a asp-action="ReservationDateDetail" asp-route-ReservationDateId="@Model.ReservationDateId" asp-route-UserId="@Model.UserId" asp-controller="Reservation" asp-area="UserPanel" class="btn btn-labeled w-100 btn-darkorange ">
                                        <i class="btn-label glyphicon glyphicon-remove"></i>@Localizer["Delete Filter"]
                                    </a>
                                }
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>*@

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="well with-header with-footer table-responsive">
            <div class="header bordered-azure">
                <div class="flex-style">
                    <span>@ViewData["Title"]</span>
                    
                    <span class="red">(@Model.GetShownEntitiesPagesTitle())</span><span>نوبت</span>
                </div>
            </div>

            @if (Model.Entities != null && Model.Entities.Any())
            {
                <table class="table table-hover table-bordered tc vm">
                    <thead class="tc vm">
                        <tr class="tc vm">
                            <th class="tc vm">
                                @Localizer["Start Date"]
                            </th>
                           
                            <th class="tc vm">
                                @Localizer["Status"]
                            </th>
                            <th class="tc vm">
                                @Localizer["Type"]
                            </th>
                            <th class="tc vm">
                                @Localizer["Possibilities"]
                            </th>
                        </tr>
                    </thead>
                    <tbody class="tc vm">
                        @foreach (var date in Model.Entities)
                        {
                            <tr class="tc vm" remove-ajax-item="@date.Id">
                                <td class="vm">
                                    <div class="flex-style-center">
                                        @string.Concat(date.StartTime.Reverse().Skip(3).Reverse())
                                        
                                    </div>
                                </td>
                                
                                <td class="tc vm">
                                    <p>
                                        @if (date.DoctorReservationState == DoctorFAM.Domain.Enums.DoctorReservation.DoctorReservationState.NotReserved)
                                        {
                                            <span class="mr-8px label label-success">@Localizer["Not Reserved Yet"] </span>
                                        }

                                        @if (date.DoctorReservationState == DoctorFAM.Domain.Enums.DoctorReservation.DoctorReservationState.Reserved)
                                        {
                                            <span class="mr-8px label label-orange">@Localizer["Reserved"] </span>
                                        }

                                        @if (date.DoctorReservationState == DoctorFAM.Domain.Enums.DoctorReservation.DoctorReservationState.WaitingForComplete)
                                        {
                                            <span class="mr-8px label label-orange">@Localizer["Waiting For Complete"] </span>
                                        }
                                    </p>
                                </td>

                                <td class="tc vm">
                                    <p>
                                        @if (date.DoctorReservationType == DoctorFAM.Domain.Enums.DoctorReservation.DoctorReservationType.Onile)
                                        {
                                            <span class="mr-8px label label-orange">@Localizer["Online"] </span>
                                        }

                                        @if (date.DoctorReservationType == DoctorFAM.Domain.Enums.DoctorReservation.DoctorReservationType.Reserved)
                                        {
                                            <span class="mr-8px label label-orange">@Localizer["In Persone"] </span>
                                        }

                                        @if (date.DoctorReservationType == null)
                                        {
                                            <span class="mr-8px label label-success">@Localizer["Not Reserved Yet"] </span>
                                        }
                                    </p>
                                </td>

                                <td class="tc vm">

                                    @if (date.DoctorReservationState == DoctorFAM.Domain.Enums.DoctorReservation.DoctorReservationState.NotReserved)
                                    {
                                        <p onclick="ChooseReservationType(@date.Id,@Model.UserId)" class="btn btn-info ">رزرو میکنم</p>
                                    }

                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

                <div class="footer tc">

                    <partial name="_UserPanelPaging" model="@Model.GetCurrentPaging()" />

                </div>
            }
            else
            {
                <partial name="_UserPanelNotFoundPartial" />
            }
        </div>
    </div>
</div>

