@model List<DoctorFAM.Domain.Entities.Account.User>
@using DoctorFAM.Application.Extensions
@using DoctorFAM.Application.Convertors
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedLocalizer> SharedHtmlLocalizer

<div class="col-lg-12 col-md-12 col-xl-12 col-sm-12 col-xs-12 boxForDashboard">
    <div class="widget">
        <div class="widget-header">
            <i class="widget-icon  glyphicon glyphicon-home"></i>
            <span class="widget-caption"> @Localizer["List Of Lastest Consultant Requests"] </span>
            <div class="widget-buttons">
                <div class="row">
                    <a id="ShowUserCommentInAdminPanelMinus" href="#" data-toggle="collapse">
                        <i class="fa fa-minus"></i>
                    </a>
                </div>
            </div><!--Widget Buttons-->
        </div>
        <div class="widget-body" style="max-height: 410px !important; overflow-y: scroll; height:auto;">
            @if (Model != null && Model.Any())
            {
                <div class="table-responsive">
                    <table class="table table-hover table-bordered tc vm">
                        <thead class="tc vm">
                            <tr class="tc vm">
                                <th class="tc vm">
                                    @Localizer["User Avatar"]
                                </th>
                                <th class="tc vm">
                                    @Localizer["Email"]
                                </th>
                                <th class="tc vm">
                                    @Localizer["Mobile"]
                                </th>
                                <th class="tc vm">
                                    @Localizer["Date Time"]
                                </th>
                                <th class="tc vm">

                                </th>
                            </tr>
                        </thead>
                        <tbody class="tc vm">
                            @foreach (var request in Model)
                            {
                                <tr class="tc vm">
                                    <td class="vm">
                                        <div class="flex-style-center">
                                            <img src="@request.GetUserAvatar()" class="avatar-style" style="border-radius:50px;" />
                                            <div class="mr-10px">
                                                <span> @request.Username </span>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="tc vm">
                                        <p>
                                            @if (request.Email == null)
                                            {
                                                <span class="mr-8px label label-orange">@Localizer["Empty"] </span>
                                            }
                                            else
                                            {
                                                @request.Email
                                            }
                                        </p>
                                    </td>
                                    <td class="tc vm">
                                        @if (!string.IsNullOrEmpty(request.Mobile))
                                        {
                                            <p> @request.Mobile</p>
                                        }
                                    </td>
                                    <td class="tc vm">
                                        <p>  @request.CreateDate.ToStringShamsiDate() </p>
                                        <p> @request.CreateDate.Hour:@request.CreateDate.Minute:@request.CreateDate.Second</p>
                                    </td>
                                    <td class="tc vm">
                                        <a asp-action="PersonInPopulationCoveredDetail" asp-controller="Consultant" asp-area="Consultant" asp-route-patientId="@request.Id" class="btn btn-azure btn-circle btn-xs"><i class="glyphicon glyphicon-eye-open"></i></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

                <!--Widget Body-->
            }
            else
            {
                <partial name="_ConsultantPanelNotFoundPartial" />
            }
        </div>
    </div>
</div>
