@model DoctorFAM.Domain.ViewModels.UserPanel.FamilyDoctor.ShowUserFamilyDoctorInfo
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedLocalizer> SharedHtmlLocalizer

<div class="widget">
    <div class="widget-header">
        <i class="widget-icon fa fa-link"></i>
        <span class="widget-caption"> @Localizer["Best Links"] </span>
        <div class="widget-buttons">
            <a href="#" data-toggle="collapse">
                <i class="fa fa-minus"></i>
            </a>
        </div><!--Widget Buttons-->
    </div><!--Widget Header-->
    <div class="widget-body">
        <div class="row text-center justify-content-center"> 
            
           
          
                <a asp-controller="Reservation" asp-area="UserPanel" asp-action="ListOfReservationDate" asp-route-UserId="@Model.User.Id" class="btn btn-success   p-3 " style="font-size:18px ;"> @Localizer["Doctor Reservation"] </a>
                
                <a asp-action="CancelUserSelectedFamilyDoctorFromUserPanel" asp-controller="FamilyDoctor" asp-area="UserPanel" class="btn btn-maroon   p-3" style="font-size:18px ;"> خروج از جمعیت پزشک خانواده  </a>

                <a asp-action="DocPage" asp-area="" asp-controller="FocalPoint" asp-route-userId="@Model.User.Id" class="btn btn-info   p-3 " style="font-size:18px ;">مشاهده پروفایل پزشک</a>

           
           
            
@*            <a style="width:80%;margin-right: 20px;" asp-action="FilterPopulationCoveredAdminViewModel" asp-controller="PopulationCovered" asp-route-UserId="@Model.User.Id" class="btn btn-blue btn-sm col-md-12  mt-10px ml-10px"> @Localizer["Population Covered"] </a>
*@
        </div>
    </div><!--Widget Body-->
</div>