@model List<DoctorFAM.Domain.ViewModels.Site.ListOfDentistShowSiteSideViewModel>

@using DoctorFAM.Domain.ViewModels.Admin.Doctors.DoctorsInfo
@using DoctorFAM.Application.Extensions
@using DoctorFAM.Application.Convertors
@using DoctorFAM.Domain.ViewModels.Common
@using DoctorFAM.Application.StaticTools
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedLocalizer> SharedHtmlLocalizer

@{
    ViewBag.Title = "معرفی دندان پزشکان";
}


@section Scripts
    {
}

@section Styles
    {
}

<div class="container">

    <div class="content mt-3">
        <div class="container-fluid">
            <div class="row">

                @if (Model != null && Model.Any())
                {
                    <div class="col-md-12 mb-4 ">

                        @foreach (var doctor in Model)
                        {
                            <div class="card">

                                <div class="card-body">
                                    <div class="doctor-widget">
                                        <div class="doc-info-left">
                                            <div class="doctor-img">
                                                <a asp-action="DocPage" asp-area="" asp-controller="FocalPoint" asp-route-userId="@doctor.DentistUserInfos.UserId">
                                                    <img src="/content/images/user/@((string.IsNullOrEmpty(doctor.DentistUserInfos.UserAvatar)) ? "DefaultAvatar.png" : $"thumb/{doctor.DentistUserInfos.UserAvatar}")" class="img-fluid" alt="User Image">
                                                </a>
                                            </div>
                                            <div class="doc-info-cont">
                                                <h4 class="doc-name"><a asp-action="DocPage" asp-area="" asp-controller="FocalPoint" asp-route-userId="@doctor.DentistUserInfos.UserId">پزشک:دکتر  @doctor.DentistUserInfos.DoctorUsername</a></h4>
                                         
                                                <div class="rating">
                                                    <i class="fas fa-star filled"></i>
                                                    <i class="fas fa-star filled"></i>
                                                    <i class="fas fa-star filled"></i>
                                                    <i class="fas fa-star filled"></i>
                                                    <i class="fas fa-star"></i>
                                                    <span class="d-inline-block average-rating">()</span>
                                                </div>

                                                <div class="clinic-services">
                                                    نوع ویزیت: آنلاین - حضوری
                                                    @*<span>آنلاین</span>
                                            <span>حضوری</span>*@
                                                </div>

                                            </div>
                                        </div>
                                        <div class="doc-info-right text-center justify-content-center">

                                            @*Followers Detail*@
                                            @await Component.InvokeAsync("DoctorsFollowDetailOnListOfFamilyDoctors" , new{
                                    targetUserId = doctor.DentistUserInfos.UserId})

                                            <div class="clinic-booking mt-1  text-center justify-content-center">
                                                <a class="view-pro-btn mt-3  text-center justify-content-center" asp-action="DentistPage" asp-area="" asp-controller="Dentist" asp-route-userId="@doctor.DentistUserInfos.UserId">مشاهده پروفایل</a>

                                                <a class="apt-btn  text-center justify-content-center" asp-action="DentistBooking" asp-controller="Dentist" asp-area="" asp-route-userId="@doctor.DentistUserInfos.UserId">رزرو نوبت</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                }

            </div>
        </div>
    </div>
</div>
