@model List<DoctorFAM.Domain.Entities.DoctorReservation.DoctorReservationDateTime>
@using DoctorFAM.Application.Extensions
@using DoctorFAM.Application.Convertors
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedLocalizer> SharedHtmlLocalizer

<div class="col-lg-12 col-md-12 col-xl-12 col-sm-12 col-xs-12 boxForDashboard">
    <div class="widget">
        <div class="widget-header">
            <i class="widget-icon  glyphicon glyphicon-home"></i>
            <span class="widget-caption"> @Localizer["Today Reservations"] </span>
            <div class="widget-buttons">
                <div class="row">
                    <a id="ShowUserCommentInAdminPanelMinus" href="#" data-toggle="collapse">
                        <i class="fa fa-minus"></i>
                    </a>
                </div>
            </div><!--Widget Buttons-->
        </div>
        @if (Model != null && Model.Any())
        {
            <div class="widget-body" style="max-height: 230px !important; overflow-y: scroll; height:auto;">

                <div class="table-responsive">
                    <table class="table table-hover table-bordered tc vm">
                        <thead class="tc vm">
                            <tr class="tc vm">
                                <th class="tc vm">
                                    @Localizer["Doctor Information"]
                                </th>
                                <th class="tc vm">
                                    @Localizer["User Information"]
                                </th>
                                <th class="tc vm">
                                    @Localizer["Date"]
                                </th>
                                <th class="tc vm">
                                    @Localizer["Time"]
                                </th>
                                <th class="tc vm">
                                    @Localizer["State"]
                                </th>
                                <th class="tc vm">
                                    @Localizer["Possibilities"]
                                </th>
                            </tr>
                        </thead>
                        <tbody class="tc vm">
                            @foreach (var date in Model)
                            {
                                <tr class="tc vm" remove-ajax-item="@date.Id">
                                    <td class="vm">
                                        <div class="flex-style-center">
                                            <img src="@date.DoctorReservationDate.User.GetUserAvatar()" class="avatar-style" style="border-radius:50px;" />
                                            <div class="mr-10px">
                                                <span>@Localizer["Username"] : @date.DoctorReservationDate.User.Username</span>
                                                <hr class="margin-7" />
                                                <span>@Localizer["Mobile"] : @date.DoctorReservationDate.User.Mobile</span>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="vm">
                                        <div class="flex-style-center">
                                            @if (date.DoctorReservationState == DoctorFAM.Domain.Enums.DoctorReservation.DoctorReservationState.NotReserved)
                                            {
                                                <p style="margin-top:50px;" class="label label-danger">@Localizer["Not Reserved"]</p>
                                            }
                                            else
                                            {
                                                <img src="@date.User.GetUserAvatar()" class="avatar-style" style="border-radius:50px;" />
                                                <div class="mr-10px">
                                                    <span>@Localizer["Username"] : @date.User.Username</span>
                                                    <hr class="margin-7" />
                                                    <span>@Localizer["Mobile"] : @date.User.Mobile</span>
                                                </div>
                                            }
                                        </div>
                                    </td>
                                    <td class="vm">
                                        <div class="flex-style-center">
                                            <p> @date.DoctorReservationDate.ReservationDate.ToShamsi() </p>
                                        </div>
                                    </td>

                                    <td class="tc vm">
                                        <div class="flex-style-center">
                                            <div class="mr-10px">
                                                <p> @Localizer["Start"] : @date.StartTime </p>
                                                <hr class="margin-7" />
                                                <p> @Localizer["End"] : @date.EndTime </p>
                                            </div>
                                        </div>
                                    </td>

                                    <td class="vm">
                                        <div class="flex-style-center">
                                            <div class="mr-10px">
                                                @if (date.DoctorReservationState == DoctorFAM.Domain.Enums.DoctorReservation.DoctorReservationState.Reserved)
                                                {
                                                    <p class="label label-success">@Localizer["Reserved"]</p>
                                                }

                                                @if (date.DoctorReservationState == DoctorFAM.Domain.Enums.DoctorReservation.DoctorReservationState.WaitingForComplete)
                                                {
                                                    <p class="label label-danger">@Localizer["Waiting"]</p>
                                                }

                                                @if (date.DoctorReservationState == DoctorFAM.Domain.Enums.DoctorReservation.DoctorReservationState.NotReserved)
                                                {
                                                    <p class="label label-danger">@Localizer["Not Reserved"]</p>
                                                }

                                                <hr class="margin-7" />

                                                @if (date.DoctorReservationType == DoctorFAM.Domain.Enums.DoctorReservation.DoctorReservationType.Onile)
                                                {
                                                    <p class="label label-success">@Localizer["Online"]</p>
                                                }

                                                @if (date.DoctorReservationType == DoctorFAM.Domain.Enums.DoctorReservation.DoctorReservationType.Reserved)
                                                {
                                                    <p class="label label-info">@Localizer["In Persone"]</p>
                                                }

                                                @if (date.DoctorReservationType == null)
                                                {
                                                    <p class="label label-info">@Localizer["not determined"]</p>
                                                }

                                            </div>
                                        </div>
                                    </td>

                                    <td class="tc vm">
                                        <a asp-action="ReservationDetail" asp-controller="Reservation" asp-area="Admin" asp-route-ReservationId="@date.Id" class="btn btn-azure btn-circle btn-xs"><i class="glyphicon glyphicon-eye-open"></i></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

            </div>
        }
        else
        {
            <div class="widget-body" >

                <partial name="_AdminNotFoundPartial" />

            </div>
        }

    </div>
</div>
