@model DoctorFAM.Domain.ViewModels.Admin.Dashboard.AdminDashboardViewModel

@{
    ViewData["Title"] = @SharedHtmlLocalizer["Home"];
}

@section Breadcrumb {
    <li class="active">@SharedHtmlLocalizer["Home"]</li>
}

@section Styles
    {
    <link href="/admin/css/dataTables.bootstrap.rtl.css" rel="stylesheet" />

    <style>

        .databox-bottom {
            height: 100% !important;
        }

        .databox.databox-vertical.databox-lg {
            height: 100%;
            width: 100%;
        }

        .databox.databox-vertical.databox-halved .databox-top {
            height: 60px;
        }

        .databox-icon {
            margin-top: 10px !important;
        }

        .dropdown-menu {
            left: 0;
            right: auto;
        }

    </style>
}
@section Scripts
    {
    <script src="~/admin/js/datatable/jquery.dataTables.min.js"></script>
    <script src="~/admin/js/datatable/ZeroClipboard.js"></script>
    <script src="~/admin/js/datatable/dataTables.tableTools.min.js"></script>
    <script src="~/admin/js/datatable/dataTables.bootstrap.min.js"></script>
    <script src="~/admin/js/datatable/datatables-init.js"></script>
    <script>
        InitiateSimpleDataTable.init();
        InitiateEditableDataTable.init();
        InitiateExpandableDataTable.init();
        InitiateSearchableDataTable.init();
    </script>
}
<div class="page-body">

    <div class="row">

        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="databox radius-bordered databox-shadowed databox-graded">
                <div class="bg-green databox-right">
                    <div class="databox-piechart">
                    </div>
                </div>
                <div class="databox-left">
                    <span class="databox-number success">@Model.CountOfTodayRegister</span>
                    <div class="databox-text darkgray">تعداد ثبت نامی های امروز</div>
                   
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="databox radius-bordered databox-shadowed databox-graded">
                <div class="bg-blue databox-right">
                    <div class="databox-piechart">
                    </div>
                </div>
                <div class="databox-left">
                    <span class="databox-number primary">@Model.DoctorReservationDateTimes.Count()</span>
                    <div class="databox-text darkgray">تعداد نوبت های امروز</div>

                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="databox radius-bordered databox-shadowed databox-graded">
                <div class="bg-red databox-right">
                    <div class="databox-piechart">
                    </div>
                </div>
                <div class="databox-left">
                    <span class="databox-number orange">@Model.CountOfWaitingForPaymentReservationRequests</span>
                    <div class="databox-text darkgray">تعداد نوبت های درانتظار بررسی پشتیان</div>

                </div>
            </div>
        </div>

    </div>

    <div class="row">

        @*Box Of Lastest Reservation Reuqests*@
        <partial name="_TodayReservationReserved" model="@Model.DoctorReservationDateTimes" />

        @*Box Of Lastest Requests*@
        <partial name="_LastestRequestsPartial" model="@Model.AllRecords" />

        @*Box Of  Lastest Incoming Doctors Organization Information*@
        <partial name="_LastestIncomingDoctorsOrganizationInformation" model="@Model.ListOfWaitingForAcceptInformationsDoctors" />

        @*Box Of  Lastest Request For Excel File*@
        <partial name="_LastestRequestForExcelFile" model="@Model.LatestRequestForUploadExcelFile" />

        @*Box Of  Lastest Customer Advertisements*@
        <partial name="_LastestCustomerAdvertisements" model="@Model.LastestCustomerAdvertisements" />

        @*Box Of  Lastest Arrival Resume*@
        <partial name="_LastestArrivalResumes" model="@Model.LastestArrivalResumes" />

        @*Box Of  Tickets List*@
        <partial name="_LastestTicketsPartial" model="@Model.ListOfLastestTickets" />

        @*Box Of  Cooperation Request*@
        <partial name="_LastestCooperationRequest" model="@Model.CooperationRequests" />

        @*Box Of  Lastest TV FAM Incoming Video*@
        <partial name="_LastestTVFAMIncomingVideo" model="@Model.LastestIncomingTVFAM" />

        @*Box Of  Lastest Pocasts Incoming*@
        <partial name="_LastestPodcastsIncoming" model="@Model.LastestIncomingRadioFAM" />

        @*Box Of  Send Request Of SMS From Doctors To The Patient*@
        <partial name="_SendRequestOfSMSFromDoctorsToThePatient" model="@Model.RequestForSendSMSFromDoctorsToTheUsersAdminSideViewModel" />

    </div>

</div>