@model DoctorFAM.Domain.ViewModels.Admin.Dashboard.AdminDashboardViewModel

@{
    ViewData["Title"] = @SharedHtmlLocalizer["Home"];
}

@section Breadcrumb {
    <li class="active">@SharedHtmlLocalizer["Home"]</li>
}

    @section Styles
    {
    <style>

        .databox-bottom {
            height: 100% !important;
        }

        .databox.databox-vertical.databox-lg {
            height: 100%;
            width: 100%;
        }

        .databox.databox-vertical.databox-halved .databox-top {
            height: 60px;
        }

        .databox-icon {
            margin-top: 10px !important;
        }

        .dropdown-menu {
            left: 0;
            right: auto;
        }

    </style>
}

    <div class="page-body">

        <div class="row">

            @*Box Of Lastest Requests*@
            <partial name="_LastestRequestsPartial" model="@Model.AllRecords" />

            @*Box Of Lastest Requests*@
            <partial name="_TodayReservationReserved" model="@Model.DoctorReservationDateTimes" />

            @*Box Of  Lastest Incoming Doctors Organization Information*@
        <partial name="_LastestIncomingDoctorsOrganizationInformation" model="@Model.ListOfWaitingForAcceptInformationsDoctors" />

            @*Box Of  Lastest Request For Excel File*@
            <partial name="_LastestRequestForExcelFile" model="@Model.LatestRequestForUploadExcelFile" />

            @*Box Of  Lastest Customer Advertisements*@
            <partial name="_LastestCustomerAdvertisements" model="@Model.LastestCustomerAdvertisements" />

            @*Box Of  Lastest Arrival Resume*@
            <partial name="_LastestArrivalResumes" model="@Model.LastestArrivalResumes" />

            @*Box Of  Tickets List*@
            <partial name="_LastestTicketsPartial" model="@Model.ListOfLastestTickets" />

            @*Box Of  Cooperation Request*@
            <partial name="_LastestCooperationRequest" model="@Model.CooperationRequests" />

            @*Box Of  Lastest TV FAM Incoming Video*@
            <partial name="_LastestTVFAMIncomingVideo" model="@Model.LastestIncomingTVFAM" />

            @*Box Of  Lastest Pocasts Incoming*@
            <partial name="_LastestPodcastsIncoming" model="@Model.LastestIncomingRadioFAM" />

        </div>

    </div>