@model DoctorFAM.Domain.ViewModels.DoctorPanel.DosctorSideBarInfo.DoctorSideBarViewModel

<!-- Page Sidebar -->
<div class="page-sidebar" id="sidebar">
    <!-- Page Sidebar Header-->
    <div class="sidebar-header-wrapper">
        <input type="text" class="searchinput" />
        <i class="searchicon fa fa-search"></i>
        <div class="searchhelper">به جستجوی صفحات، گزارشات، پیام ها و ایمیل خود بپردازید</div>
    </div>
    <!-- /Page Sidebar Header -->
    <!-- Sidebar Menu -->
    <ul class="nav sidebar-menu">
        <!--Dashboard-->

        <li>
            <a asp-area="Doctor" asp-controller="Home" asp-action="Index">
                <i class="menu-icon glyphicon glyphicon-home"></i>
                <span class="menu-text"> @SharedLocalizer["Dashboard"] </span>
            </a>
        </li>

        @if (Model.DoctorInfoState == "Accepted")
        {
            @if (Model.DoctorFamily == true)
            {

                <li>
                    <a href="#" class="menu-dropdown">
                        <i class="menu-icon glyphicon glyphicon-thumbs-up"></i>
                        <span class="menu-text">@SharedLocalizer["List of covered people"]</span>
                        <i class="menu-expand"></i>
                    </a>

                    <ul class="submenu">

                        <li>
                            <a asp-area="Doctor" asp-controller="PopulationCovered" asp-action="FilterPopulationCovered">
                                <span class="menu-text">@SharedLocalizer["Lastest Population Covered"]</span>
                            </a>
                        </li>

                        <li>
                            <a asp-area="Doctor" asp-controller="PopulationCovered" asp-action="FilterCurrentDoctorPopulationCovered">
                                <span class="menu-text">@SharedLocalizer["List of Your covered people"]</span>
                            </a>
                        </li>

                    </ul>
                </li>

                <li>
                    <a href="#" class="menu-dropdown">
                        <i class="menu-icon glyphicon glyphicon-thumbs-up"></i>
                        <span class="menu-text">@SharedLocalizer["List Of Insert From System"]</span>
                        <i class="menu-expand"></i>
                    </a>

                    <ul class="submenu">

                        <li>
                            <a asp-action="ListOfYourUsers" asp-area="Doctor" asp-controller="IncomeSystem">
                                <span class="menu-text">@SharedLocalizer["List OF Insert User"]</span>
                            </a>
                        </li>

                        <li>
                            <a asp-action="IncomingExcelFile" asp-area="Doctor" asp-controller="IncomeSystem">
                                <span class="menu-text">@SharedLocalizer["Upload Compelete Excel File"]</span>
                            </a>
                        </li>

                        <li>
                            <a target="_blank" href="/Content/ExcelSampleFile/PopulationCoveredSmple.xlsx">
                                <span class="menu-text">@SharedLocalizer["dlw Sample Of Excel File"]</span>
                            </a>
                        </li>

                    </ul>
                </li>
            }

            <li>
                <a asp-area="Doctor" asp-controller="MedicalRecords" asp-action="FilterMedicalRecord">
                    <i class="menu-icon glyphicon glyphicon-sort-by-attributes"></i>
                    <span class="menu-text"> @SharedLocalizer["Records of medical"] </span>
                    <i class="menu-expand"></i>
                </a>
            </li>

            <li>
                <a href="#" class="menu-dropdown">
                    <i class="menu-icon glyphicon glyphicon-edit"></i>
                    <span class="menu-text"> @SharedLocalizer["Turn ratings"] </span>
                    <i class="menu-expand"></i>
                </a>

                <ul class="submenu">

                    <li>
                        <a asp-area="Doctor" asp-controller="Appointment" asp-action="ListOfReservationDate">
                            <span class="menu-text">@SharedLocalizer["List Of Reservations"]</span>
                        </a>
                    </li>

                    <li>
                        <a asp-area="Doctor" asp-controller="Appointment" asp-action="AddReservationDateView">
                            <span class="menu-text">@SharedLocalizer["Add Reservation Date"]</span>
                        </a>
                    </li>

                    <li>
                        <a asp-area="Doctor" asp-controller="Appointment" asp-action="ListOfDoctorReservationHistory">
                            <span class="menu-text">@SharedLocalizer["Reservation History"]</span>
                        </a>
                    </li>

                    <li>
                        <a asp-area="Doctor" asp-controller="Appointment" asp-action="CancelReservationRequest">
                            <span class="menu-text">@SharedLocalizer["Canecl Reservation Request"]</span>
                        </a>
                    </li>

                </ul>
            </li>

            @if (Model.HomeVisit == true)
            {
                <li>
                    <a href="#" class="menu-dropdown">
                        <i class="menu-icon glyphicon glyphicon-thumbs-up"></i>
                        <span class="menu-text">@SharedLocalizer["Home Visit"]</span>
                        <i class="menu-expand"></i>
                    </a>

                    <ul class="submenu">

                        <li>
                            <a asp-action="ListOfHomeVisitRequest" asp-area="Doctor" asp-controller="HomeVisit">
                                <span class="menu-text">@SharedLocalizer["List Of Home Visit Request"]</span>
                            </a>
                        </li>

                        <li>
                            <a asp-action="ListOfYourHomeVisitRequest" asp-area="Doctor" asp-controller="HomeVisit">
                                <span class="menu-text">@SharedLocalizer["List Of Your Home Visit"]</span>
                            </a>
                        </li>

                    </ul>
                </li>
            }

            @if (Model.DeathCertificate == true)
            {
                <li>
                    <a href="#" class="menu-dropdown">
                        <i class="menu-icon glyphicon glyphicon-thumbs-up"></i>
                        <span class="menu-text">@SharedLocalizer["Death Certificate"]</span>
                        <i class="menu-expand"></i>
                    </a>

                    <ul class="submenu">

                        <li>
                            <a asp-action="ListOfDeathCertificateRequests" asp-area="Doctor" asp-controller="DeathCertificate">
                                <span class="menu-text">@SharedLocalizer["List Of Death Certificate"]</span>
                            </a>
                        </li>

                        <li>
                            <a asp-action="ListOfYourDeathCertificateRequests" asp-area="Doctor" asp-controller="DeathCertificate">
                                <span class="menu-text">@SharedLocalizer["List Of Your Death Certificate"]</span>
                            </a>
                        </li>

                    </ul>
                </li>

            }

            @if (Model.OnlineVisit == true)
            {
                <li>
                    <a href="#" class="menu-dropdown">
                        <i class="menu-icon glyphicon glyphicon-thumbs-up"></i>
                        <span class="menu-text">@SharedLocalizer["Online Visit"]</span>
                        <i class="menu-expand"></i>
                    </a>

                    <ul class="submenu">

                        <li>
                            <a asp-action="FilterOnlineVisitRequests" asp-area="Doctor" asp-controller="OnlineVisit">
                                <span class="menu-text">@SharedLocalizer["List Of Lastest Home Visit"]</span>
                            </a>
                        </li>

                        <li>
                            <a asp-action="FilterYourOnlineVisitRequest" asp-area="Doctor" asp-controller="OnlineVisit">
                                <span class="menu-text">@SharedLocalizer["List Of Your Online Visit"]</span>
                            </a>
                        </li>

                    </ul>
                </li>
            }

            <li>
                <a href="#" class="menu-dropdown">
                    <i class="menu-icon fa fa-user"></i>
                    <span class="menu-text"> @SharedLocalizer["Profile"] </span>
                    <i class="menu-expand"></i>
                </a>

                <ul class="submenu">

                    <li>
                        @*<a asp-area="Doctor" asp-controller="Account" asp-action="EditProfile">*@
                        <a>
                            <span class="menu-text">@SharedLocalizer["Edit Profile"]</span>
                        </a>
                    </li>

                    <li>
                        <a asp-area="Doctor" asp-controller="Account" asp-action="ChangePassword">
                            <span class="menu-text">@SharedLocalizer["Change Password"]</span>
                        </a>
                    </li>
                </ul>
            </li>

            <li>
                <a href="#" class="menu-dropdown">
                    <i class="menu-icon fa fa-users"></i>
                    <span class="menu-text"> @SharedLocalizer["Manage Employees"] </span>
                    <i class="menu-expand"></i>
                </a>

                <ul class="submenu">

                    <li>
                        <a asp-area="Doctor" asp-controller="Account" asp-action="FilterEmployees">
                            <span class="menu-text">@SharedLocalizer["List Of Employees"]</span>
                        </a>
                    </li>

                    <li>
                        <a asp-area="Doctor" asp-controller="Account" asp-action="AddNewUser">
                            <span class="menu-text">@SharedLocalizer["Add New Employee"]</span>
                        </a>
                    </li>
                </ul>
            </li>

            @await Component.InvokeAsync("DoctorsInfosBadge")
        }

        @if (Model.DoctorInfoState != "Accepted")
        {
            @await Component.InvokeAsync("DoctorsInfosBadge")
        }

        <li>
            <a href="#" class="menu-dropdown">
                <i class="menu-icon fa fa-ticket"></i>
                <span class="menu-text"> @SharedLocalizer["Manage Tickets"]</span>

                <i class="menu-expand"></i>
            </a>

            <ul class="submenu">
                <li>
                    <a asp-area="Doctor" asp-controller="Ticket" asp-action="FilterTickets">
                        <span class="menu-text">@SharedLocalizer["List Of Tickets"]</span>
                    </a>
                </li>
                <li>
                    <a asp-area="Doctor" asp-controller="Ticket" asp-action="CreateTicket">
                        <span class="menu-text">@SharedLocalizer["Create Ticket"]</span>
                    </a>
                </li>
            </ul>
        </li>

    </ul>
    <!-- /Sidebar Menu -->
</div>
<!-- /Page Sidebar -->