@model DoctorFAM.Domain.ViewModels.DoctorPanel.DoctorsInfo.DoctorInterestsViewModel
@using DoctorFAM.Domain.Enums
@using DoctorFAM.Application.StaticTools
@using DoctorFAM.Domain.ViewModels.Common
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedLocalizer> SharedHtmlLocalizer
@using System.Globalization
@using Microsoft.AspNetCore.Mvc.Localization

@{
    ViewData["Title"] = @Localizer["Manage Doctor Interest"];
}

@section Scripts
{
<partial name="_JqueryValidation" />
}

@section Breadcrumb
{
<li>
    <a asp-action="PageOfManageDoctorInfo" asp-controller="DoctorsInfo" asp-area="Doctor"> اطلاعات پزشک </a>
</li>
}

<div class="row">
    <div class="col-lg-12 col-sm-12 col-xs-12">

        <div class="col-lg-6">
            <div class="widget">
                <div class="widget-header bordered-bottom bordered-themesecondary">
                    <i class="widget-icon fa fa-tags black"></i>
                    <span class="widget-caption black">@Localizer["Site Activities"]</span>
                </div><!--Widget Header-->
                <div class="widget-body  no-padding">
                    <div class="tickets-container">
                        <ul class="tickets-list">

                            @if (Model.DoctorInterests != null && Model.DoctorInterests.Any())
                            {
                                foreach (var item in Model.DoctorInterests)
                                {
                                    <li class="ticket-item">
                                        <div class="row">
                                            <div class="ticket-type  col-lg-12 col-sm-12 col-xs-12">
                                                <span class="divider hidden-xs"></span>
                                                <span class="type">@item.Title</span>
                                            </div>
                                            <div class="ticket-state bg-palegreen">
                                                <a asp-action="AddInterestToDoctor" asp-area="Doctor" asp-controller="DoctorsInfo" asp-route-interestId="@item.InterestId">
                                                <i class="fa fa-check"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                }
                            }

                        </ul>
                    </div>
                </div>
            </div>

        </div>

            <div class="col-lg-6">
            <div class="widget">
                <div class="widget-header bordered-bottom bordered-info">
                    <i class="widget-icon fa fa-user black"></i>
                    <span class="widget-caption black">@Localizer["Fields Of Your Interests"]</span>
                </div><!--Widget Header-->
                <div class="widget-body  no-padding">
                    <div class="tickets-container">
                        <ul class="tickets-list">

                            @if (Model.DoctorSelectedInterests != null && Model.DoctorSelectedInterests.Any())
                            {
                                foreach (var item in Model.DoctorSelectedInterests)
                                {
                                    <li class="ticket-item">
                                        <div class="row">
                                            <div class="ticket-type  col-lg-12 col-sm-12 col-xs-12">
                                                <span class="divider hidden-xs"></span>
                                                <span class="type">@item.Title</span>
                                                @if (item.InterestId == 5)
                                                {
                                                    <a class="badge badge-primary" asp-action="UploadResumeForDiabetConsultants" asp-area="Doctor" asp-controller="DoctorsInfo" >
                                                                مشاهده ی رزومه
                                                                </a>
                                                }
                                                @if (item.InterestId == 6)
                                                {
                                                       <a class="badge badge-primary" asp-action="UploadResumeForBloodPressureConsultants" asp-area="Doctor" asp-controller="DoctorsInfo" >
                                                                    مشاهده ی رزومه
                                                                        </a>
                                                }
                                            </div>
                                             <div class="ticket-state bg-darkorange">
                                                <a asp-action="DeleteDoctorSelectedInfo" asp-area="Doctor" asp-controller="DoctorsInfo" asp-route-interestId="@item.InterestId">
                                                <i class="fa fa-times"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                }
                            }

                        </ul>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
