@model DoctorFAM.Domain.ViewModels.Admin.PopulationCovered.EditPopulationCoveredAdminViewModel
@using DoctorFAM.Web.Culture
@inject IViewLocalizer Localizer
@using DoctorFAM.Application.Extensions
@using DoctorFAM.Application.Convertors
@using DoctorFAM.Application.StaticTools
@using DoctorFAM.Domain.Entities.Insurance

@{
    ViewData["Title"] = Localizer["Edit Covered Person"];

    List<Insurance> insurances = ViewBag.Insurances as List<Insurance>;
}


@section Scripts
    {
    <partial name="_JqueryValidation" />
}

@section Breadcrumb
    {
    <li>
        <a asp-area="UserPanel" asp-controller="Home" asp-action="Index"> @Localizer["User Dashboard"] / </a>
        <a href="javascript:void(0)"> @ViewData["Title"] </a>
    </li>
}

<form method="post" asp-action="EditPopulationCovered" asp-controller="PopulationCovered" asp-area="Admin">
    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="UserId" />
    <div class="row">
        <div class="col-lg-12 col-sm-12">
            <div class="widget">
                <div class="widget-body">
                    <div>

                        <div class="row">


                            <div class="form-group col-md-6 col-sm-12">
                                <label asp-for="Username"></label>
                                <input type="text" class="form-control" readonly asp-for="Username">
                                <span class="text-danger" asp-validation-for="Username"></span>
                            </div>

                            <div class="form-group col-md-6 col-sm-12">
                                <label asp-for="Mobile"></label>
                                <input type="text" class="form-control" readonly asp-for="Mobile">
                                <span class="text-danger" asp-validation-for="Mobile"></span>
                            </div>

                            <div class="form-group col-md-6 col-sm-12">
                                <label asp-for="Name"></label>
                                <input type="text" class="form-control" asp-for="Name">
                                <span class="text-danger" asp-validation-for="Name"></span>
                            </div>

                            <div class="form-group col-md-6 col-sm-12">
                                <label asp-for="LastName"></label>
                                <input type="text" class="form-control" asp-for="LastName">
                                <span class="text-danger" asp-validation-for="LastName"></span>
                            </div>

                            <div class="form-group col-md-6 col-sm-12">
                                <label asp-for="Age"></label>
                                <input type="text" class="form-control" asp-for="Age">
                                <span class="text-danger" asp-validation-for="Age"></span>
                            </div>

                            <div class="form-group col-md-6 col-sm-12">
                                <label asp-for="NationalId"></label>
                                <input type="text" class="form-control" asp-for="NationalId">
                                <span class="text-danger" asp-validation-for="NationalId"></span>
                            </div>

                            <div class="form-group col-md-6 col-sm-12">
                                <label asp-for="Gender"></label>
                                <select asp-for="Gender" class="form-control" asp-items="Html.GetEnumSelectList(typeof(DoctorFAM.Domain.Enums.Gender.Gender))"></select>
                                <span class="text-danger" asp-validation-for="Gender"></span>
                            </div>

                            <div class="form-group col-md-6 col-sm-12">
                                <label asp-for="InsuranceId"></label>
                                <select asp-for="InsuranceId" class="form-control">

                                    @*     <option>لطفا بیمه ی مورد نظر را انتخاب کنید</option>*@

                                    @if (insurances != null && insurances.Any())
                                    {
                                        foreach (var item in insurances)
                                        {
                                            if (Model.InsuranceId == item.Id)
                                            {
                                                <option value="@item.Id" selected="selected" >@item.Title</option>
                                            }
                                            else
                                            {
                                                <option value="@item.Id">@item.Title</option>
                                            }
                                        }
                                    }

                                </select>
                                <span class="text-danger" asp-validation-for="InsuranceId"></span>
                            </div>

                            <div class="form-group col-md-6 col-sm-12">
                                <label asp-for="Ratio"></label>
                                <select asp-for="Ratio" class="form-control" asp-items="Html.GetEnumSelectList(typeof(DoctorFAM.Domain.Enums.Population_Covered.Ratio))"></select>
                                <span class="text-danger" asp-validation-for="Ratio"></span>
                            </div>

                            <div class="form-group col-md-6 col-sm-12">
                                <label asp-for="BirthDay"></label>
                                <input asp-for="BirthDay" class="form-control" autocomplete="off" AdminDatePicker="1" />
                                <span class="text-danger" asp-validation-for="BirthDay"></span>
                            </div>

                        </div>

                        <hr class="margin-bottom-10 margin-top-10" />

                        <div class="row">
                            <div class="col-md-12 flex-style">
                                <button type="submit" class="btn btn-labeled btn-blue">
                                    <i class="btn-label glyphicon glyphicon-ok"></i>@Localizer["Submit"]
                                </button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</form>


