
@{
    var CountOfUserOnlineRequests = ViewData["CountOfUserOnlineRequests"] ;
}

<div class="page-sidebar" id="sidebar">
    <div class="sidebar-header-wrapper">
        <input type="text" class="searchinput" />
        <i class="searchicon fa fa-search"></i>
    </div>

    <ul class="nav sidebar-menu">
        <li>
            <a asp-action="Index" asp-area="Admin" asp-controller="Home">
                <i class="menu-icon glyphicon glyphicon-home"></i>
                <span class="menu-text"> @SharedLocalizer["Dashboard"]  </span>
            </a>
        </li>

        <li>
            <a href="#" class="menu-dropdown">
                <i class="menu-icon fa fa-user-secret"></i>
                <span class="menu-text"> @SharedLocalizer["Manage Roles"] </span>
                <i class="menu-expand"></i>
            </a>

            <ul class="submenu">
                <li>
                    <a asp-action="FilterRoles" asp-controller="Access" asp-area="Admin">
                        <span class="menu-text"> @SharedLocalizer["List Of Roles"] </span>
                    </a>
                </li>
                <li>
                    <a asp-action="CreateRole" asp-controller="Access" asp-area="Admin">
                        <span class="menu-text"> @SharedLocalizer["Create New Role"] </span>
                    </a>
                </li>
            </ul>
        </li>

        <li>
            <a href="#" class="menu-dropdown">
                <i class="menu-icon glyphicon glyphicon-user"></i>
                <span class="menu-text"> @SharedLocalizer["Manage Users"] </span>
                <i class="menu-expand"></i>
            </a>

            <ul class="submenu">
                <li>
                    <a asp-action="FilterUsers" asp-area="Admin" asp-controller="Account">
                        <span class="menu-text"> @SharedLocalizer["Users List"] </span>
                    </a>
                </li>
            </ul>

            <ul class="submenu">
                <li>
                    <a asp-action="FilterPopulationCoveredAdminViewModel" asp-area="Admin" asp-controller="PopulationCovered">
                        <span class="menu-text"> @SharedLocalizer["Population Covered List"] </span>
                    </a>
                </li>
            </ul>

        </li>


        <li>
            <a href="#" class="menu-dropdown">
                <i class="menu-icon glyphicon glyphicon-user"></i>
                <span class="menu-text"> @SharedLocalizer["Manage Doctors"]  </span>
                <i class="menu-expand"></i>
            </a>

            <ul class="submenu">
                <li>
                    <a asp-controller="Doctors" asp-action="ListOfDoctorsInfo">
                        <span class="menu-text"> @SharedLocalizer["Manage Doctors Info"]  </span>
                    </a>
                </li>
                <li>
                    <a asp-action="ListOfDoctorsPopulationCoveredCountDetail" asp-controller="Doctors" asp-area="Admin">
                        <span class="menu-text"> اطلاعات جمعیت تحت پوشش  </span>
                    </a>
                </li>
                <li>
                    <a asp-action="ListOfDoctorsThatHasSendResume" asp-controller="Resume" asp-area="Admin">
                        <span class="menu-text"> مدیریت رزومه ها </span>
                    </a>
                </li>
                <li>
                    <a asp-action="ListOfArrivalExcelFiles" asp-controller="IncomingExcelFile" asp-area="Admin">
                        <span class="menu-text"> فایل های اکسل ارسالی </span>
                    </a>
                </li>
                
                <li>
                    <a asp-action="CountOfUsersinDoctorPopulationCovered" asp-area="Admin" asp-controller="doctors">
                        <span class="menu-text"> آمارگیری تحت پوشش پزشکان  </span>
                    </a>
                </li>

                <li>
                    <a asp-action="ListOfDoctorsForExportExcelFile" asp-controller="Doctors" asp-area="Admin">
                        <span class="menu-text"> آمارگیری پزشکان دکترفم </span>
                    </a>
                </li>
            </ul>
        </li>


        <li>
            <a href="#" class="menu-dropdown">
                <i class="menu-icon glyphicon glyphicon-education"></i>
                <span class="menu-text"> @SharedLocalizer["Manage Family Doctors"]  </span>
                <i class="menu-expand"></i>
            </a>

            <ul class="submenu">
                <li>
                    <a asp-controller="FamilyDoctor" asp-action="FilterListOfFamilyDoctorsRequest">
                        <span class="menu-text"> @SharedLocalizer["List Of Family Doctors"]  </span>
                    </a>
                </li>
            </ul>
        </li>


        <li>
            <a href="#" class="menu-dropdown">
                <i class="menu-icon glyphicon glyphicon-user"></i>
                <span class="menu-text"> @SharedLocalizer["Manage Pharmacy"]  </span>
                <i class="menu-expand"></i>
            </a>

            <ul class="submenu">
                <li>
                    <a asp-controller="Pharmacy" asp-action="ListOfPharmacyInfo">
                        <span class="menu-text"> @SharedLocalizer["Manage Pharmacy Info"]  </span>
                    </a>
                </li>
            </ul>
        </li>

        <li>
            <a href="#" class="menu-dropdown">
                <i class="menu-icon glyphicon glyphicon-user"></i>
                <span class="menu-text"> @SharedLocalizer["Manage Nurses"]  </span>
                <i class="menu-expand"></i>
            </a>

            <ul class="submenu">
                <li>
                    <a asp-controller="Nurse" asp-action="ListOfNurseInfo">
                        <span class="menu-text"> @SharedLocalizer["Manage Nurses Info"]  </span>
                    </a>
                </li>
            </ul>
        </li>

        <li>
            <a href="#" class="menu-dropdown">
                <i class="menu-icon glyphicon glyphicon-user"></i>
                <span class="menu-text"> @SharedLocalizer["Manage Consultant"]  </span>
                <i class="menu-expand"></i>
            </a>

            <ul class="submenu">
                <li>
                    <a asp-controller="Consultant" asp-action="ListOfConsultantInfoViewModel">
                        <span class="menu-text"> @SharedLocalizer["Manage Consultant Info"]  </span>
                    </a>
                </li>
            </ul>
        </li>

        <li>
            <a href="#" class="menu-dropdown">
                <i class="menu-icon glyphicon glyphicon-user"></i>
                <span class="menu-text"> @SharedLocalizer["Manage Laboratory"]  </span>
                <i class="menu-expand"></i>
            </a>

            <ul class="submenu">
                <li>
                    <a asp-controller="Laboratory" asp-action="ListOfLaboratoryInfoViewModel">
                        <span class="menu-text"> @SharedLocalizer["Manage Laboratory Info"]  </span>
                    </a>
                </li>
            </ul>
        </li>

        <li>
            <a asp-controller="CustomerAdvertisement" asp-action="ListOfAdvertisement" asp-area="Admin">
                <i class="menu-icon fa fa-bell"></i>
                <span class="menu-text"> لیست تبلیغات  </span>
                <i class="menu-expand"></i>
            </a>
        </li>

        <li>
            <a asp-controller="Wallet" asp-action="Index">
                <i class="menu-icon glyphicon glyphicon-usd"></i>
                <span class="menu-text"> @SharedLocalizer["Wallet list"]  </span>
                <i class="menu-expand"></i>
            </a>
        </li>

        

        <li>
            <a href="#" class="menu-dropdown">
                <i class="menu-icon glyphicon glyphicon-thumbs-up"></i>
                <span class="menu-text">@SharedLocalizer["Consultant"]</span>
                <i class="menu-expand"></i>
            </a>

            <ul class="submenu">

                <li>
                    <a asp-action="FilterConsultantAdminSideViewModel" asp-area="Admin" asp-controller="Consultant">
                        <span class="menu-text">@SharedLocalizer["List Of Consultant Request"]</span>
                    </a>
                </li>
            </ul>
        </li>



        <li>
            <a href="#" class="menu-dropdown">
                <i class="menu-icon glyphicon glyphicon-thumbs-up"></i>
                <span class="menu-text">ویزیت آنلاین</span>
                                        <p class="badge badge-warning">@CountOfUserOnlineRequests</p>
                <i class="menu-expand"></i>
            </a>

            <ul class="submenu">

                <li>
                    <a asp-action="ListOfWorkShiftsDates" asp-area="Admin" asp-controller="OnlineVisit">
                        <span class="menu-text">لیست شیفت های کاری</span>
                    </a>
                </li>
            </ul>
        </li>

        <li>
            <a href="#" class="menu-dropdown">
                <i class="menu-icon glyphicon glyphicon-th"></i>
                <span class="menu-text"> @SharedLocalizer["Health House"] </span>
                <i class="menu-expand"></i>
            </a>

            <ul class="submenu">
                <li>
                    <a asp-action="ListOfHomeVisits" asp-controller="HealthHouse" asp-area="Admin">
                        <span class="menu-text"> @SharedLocalizer["Home Visit"] </span>
                    </a>
                </li>
            </ul>
            <ul class="submenu">
                <li>
                    <a asp-action="ListOfHomeNurse" asp-area="Admin" asp-controller="HealthHouse">
                        <span class="menu-text"> @SharedLocalizer["Home Nurse"] </span>
                    </a>
                </li>
            </ul>
            <ul class="submenu">
                <li>
                    <a asp-action="ListOfHomePharmacy" asp-area="Admin" asp-controller="HealthHouse">
                        <span class="menu-text"> @SharedLocalizer["Pharmacy At Home"] </span>
                    </a>
                </li>
            </ul>
            <ul class="submenu">
                <li>
                    <a asp-action="ListOfHomeLabratory" asp-area="Admin" asp-controller="HealthHouse">
                        <span class="menu-text"> @SharedLocalizer["Laboratory At Home"] </span>
                    </a>
                </li>
            </ul>
            <ul class="submenu">
                <li>
                    <a asp-action="ListOfHomePatientTransport" asp-area="Admin" asp-controller="HealthHouse">
                        <span class="menu-text"> @SharedLocalizer["Patient Transport"] </span>
                    </a>
                </li>
            </ul>
            <ul class="submenu">
                <li>
                    <a asp-action="ListOfDeathCertificate" asp-area="Admin" asp-controller="HealthHouse">
                        <span class="menu-text"> @SharedLocalizer["Death Certificate"] </span>
                    </a>
                </li>
            </ul>
        </li>

        <li>
            <a href="#" class="menu-dropdown">
                <i class="menu-icon glyphicon glyphicon-edit"></i>
                <span class="menu-text"> @SharedLocalizer["Turn ratings"] </span>
                <i class="menu-expand"></i>
            </a>

            <ul class="submenu">

                <li>
                    <a asp-area="Admin" asp-controller="Reservation" asp-action="FilterReservation">
                        <span class="menu-text">@SharedLocalizer["List Of Reservations"]</span>
                    </a>
                </li>
                <li>
                    <a asp-area="Admin" asp-controller="Reservation" asp-action="FilterCancelReservationRequests">
                        <span class="menu-text">@SharedLocalizer["List Of Cancel Request"]</span>
                    </a>
                </li>
                <li>
                    <a asp-area="Admin" asp-controller="Reservation" asp-action="ListOfClosedReservation">
                        <span class="menu-text">@SharedLocalizer["List Of Closed Reservations"]</span>
                    </a>
                </li>
                <li>
                    <a asp-area="Admin" asp-controller="Reservation" asp-action="ListOfDoctorPersonalBookings">
                        <span class="menu-text">@SharedLocalizer["Not Exist Patient"]</span>
                    </a>
                </li>

            </ul>
        </li>

        <li>
            <a href="#" class="menu-dropdown">
                <i class="menu-icon fa fa-ticket"></i>
                <span class="menu-text"> @SharedLocalizer["Manage Tickets"]</span>
                <div class="badge badge-warning" id="DoctorInfoState">
                    @ViewBag.TicketCounts
                </div>
                <i class="menu-expand"></i>
            </a>

            <ul class="submenu">
                <li>
                    <a asp-area="Admin" asp-controller="Ticket" asp-action="FilterTickets">
                        <span class="menu-text">@SharedLocalizer["List Of Tickets"]</span>
                    </a>
                </li>
                <li>
                    <a asp-area="Admin" asp-controller="Ticket" asp-action="CreateTicket">
                        <span class="menu-text">@SharedLocalizer["Create Ticket"]</span>
                    </a>
                </li>
            </ul>
        </li>

        <li>
            <a href="#" class="menu-dropdown">
                <i class="menu-icon glyphicon glyphicon-check"></i>
                <span class="menu-text">لیست تخصص ها</span>
                <i class="menu-expand"></i>
            </a>

            <ul class="submenu">
                <li>
                    <a asp-action="ListOfSpecialityWithAccardion" asp-controller="Speciality" asp-area="Admin">
                        <span class="menu-text"> لیست تخصص ها </span>
                    </a>
                </li>
                <li>
                    <a asp-action="CreateSpeciality" asp-controller="Speciality" asp-area="Admin">
                        <span class="menu-text"> افزودن تخصص   </span>
                    </a>
                </li>
            </ul>
        </li>

        <li>
            <a href="#" class="menu-dropdown">
                <i class="menu-icon glyphicon glyphicon-map-marker"></i>
                <span class="menu-text">@SharedLocalizer["Manage Locations"]</span>
                <i class="menu-expand"></i>
            </a>

            <ul class="submenu">
                <li>
                    <a asp-action="FilterLocation" asp-controller="Location" asp-area="Admin">
                        <span class="menu-text"> @SharedLocalizer["Locations List"] </span>
                    </a>
                </li>
                <li>
                    <a asp-action="CreateLocation" asp-controller="Location" asp-area="Admin">
                        <span class="menu-text"> @SharedLocalizer["Create Location"] </span>
                    </a>
                </li>
            </ul>
        </li>

        <li>
            <a href="#" class="menu-dropdown">
                <i class="menu-icon  glyphicon glyphicon-facetime-video"></i>
                <span class="menu-text">@SharedLocalizer[" ویدیوهای دانستنی سلامت"]</span>
                <i class="menu-expand"></i>
            </a>

            <ul class="submenu">
                <li>
                    <a asp-action="FilterVideos" asp-controller="HealthInformation" asp-area="Admin">
                        <span class="menu-text"> @SharedLocalizer["مدیریت ویدیوها "] </span>
                    </a>
                </li>
                <li>
                    <a asp-action="CreateTVFAM" asp-controller="HealthInformation" asp-area="Admin">
                        <span class="menu-text"> @SharedLocalizer[" افزودن ویدیو"] </span>
                    </a>
                </li>
            </ul>
        </li>

        <li>
            <a href="#" class="menu-dropdown">
                <i class="menu-icon  glyphicon glyphicon-volume-up"></i>
                <span class="menu-text">@SharedLocalizer[" پادکست های دانستنی سلامت"]</span>
                <i class="menu-expand"></i>
            </a>

            <ul class="submenu">
                <li>
                    <a asp-action="FilterPodcasts" asp-controller="HealthInformation" asp-area="Admin">
                        <span class="menu-text"> @SharedLocalizer["مدیریت پادکست "] </span>
                    </a>
                </li>
                <li>
                    <a asp-action="CreatePodcasts" asp-controller="HealthInformation" asp-area="Admin">
                        <span class="menu-text"> @SharedLocalizer[" افزودن پادکست"] </span>
                    </a>
                </li>
            </ul>
        </li>

        <li>
            <a href="#" class="menu-dropdown">
                <i class="menu-icon  glyphicon glyphicon-th-large"></i>
                <span class="menu-text">@SharedLocalizer["دسته بندی دانستنیهای سلامت"]</span>
                <i class="menu-expand"></i>
            </a>

            <ul class="submenu">
                <li>
                    <a asp-action="ListOfVideFAMCategoryList" asp-controller="HealthInformation" asp-area="Admin">
                        <span class="menu-text"> @SharedLocalizer["دسته بندی های ویدیوها"] </span>
                    </a>
                </li>
                <li>
                    <a asp-action="ListOfRadioFAMCategoryList" asp-controller="HealthInformation" asp-area="Admin">
                        <span class="menu-text"> @SharedLocalizer["دسته بندی های پادکست ها"] </span>
                    </a>
                </li>
            </ul>
        </li>


        <li>
            <a href="#" class="menu-dropdown">
                <i class="menu-icon  glyphicon glyphicon-file"></i>
                <span class="menu-text">اخبار</span>
                <i class="menu-expand"></i>
            </a>

            <ul class="submenu">
                <li>
                    <a asp-action="Index" asp-controller="News" asp-area="Admin">
                        <span class="menu-text"> مدیریت اخبار </span>
                    </a>
                </li>
                <li>
                    <a asp-action="Index" asp-controller="NewsCategory" asp-area="Admin">
                        <span class="menu-text">  دسته بندی اخبار </span>
                    </a>
                </li>
            </ul>
        </li>

        <li>
            <a href="#" class="menu-dropdown">
                <i class="menu-icon  glyphicon glyphicon-file"></i>
                <span class="menu-text">کتب و مجلات</span>
                <i class="menu-expand"></i>
            </a>

            <ul class="submenu">
                <li>
                    <a asp-action="Index" asp-controller="Books" asp-area="Admin">
                        <span class="menu-text"> مدیریت کتب و مجلات </span>
                    </a>
                </li>
                <li>
                    <a asp-action="Index" asp-controller="BookCategory" asp-area="Admin">
                        <span class="menu-text">  دسته بندی کتب و مجلات </span>
                    </a>
                </li>
            </ul>
        </li>

        <li>
            <a href="#" class="menu-dropdown">
                <i class="menu-icon  glyphicon glyphicon-th-large"></i>
                <span class="menu-text">@SharedLocalizer["Manage Market Categories"]</span>
                <i class="menu-expand"></i>
            </a>

            <ul class="submenu">
                <li>
                    <a asp-action="FilterMarketCategory" asp-controller="MarketCategory" asp-area="Admin">
                        <span class="menu-text"> @SharedLocalizer["Market Categories List"] </span>
                    </a>
                </li>
                <li>
                    <a asp-action="CreateMarketCategory" asp-controller="MarketCategory" asp-area="Admin">
                        <span class="menu-text"> @SharedLocalizer["Create Market Categories"] </span>
                    </a>
                </li>
            </ul>
        </li>

        <li>
            <a href="#" class="menu-dropdown">
                <i class="menu-icon  glyphicon glyphicon-time"></i>
                <span class="menu-text"> آزمایشات دوره ای </span>

                <i class="menu-expand"></i>
            </a>

            <ul class="submenu">
                <li>
                    <a asp-area="Admin" asp-controller="PeriodicTest" asp-action="ListOfPeriodicTest">
                        <span class="menu-text">لیست آزمایشات دوره ای </span>
                    </a>
                </li>
            </ul>
        </li>


        <li>
            <a href="#" class="menu-dropdown">
                <i class="menu-icon  glyphicon glyphicon-time"></i>
                <span class="menu-text"> معاینات دوره ای </span>

                <i class="menu-expand"></i>
            </a>

            <ul class="submenu">
                <li>
                    <a asp-area="Admin" asp-controller="MedicalExamination" asp-action="FilterMedicalExaminations">
                        <span class="menu-text">لیست معاینات دوره ای </span>
                    </a>
                </li>
            </ul>
        </li>

        <li>
            <a href="#" class="menu-dropdown">
                <i class="menu-icon  glyphicon glyphicon-envelope"></i>
                <span class="menu-text"> درخواست های پیامک </span>

                <i class="menu-expand"></i>
            </a>

            <ul class="submenu">
                <li>
                    <a asp-area="Admin" asp-controller="SendSMS" asp-action="ListOfRequestForSendSMSFromDoctor">
                        <span class="menu-text">لیست درخواست های پیامک </span>
                    </a>
                </li>
            </ul>
        </li>

        <li>
            <a href="#" class="menu-dropdown">
                <i class="menu-icon fa fa-buysellads"></i>
                <span class="menu-text"> @SharedLocalizer["Manage Products"] </span>

                <i class="menu-expand"></i>
            </a>

            <ul class="submenu">
                <li>
                    <a asp-area="Admin" asp-controller="Product" asp-action="FilterProducts">
                        <span class="menu-text">@SharedLocalizer["List of products"]</span>
                    </a>
                </li>
            </ul>
        </li>

        <li>
            <a href="#" class="menu-dropdown">
                <i class="menu-icon glyphicon glyphicon-wrench"></i>
                <span class="menu-text"> @SharedLocalizer["Site Setting"] </span>
                <i class="menu-expand"></i>
            </a>

            <ul class="submenu">
                <li>
                    <a asp-action="EditSiteSetting" asp-controller="SiteSetting" asp-area="Admin">
                        <span class="menu-text"> @SharedLocalizer["Site Setting"]</span>
                    </a>
                </li>

                <li>
                    <a asp-action="ListOfOnlineVisitWotkShit" asp-controller="SiteSetting" asp-area="Admin">
                        <span class="menu-text"> لیست شیفت های ویزیت آنلاین </span>
                    </a>
                </li>

                <li>
                    <a asp-action="ListOFHealthHouseTariffs" asp-controller="SiteSetting" asp-area="Admin">
                        <span class="menu-text"> تعرفه های خانه ی سلامت </span>
                    </a>
                </li>

                <li>
                    <a asp-action="ListOfDiabetRiskFactorQuestions" asp-controller="SiteSetting" asp-area="Admin">
                        <span class="menu-text"> فاکتور های خطر دیابت </span>
                    </a>
                </li> 

                <li>
                    <a asp-action="ListOfInsurance" asp-controller="SiteSetting" asp-area="Admin">
                        <span class="menu-text"> بیمه  </span>
                    </a>
                </li>

                <li>
                    <a asp-action="ListOfSupplementaryInsurance" asp-controller="SiteSetting" asp-area="Admin">
                        <span class="menu-text"> بیمه ی تکمیلی  </span>
                    </a>
                </li>

                <li>
                    <a asp-action="ListOfInsulin" asp-controller="SiteSetting" asp-area="Admin">
                        <span class="menu-text"> لیست انسولین ها  </span>
                    </a>
                </li>
            </ul>
        </li>

    </ul>
</div>
