@model DoctorFAM.Domain.ViewModels.DoctorPanel.Appointment.AddReservationDateTimeWithComputerViewModel

@{
    ViewData["Title"] = @Localizer["Add Reservation Date Time"];
}

@section Scripts
    {
    <partial name="_JqueryValidation" />
}

    @section Breadcrumb
    {
    <li>
        <a asp-action="TurnRating" asp-controller="Home" asp-area="Doctor"> نوبت دهی </a>
    </li>
}

    <div class="row">
        <div class="col-lg-12 col-sm-12">

            <div class="widget">
                <div class="widget-header bordered-bottom bordered-green">
                    <span class="widget-caption"> @Localizer["Add New Reservation Date"] </span>
                </div>
                <div class="widget-body">
                    <div>

                        <form asp-action="AddreservationDateTimeWithComputer" asp-controller="Appointment" asp-area="Doctor" method="post">
                            <input asp-for="ReservationDateId" type="hidden"/>
                            <div class="modal-body">
                                <div class="row">

                                    <div class="form-group col-md-4 col-sm-12">
                                        <label asp-for="StartTime"></label>
                                        <select class="form-control" asp-for="StartTime">

                                            <option value=""> @Localizer["Please Insert Start Time"] </option>
                                            <option value="7"> 07:00 </option>
                                            <option value="8"> 08:00 </option>
                                            <option value="9"> 09:00 </option>
                                            <option value="10"> 10:00 </option>
                                            <option value="11"> 11:00 </option>
                                            <option value="12"> 12:00 </option>
                                            <option value="13"> 13:00 </option>
                                            <option value="14"> 14:00 </option>
                                            <option value="15"> 15:00 </option>
                                            <option value="16"> 16:00 </option>
                                            <option value="17"> 17:00 </option>
                                            <option value="18"> 18:00 </option>
                                            <option value="19"> 19:00 </option>
                                            <option value="20"> 20:00 </option>
                                            <option value="21"> 21:00 </option>
                                            <option value="22"> 22:00 </option>
                                            <option value="23"> 23:00 </option>
                                            <option value="24"> 24:00 </option>

                                        </select>
                                    </div>

                                    <div class="form-group col-md-4 col-sm-12" >
                                        <label asp-for="EndTime"></label>
                                        <select class="form-control" asp-for="EndTime">

                                            <option value=""> @Localizer["Please Insert End Time"] </option>
                                            <option value="7"> 07:00 </option>
                                            <option value="8"> 08:00 </option>
                                            <option value="9"> 09:00 </option>
                                            <option value="10"> 10:00 </option>
                                            <option value="11"> 11:00 </option>
                                            <option value="12"> 12:00 </option>
                                            <option value="13"> 13:00 </option>
                                            <option value="14"> 14:00 </option>
                                            <option value="15"> 15:00 </option>
                                            <option value="16"> 16:00 </option>
                                            <option value="17"> 17:00 </option>
                                            <option value="18"> 18:00 </option>
                                            <option value="19"> 19:00 </option>
                                            <option value="20"> 20:00 </option>
                                            <option value="21"> 21:00 </option>
                                            <option value="22"> 22:00 </option>
                                            <option value="23"> 23:00 </option>
                                            <option value="24"> 24:00 </option>

                                        </select>
                                    </div>

                                    <div class="form-group col-md-4 col-sm-12">
                                        <label asp-for="PeriodNumber"> @Localizer["Period Number"] </label>
                                        <select class="form-control" asp-for="PeriodNumber">

                                            <option value=""> لطفا بازه ی زمانی را انتخاب کنید </option>
                                            <option value="10"> 10 دقیقه </option>
                                            <option value="15"> 15 دقیقه </option>
                                            <option value="20"> 20 دقیقه </option>
                                            <option value="30"> 30 دقیقه </option>

                                        </select>
                                    </div>

                                    <div class="clearfix"></div>

                                    <div class="form-group col-md-12">
                                        <button type="submit" class="btn btn-success">@SharedLocalizer["Submit"]</button>
                                    </div>

                                </div>
                            </div>

                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
