@model DoctorFAM.Domain.ViewModels.DoctorPanel.Appointment.ListOfAppointmentsReceivedJoinDoctorSideDTO
@using DoctorFAM.Application.Extensions
@using DoctorFAM.Application.Convertors
@using DoctorFAM.Domain.ViewModels.Common

@{
    ViewData["Title"] = @Localizer["لیست نوبت های اخذ شده"];
}

@section Styles
    {
}

@section Scripts
    {
    <partial name="_JqueryValidation" />
}

@section Breadcrumb
    {
    <li>
        <a href="javascript:void(0)"> @ViewData["Title"] </a>
    </li>
}

<div class="row">
    <div class="col-lg-12 col-sm-12">
        <div class="widget">
            <div class="widget-header bordered-bottom bordered-green">
                <span class="widget-caption">
                    @Localizer["لیست نوبت های اخذ شده"]
                </span>
            </div>
            <div class="widget-body">
                <div>
                    <form asp-action="ListOfAppointmentsReceived" asp-controller="Appointment" asp-area="Doctor" id="filter-search" method="get">

                        <input type="hidden" asp-for="Page" />

                        <div class="form-group col-lg-6 col-sm-12">
                            <label asp-for="Username"> @Localizer["نام کاربر"] </label>
                            <input asp-for="Username" type="text" class="form-control">
                        </div>

                        <div class="form-group col-lg-6 col-sm-12">
                            <label asp-for="NationalId"> @Localizer["کدملی"] </label>
                            <input asp-for="NationalId" type="text" class="form-control">
                        </div>

                        <div class="form-group col-lg-6 col-sm-12">
                            <label asp-for="Mobile"> @Localizer["موبایل"] </label>
                            <input asp-for="Mobile" type="text" class="form-control">
                        </div>

                        <div class="form-group col-lg-6 col-sm-12">
                            <label asp-for="FromDate"> @Localizer["از تاریخ"] </label>
                            <input type="text" class="form-control" AdminDatePicker="1" asp-for="FromDate">
                        </div>

                        <div class="form-group col-lg-6 col-sm-12">
                            <label asp-for="ToDate"> @Localizer["تا تاریخ"] </label>
                            <input type="text" class="form-control" AdminDatePicker="2" asp-for="ToDate">
                        </div>

                        <div class="form-group col-lg-6 col-sm-12">
                            <label asp-for="FilterDoctorReservationType"> @Localizer["روش مراجعه"] </label>
                            <select asp-for="FilterDoctorReservationType" class="form-control" asp-items="Html.GetEnumSelectList(typeof(DoctorFAM.Domain.Enums.DoctorReservation.FilterDoctorReservationType))"></select>
                        </div>

                        <hr />

                        <div class="row">
                            <div class="col-md-12 flex-style">
                                <button type="submit" class="btn btn-labeled w-100 btn-palegreen">
                                    <i class="btn-label glyphicon glyphicon-filter"></i>@Localizer["فیلتر"]
                                </button>

                                @if (Context.Request.QueryString.HasValue)
                                {
                                    <a asp-action="ListOfAppointmentsReceived" asp-controller="Appointment" asp-area="Doctor" class="btn btn-labeled w-100 btn-darkorange ">
                                        <i class="btn-label glyphicon glyphicon-remove"></i>@Localizer["حذف فیلتر"]
                                    </a>
                                }
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-12 col-sm-12">
        <div class="well with-header with-footer table-responsive">
            <div class="header bordered-azure">
                <div class="flex-style">
                    <span>@ViewData["Title"]</span>
                    <span>@Model.GetShownEntitiesPagesTitle() </span>
                </div>
            </div>

            @if (Model.Entities != null && Model.Entities.Any())
            {
                <table class="table table-hover table-bordered tc vm">
                    <thead class="tc vm">
                        <tr class="tc vm">
                            <th class="tc vm">
                                @Localizer["#"]
                            </th>
                            <th class="tc vm">
                                @Localizer["نام خانوادگی"]
                            </th>
                            <th class="tc vm">
                                @Localizer[" کدملی"]
                            </th>
                            <th class="tc vm">
                                @Localizer["موبایل"]
                            </th>
                            <th class="tc vm">
                                @Localizer["شیفت نوبت"]
                            </th>
                            <th class="tc vm">
                                @Localizer["تاریخ نوبت"]
                            </th>
                            <th class="tc vm">
                                @Localizer["مبلغ پرداختی"]
                            </th>
                        </tr>
                    </thead>
                    <tbody class="tc vm">
                        @foreach (var date in Model.Entities.DistinctBy(p=> p.DoctorReservationDateTimeId))
                        {
                            <tr class="tc vm" remove-ajax-item="">

                                <td class="vm">
                                    <div class="flex-style-center">
                                        <p> @date.DoctorReservationDateTimeId</p>
                                    </div>
                                </td>

                                <td class="vm">
                                    <div class="flex-style-center">
                                        <p> @date.User.Username</p>
                                    </div>
                                </td>

                                <td class="vm">
                                    <div class="flex-style-center">
                                        <p> @(!string.IsNullOrEmpty(date.User.NationalId) ? date.User.NationalId : "وارد نشده") </p>
                                    </div>
                                </td>

                                <td class="vm">
                                    <div class="flex-style-center">
                                        <p> @date.User.Mobile</p>
                                    </div>
                                </td>

                                <td class="vm">
                                    <div class="flex-style-center">
                                        <p>
                                            @string.Concat(date.StartTime.Reverse().Skip(3).Reverse())
                                        </p>
                                    </div>
                                </td>

                                <td class="vm">
                                    <div class="flex-style-center">
                                        <p> @date.ReservationDate.ToShamsi() </p>
                                    </div>
                                </td>

                                <td class="vm">
                                    <div class="flex-style-center">
                                        <p> @date.Price.ToString("#,000") ریال </p>
                                    </div>
                                </td>

                            </tr>

                        }

                    </tbody>
                </table>

                <div class="footer tc">

                    <partial name="_DoctorPanelPaging" model="@Model.GetCurrentPaging()" />

                </div>
            }
            else
            {
                <partial name="_DoctorPanelNotFoundPartial" />
            }
        </div>
    </div>
</div>

