@model List<DoctorFAM.Domain.Entities.DoctorReservation.DoctorReservationDate>
@using DoctorFAM.Application.Extensions
@using DoctorFAM.Application.Convertors
@using DoctorFAM.Domain.ViewModels.Common
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedLocalizer> SharedHtmlLocalizer


@{
    ViewData["Title"] = @Localizer["List Of Reservation Date"];
}

@section Styles
    {
    <link href="/admin/css/dataTables.bootstrap.rtl.css" rel="stylesheet" />
}

@section Scripts
    {
    <script src="~/admin/js/datatable/jquery.dataTables.min.js"></script>
    <script src="~/admin/js/datatable/ZeroClipboard.js"></script>
    <script src="~/admin/js/datatable/dataTables.tableTools.min.js"></script>
    <script src="~/admin/js/datatable/dataTables.bootstrap.min.js"></script>
    <script src="~/admin/js/datatable/datatables-init-AllRecords.js"></script>
    <script>
        InitiateSimpleDataTable.init();
        InitiateEditableDataTable.init();
        InitiateExpandableDataTable.init();
        InitiateSearchableDataTable.init();
    </script>
}

@section Breadcrumb
{
<li>
        <a  asp-action="TurnRating" asp-controller="Home" asp-area="Doctor"> نوبت دهی </a>
</li>
}

<div class="row">
    <div class="col-lg-12 col-sm-12">

        <a class="col-lg-6 col-sm-12 btn btn-sky w-100 margin-bottom-10"
           asp-action="AddReservationDateView" asp-controller="Appointment" asp-area="Doctor"> @Localizer["Add New Date"] </a>

    </div>

    <div class="col-lg-12 col-sm-12">

        <div class="row" style="margin:10px 10px 10px 10px;">

            <div id="horizontal-form">

                @if (Model != null && Model.Any())
                {
                    <div class="widget-body no-padding">
                        <div id="searchable_wrapper" class="dataTables_wrapper form-inline">

                            <table class="table table-bordered table-hover table-striped dataTable" id="searchable" role="grid" aria-describedby="searchable_info">
                                <thead class="bordered-darkorange">
                                    <tr role="row">
                                        <th class="sorting_asc" tabindex="0" aria-controls="searchable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Browser: activate to sort column descending">
                                            @Localizer["Date"]
                                            </th>

                                        <th class="sorting" tabindex="0" aria-controls="searchable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending">
                                            @Localizer["#"]

                                        </th>
                                        <th class="sorting" tabindex="0" aria-controls="searchable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending">
                                            @Localizer["Count Of Times"]
                                        </th>
                                        <th class="sorting" tabindex="0" aria-controls="searchable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending">
                                            @Localizer["Create Date"]
                                        </th>
                                        <th class="sorting" tabindex="0" aria-controls="searchable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending">
                                            @Localizer["Possibilities"]
                                        </th>
                                    </tr>
                                </thead>

                                <tbody>

                                    @foreach (var date in Model)
                                    {
                                        <tr role="row" class="even responsive" remove-ajax-item="@date.Id">
                                            <td class="vm">
                                                <div class="flex-style-center">
                                                    <p> @date.ReservationDate.ToStringShamsiDate() </p>
                                                </div>
                                            </td>
                                            <td class="vm">
                                                <div class="flex-style-center">
                                                    <p> @date.Id </p>
                                                </div>
                                            </td>
                                        
                                            <td class="tc vm">
                                                <p>
                                                    @if (date.DoctorReservationDateTimes.Any() == false)
                                                    {
                                                        <span class="mr-8px label label-orange">@Localizer["Empty"] </span>
                                                    }
                                                    else
                                                    {
                                                        <span class="mr-8px label label-info">@date.DoctorReservationDateTimes.Count(p=> !p.IsDelete &&  p.DoctorReservationState != DoctorFAM.Domain.Enums.DoctorReservation.DoctorReservationState.Canceled) </span>
                                                    }
                                                </p>
                                            </td>

                                            <td class="tc vm">
                                                <p>
                                                    @if (date.DoctorReservationDateTimes.Any() == false)
                                                    {
                                                        <span class="mr-8px label label-orange">@Localizer["Empty"] </span>
                                                    }
                                                    else
                                                    {
                                                        <span class="mr-8px label label-success">@date.DoctorReservationDateTimes.Count(p=>!p.IsDelete &&  p.DoctorReservationState == DoctorFAM.Domain.Enums.DoctorReservation.DoctorReservationState.Reserved) </span>
                                                    }
                                                </p>
                                            </td>

                                            <td class="tc vm">
                                                <a asp-action="ReservationDateDetail" asp-controller="Appointment" asp-area="Doctor" asp-route-ReservationDateId="@date.Id" class="btn btn-azure btn-circle btn-xs"><i class="glyphicon glyphicon-eye-open"></i></a>
                                                @if (date.DoctorReservationDateTimes.Any() == false)
                                                {
                                                    <button onclick="DeleteAjax(@date.Id, '@Url.Action("DeleteReservationDate", "Appointment", new {area = "Doctor", Id = date.Id})')" class="btn btn-danger btn-circle btn-xs"><i class="glyphicon glyphicon-trash"></i></button>
                                                }
                                            </td>

                                        </tr>

                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                }
                else
                {
                    <partial name="_DoctorPanelNotFoundPartial" />
                }

            </div>
        </div>

    </div>
</div>


