@model DoctorFAM.Domain.ViewModels.Nurse.HomeNurse.FilterListOfHomeNurseRequestViewModel
@using DoctorFAM.Domain.ViewModels.Admin.HealthHouse
@using DoctorFAM.Application.Extensions
@using DoctorFAM.Application.Convertors
@using DoctorFAM.Domain.ViewModels.Common
@using DoctorFAM.Domain.Enums.Request
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedLocalizer> SharedHtmlLocalizer


@{
    ViewData["Title"] = @Localizer["List Of Home Nurse Requests"];
}

@section Styles
{

}

@section Scripts
{
<partial name="_JqueryValidation" />
}

@section Breadcrumb
{
<li>
    <a href="javascript:void(0)"> @ViewData["Title"] </a>
</li>
}

<div class="row">
    <div class="col-lg-3 col-sm-12">
        <div class="widget">
            <div class="widget-header bordered-bottom bordered-green">
                <span class="widget-caption"> @Localizer["Home Nurse"] </span>
            </div>
            <div class="widget-body">
                <div>
                        <form asp-action="FilterHomeNurseRequests" asp-controller="HomeNurse" asp-area="Nurse" id="filter-search" method="get">

                        <input type="hidden" asp-for="Page" />

                        <div class="form-group">
                            <label asp-for="Username"> @Localizer["Username"] </label>
                            <input type="text" class="form-control" asp-for="Username">
                        </div>

                        <div class="form-group">
                            <label asp-for="FirstName"> @Localizer["First Name"] </label>
                            <input type="text" class="form-control" asp-for="FirstName">
                        </div>

                           <div class="form-group">
                            <label asp-for="LastName"> @Localizer["Last Name"] </label>
                            <input type="text" class="form-control" asp-for="LastName">
                        </div>

                        <div class="form-group">
                            <label asp-for="LastName"> @Localizer["Mobile"] </label>
                            <input type="text" class="form-control" asp-for="LastName">
                        </div>

                        <div class="form-group">
                            <label asp-for="FilterRequestNurseSideOrder"> @Localizer["Order By"] </label>
                                <select asp-for="FilterRequestNurseSideOrder" class="form-control" asp-items="Html.GetEnumSelectList(typeof(FilterRequestAdminSideOrder))"></select>
                        </div>

                        <hr />

                        <div class="row">
                            <div class="col-md-12 flex-style">
                                <button type="submit" class="btn btn-labeled w-100 btn-palegreen">
                                    <i class="btn-label glyphicon glyphicon-filter"></i>@Localizer["Filter"]
                                </button>

                                @if (Context.Request.QueryString.HasValue)
                                {
                                    <a asp-action="FilterHomeNurseRequests" asp-controller="HomeNurse" asp-area="Nurse" class="btn btn-labeled w-100 btn-darkorange">
                                        <i class="btn-label glyphicon glyphicon-remove"></i>@Localizer["Delete Filter"]
                                    </a>
                                }
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-9 col-sm-12">
        <div class="well with-header with-footer table-responsive">
            <div class="header bordered-azure">
                <div class="flex-style">
                    <span>@ViewData["Title"]</span>
                    <span>@Model.GetShownEntitiesPagesTitle()</span>
                </div>
            </div>

            @if (Model.Entities != null && Model.Entities.Any())
            {
                <table class="table table-hover table-bordered tc vm">
                    <thead class="tc vm">
                        <tr class="tc vm">
                            <th class="tc vm">
                                @Localizer["User Avatar"]
                            </th>
                            <th class="tc vm">
                                @Localizer["User Mobile"]
                            </th>
                            <th class="tc vm">
                                @Localizer["Date Time"]
                            </th>
                            <th class="tc vm">
                                @Localizer["Options"]
                            </th>
                        </tr>
                    </thead>
                    <tbody class="tc vm">
                        @foreach (var request in Model.Entities)
                        {
                            <tr class="tc vm">
                                <td class="vm">
                                    <div class="flex-style-center">
                                        <img src="@request.User.GetUserAvatar()" class="avatar-style" style="border-radius:50px;" />
                                        <div class="mr-10px">
                                            <span> @request.User.Username </span>
                                        </div>
                                    </div>
                                </td>
                                <td class="tc vm">
                                    <p>@Localizer["Mobile"] : @request.User.Mobile</p>
                                </td>
                                <td class="tc vm">
                                    <p>  @request.CreateDate.ToStringShamsiDate() </p>
                                    <p> @request.CreateDate.Hour:@request.CreateDate.Minute:@request.CreateDate.Second</p>
                                </td>
                                <td class="tc vm">
                                    <a asp-action="HomeNurseRequestDetail" asp-controller="HomeNurse" asp-area="Nurse" asp-route-requestId="@request.Id" class="btn btn-azure btn-circle btn-xs"><i class="glyphicon glyphicon-eye-open"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

                <div class="footer tc">

                    <partial name="_NursePanelPaging" model="@Model.GetCurrentPaging()" />

                </div>
            }
            else
            {
                <partial name="_NursePanelNotFoundPartial" />
            }
        </div>
    </div>
</div>

