@model DoctorFAM.Domain.ViewModels.UserPanel.Home.HomeDashboardViewModel
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedLocalizer> SharedHtmlLocalizer
@using DoctorFAM.Application.Convertors
@using DoctorFAM.Application.Extensions

@{
    ViewData["Title"] = "پنل کاربری";

    List<DoctorFAM.Domain.Entities.PriodicExamination.PriodicPatientsExamination> priodicExamination = ViewBag.UserPriodicExaminations as List<DoctorFAM.Domain.Entities.PriodicExamination.PriodicPatientsExamination>;
    List<DoctorFAM.Domain.Entities.PeriodicTest.UserPeriodicTest> priodicTest = ViewBag.PriodicTest as List<DoctorFAM.Domain.Entities.PeriodicTest.UserPeriodicTest>;
}

@section Breadcrumb{
}


<div class="page-body">

    <div class="row">

        
    </div>

    <div class="row text-center align-Item-center">
        <div class="col-lg-6 col-sm-6 col-xs-12">
            <div class="row">

                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4  buttons-preview text-center justify-content-center">
                    <a asp-area="UserPanel" asp-controller="Home" asp-action="Index_Sec" class="btn btn-success  btn-circle btn-lg"><i class="glyphicon glyphicon-th"></i></a>
                    <p class="text-center justify-content-center" style="font-size:12PX;"> داشبورد </p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4  buttons-preview  text-center justify-content-center">
                    <a asp-area="UserPanel" asp-controller="Account" asp-action="EditProfile" class="btn btn-info  btn-circle btn-lg"><i class="fa fa-user"></i></a>
                    <p class="text-center justify-content-center" style="font-size:12PX;">اطلاعات کاربری</p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4  buttons-preview  text-center justify-content-center">
                    <a asp-area="UserPanel" asp-controller="PopulationCovered" asp-action="ListOfPopulationCovered" class="btn btn-primary  btn-circle btn-lg"><i class="fa fa-users"></i></a>
                    <p class="text-center justify-content-center" style="font-size:12PX;">افراد زیرمجموعه</p>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-sm-6 col-xs-12">
            <div class="row">

                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4  buttons-preview">
                    <a asp-area="UserPanel" asp-controller="FamilyDoctor" asp-action="CheckUserHasFamilyDoctor" class="btn btn-warning  btn-circle btn-lg"><i class="fa fa-user-md"></i></a>
                    <p class="text-center justify-content-center" style="font-size:12PX;"> پزشک من </p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4  buttons-preview">
                    <a asp-area="UserPanel" asp-controller="Consultant" asp-action="ProccessConsultant" class="btn btn-success  btn-circle btn-lg"><i class="fa fa-heartbeat"></i></a>
                    <p class="text-center justify-content-center" style="font-size:12PX;"> مشاور روان من </p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4  buttons-preview">
                    <a asp-area="UserPanel" asp-controller="FamilyDoctor" asp-action="CheckUserHasFamilyDoctor" class="btn btn-info  btn-circle btn-lg"><i class="fa fa-stethoscope"></i></a>
                    <p class="text-center justify-content-center" style="font-size:12PX;"> متخصصین من </p>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-sm-6 col-xs-12">
            <div class="row">

                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4  buttons-preview">
                    <a asp-action="Reserve" asp-controller="Home" asp-area="UserPanel" class="btn btn-info  btn-circle btn-lg"><i class="fa fa-calendar-o"></i></a>
                    <p class="text-center justify-content-center" style="font-size:12PX;"> مدیریت نوبتها </p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4  buttons-preview">
                    <a asp-area="UserPanel" asp-controller="Home" asp-action="HealthHouse" class="btn btn-warning  btn-circle btn-lg"><i class="fa fa-medkit"></i></a>
                    <p class="text-center justify-content-center" style="font-size:12PX;"> خانه سلامت </p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4  buttons-preview">
                    <a asp-area="UserPanel" asp-controller="OnlineVisit" asp-action="ListOfCurrentUserOnlineVisitRequests" class="btn btn-success  btn-circle btn-lg"><i class="fa fa-mobile"></i></a>
                    <p class="text-center justify-content-center" style="font-size:12PX;"> ویزیت آنلاین </p>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-sm-6 col-xs-12">
            <div class="row">

                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4  buttons-preview">
                    <a asp-area="UserPanel" asp-controller="Home" asp-action="HealthIndex" class="btn btn-primary  btn-circle btn-lg"><i class="fa fa-heart"></i></a>
                    <p class="text-center justify-content-center" style="font-size:12PX;"> نمایه های سلامت </p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4  buttons-preview">
                    <a asp-area="UserPanel" asp-controller="Wallet" asp-action="Index" class="btn btn-info  btn-circle btn-lg"><i class="fa fa-money"></i></a>
                    <p class="text-center justify-content-center" style="font-size:12PX;"> مالی </p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4  buttons-preview">
                    <a asp-area="UserPanel" asp-controller="Ticket" asp-action="FilterTickets" class="btn btn-warning  btn-circle btn-lg"><i class="fa fa-ticket"></i></a>
                    <p class="text-center justify-content-center" style="font-size:12PX;"> تیکت پشتیبانی </p>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-sm-6 col-xs-12">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4  buttons-preview">
                    <a asp-action="ListOfUserExamination" asp-area="UserPanel" asp-controller="PeriodicExamination" class="btn btn-success  btn-circle btn-lg"><i class="fas fa-comment-medical fa-2x mt-1"></i></a>
                    <p class="text-center justify-content-center" style="font-size:12PX;"> هشدار معاینات  </p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4  buttons-preview">
                    <a asp-action="ListOfUserPeriodicTest" asp-area="UserPanel" asp-controller="PeriodicTest" class="btn btn-primary  btn-circle btn-lg"><i class="fas fa-microscope fa-2x mt-1"></i></a>
                    <p class="text-center justify-content-center" style="font-size:12PX;"> هشدار آزمایشها  </p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4  buttons-preview">
                    <a asp-action="ListOfCurrentUserDrugAlerts" asp-area="UserPanel" asp-controller="DrugAlert" class="btn btn-info  btn-circle btn-lg"><i class="fas fa-capsules fa-2x mt-1"></i></a>
                    <p class="text-center justify-content-center" style="font-size:12PX;"> هشدار داروها </p>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-sm-6 col-xs-12">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4  buttons-preview">
                    <a asp-area="Chatroom" asp-controller="Home" asp-action="Index" class="btn btn-warning  btn-circle btn-lg"
                       style="background-image: linear-gradient(#ff00cc, #333399) !important;"><i class="fa fa-comments-o"></i></a>
                    <p class="text-center justify-content-center" style="font-size:12PX;"> پیام رسان </p>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-sm-6 col-xs-12">
            <div class="col-lg-12 col-md-12 col-xl-12 col-sm-12 col-xs-12">

                <div class="widget">
                    <div class="widget-header">
                        <i class="widget-icon fa fa-medkit"></i>
                        <span class="widget-caption">
                            هشدار معاینه ی دوره ای
                        </span>
                        <div class="widget-buttons">
                            <div class="row" style="margin-right: -84px;">

                                <a asp-action="ListOfUserExamination" asp-area="UserPanel" asp-controller="PeriodicExamination" id="ShowUserCommentInAdminPanel" class="badge badge-info">نمایش همه</a>

                                <a id="ShowUserCommentInAdminPanelMinus" href="#" data-toggle="collapse">
                                    <i class="fa fa-minus"></i>
                                </a>

                            </div>
                        </div><!--Widget Buttons-->
                    </div><!--Widget Header-->
                    <div class="widget-body" style="max-height: 230px !important; overflow-y: scroll; height:auto;">
                        @if (priodicExamination != null && priodicExamination.Any())
                        {
                            <div class="table-responsive">
                                <table class="table table-hover table-bordered tc vm">
                                    <thead class="tc vm">
                                        <tr class="tc vm">
                                            <th class="tc vm">
                                                عنوان معاینه
                                            </th>
                                            <th class="tc vm">
                                                نوع معاینه
                                            </th>
                                            <th class="tc vm">
                                                تاریخ معاینه ی بعدی
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody class="tc vm">
                                        @foreach (var Priodic in priodicExamination)
                                        {
                                            <tr class="tc vm" remove-ajax-item="@Priodic.Id">
                                                <td class="vm">
                                                    <div class="flex-style-center label label-warning">
                                                        @Priodic.MedicalExamination.MedicalExaminationName
                                                    </div>
                                                </td>

                                                <td class="vm">
                                                    <div class="flex-style-center">
                                                        @((string.IsNullOrEmpty(Priodic.LabelName)) ? "وارد نشده است." : Priodic.LabelName)
                                                    </div>
                                                </td>

                                                <td class="tc vm">
                                                    <div class="tc vm">
                                                        <p id="ArticleTitle">@Priodic.NextExaminationDate.ToStringShamsiDate()</p>
                                                    </div>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>

                            <!--Widget Body-->
                        }
                        else
                        {
                            <partial name="_UserPanelNotFoundPartial" />
                        }

                    </div>
                </div>
            </div>


            <div class="col-lg-12 col-md-12 col-xl-12 col-sm-12 col-xs-12">

                <div class="widget">
                    <div class="widget-header">
                        <i class="widget-icon fa fa-medkit"></i>
                        <span class="widget-caption">
                            هشدار آزمایشهای دوره ای
                        </span>
                        <div class="widget-buttons">
                            <div class="row" style="margin-right: -84px;">

                                <a asp-action="ListOfUserPeriodicTest" asp-area="UserPanel" asp-controller="PeriodicTest" id="ShowUserCommentInAdminPanel" class="badge badge-info">نمایش همه</a>

                                <a id="ShowUserCommentInAdminPanelMinus" href="#" data-toggle="collapse">
                                    <i class="fa fa-minus"></i>
                                </a>

                            </div>
                        </div><!--Widget Buttons-->
                    </div><!--Widget Header-->
                    <div class="widget-body" style="max-height: 230px !important; overflow-y: scroll; height:auto;">
                        @if (priodicTest != null && priodicTest.Any())
                        {
                            <div class="table-responsive">
                                <table class="table table-hover table-bordered tc vm">
                                    <thead class="tc vm">
                                        <tr class="tc vm">
                                            <th class="tc vm">
                                                عنوان آزمایش
                                            </th>
                                            <th class="tc vm">
                                                تاریخ پیشنهادی پزشک
                                            </th>
                                            <th class="tc vm">
                                                تاریخ پیشنهادی دکترفم
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody class="tc vm">
                                        @foreach (var test in priodicTest)
                                        {
                                            <tr class="tc vm" remove-ajax-item="@test.Id">
                                                <td class="vm">
                                                    <div class="flex-style-center label label-warning">
                                                        @test.PeriodicTest.Name
                                                    </div>
                                                </td>

                                                <td class="vm">
                                                    <div class="flex-style-center">
                                                        @((test.DoctorOrderForNextTest is null) ? "وارد نشده است." : test.DoctorOrderForNextTest.Value.ToStringShamsiDate())
                                                    </div>
                                                </td>

                                                <td class="tc vm">
                                                    <div class="tc vm">
                                                        <p id="ArticleTitle">@test.SystemOrderForNextTest.ToStringShamsiDate()</p>
                                                    </div>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>

                            <!--Widget Body-->
                        }
                        else
                        {
                            <partial name="_UserPanelNotFoundPartial" />
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>