@model List<DoctorFAM.Domain.ViewModels.DoctorPanel.OnlineVisit.ListOfWorkShiftDatesFromDoctorPanelViewModel>
@using DoctorFAM.Application.Extensions
@using DoctorFAM.Application.Convertors
@using DoctorFAM.Domain.ViewModels.Common

@{
    ViewData["Title"] = $"لیست شیفت های انتخابی شما";
}

@section Styles
    {
    <link href="/admin/css/dataTables.bootstrap.rtl.css" rel="stylesheet" />
}

@section Scripts
    {
    <script src="~/admin/js/datatable/jquery.dataTables.min.js"></script>
    <script src="~/admin/js/datatable/ZeroClipboard.js"></script>
    <script src="~/admin/js/datatable/dataTables.tableTools.min.js"></script>
    <script src="~/admin/js/datatable/dataTables.bootstrap.min.js"></script>
    <script src="~/admin/js/datatable/datatables-init.js"></script>
    <script>
        InitiateSimpleDataTable.init();
        InitiateEditableDataTable.init();
        InitiateExpandableDataTable.init();
        InitiateSearchableDataTable.init();
    </script>
}

@section Breadcrumb
    {
    <li>
        <a asp-action="MedicalRecords" asp-controller="Home" asp-area="Doctor"> اقدامات پزشکی  </a>
    </li>
    <li>
        <a asp-action="ListOfDoctorWorkShifts" asp-controller="OnlineVisit" asp-area="Doctor"> لیست شیفت های ویزیت آنلاین  </a>
    </li>
}

<div class="row">

    <div class="col-lg-3 col-sm-12">
    </div>

    <div class="col-lg-6 col-sm-12">

        <a class="col-lg-6 col-sm-12 btn btn-sky w-100 margin-bottom-10" asp-action="CreateDoctorSelectedOnlineVisitShiftDate"  asp-controller="OnlineVisit" asp-area="Doctor"> انتخاب شیفت ویزیت آنلاین شما </a>

    </div>

    <div class="col-lg-3 col-sm-12">
    </div>

    <div class="col-lg-12 col-sm-12">

        <div class="row" style="margin:10px 10px 10px 10px;">

            <div id="horizontal-form">

                @if (Model != null && Model.Any())
                {
                    <div class="widget-body no-padding">
                        <div id="searchable_wrapper" class="dataTables_wrapper form-inline">

                            <table class="table table-bordered table-hover table-striped dataTable" id="searchable" role="grid" aria-describedby="searchable_info">
                                <thead class="bordered-darkorange">
                                    <tr role="row">

                                        <th class="sorting" tabindex="0" aria-controls="searchable" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column ascending">کد شیفت</th>
                                        <th class="sorting" tabindex="0" aria-controls="searchable" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column ascending">تاریخ شیفت</th>
                                        <th class="sorting" tabindex="0" aria-controls="searchable" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column ascending">تعداد شیفت ها</th>
                                        <th class="sorting" tabindex="0" aria-controls="searchable" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column ascending">تعداد کل نوبت ها</th>
                                        <th class="sorting" tabindex="0" aria-controls="searchable" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending"> امکانات</th>

                                    </tr>
                                </thead>

                                <tbody>

                                    @foreach (var reservationdata in Model.OrderBy(p=> p.BusinessKey))
                                    {
                                        <tr role="row" class="even responsive" remove-ajax-item="@reservationdata.OnlineVisitDoctorsReservationDateId">

                                            <td class="center tc vm">
                                            #@reservationdata.BusinessKey
                                            </td>

                                            <td class="center tc vm">
                                                <p class="label label-success">
                                                    
                                                    @reservationdata.OnlineVisitShiftDate.ToShamsi()

                                                </p>
                                            </td>

                                            <td class="center ">

                                                @reservationdata.CountOfWorkShifts

                                            </td>

                                            <td class="center ">

                                                @reservationdata.CountOfAllShiftTime

                                            </td>

                                            <td class="center tc vm">

                                                <a asp-action="WorkShiftDateDetail" asp-controller="OnlineVisit" asp-area="Doctor" asp-route-workShiftId="@reservationdata.OnlineVisitDoctorsReservationDateId" class="btn btn-azure btn-circle btn-xs"><i class="glyphicon glyphicon-eye-open"></i></a>

                                            </td>

                                        </tr>

                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                }
                else
                {
                    <partial name="_DoctorPanelNotFoundPartial" />
                }

            </div>
        </div>

    </div>
</div>

