@model List<DoctorFAM.Domain.Entities.FamilyDoctor.ParsaSystem.UserInsertedFromParsaSystem>
@using DoctorFAM.Application.Convertors

@{
    ViewData["Title"] = @Localizer["Input list of family physician population"];
}

@section Breadcrumb
    {
<li>
    <a asp-area="Doctor" asp-controller="Home" asp-action="SendMessage"> پیامک </a>
</li>
}

@section Styles
    {
<link href="/admin/css/dataTables.bootstrap.rtl.css" rel="stylesheet" />
}

@section Scripts
    {
<script src="~/admin/js/datatable/jquery.dataTables.min.js"></script>
<script src="~/admin/js/datatable/ZeroClipboard.js"></script>
<script src="~/admin/js/datatable/dataTables.tableTools.min.js"></script>
<script src="~/admin/js/datatable/dataTables.bootstrap.min.js"></script>
<script src="~/admin/js/datatable/datatables-init.js"></script>
<script>
    InitiateSimpleDataTable.init();
    InitiateEditableDataTable.init();
    InitiateExpandableDataTable.init();
    InitiateSearchableDataTable.init();
</script>

<script>

    function ShowListOfSMS(id) {
        $.ajax({
            url: "/Show-List-Of-SMS/" + id,
            type: "get",
            data: {

            },
            success: function (response) {
                $("#LargeModalBody").html(response);

                $("#LargeModal").modal("show");
            }
        });
    }

</script>

    }

<div class="page-body">


  @*  <div class="row text-center ">
        <div class="col-md-6">
            <a target="_blank" href="/Content/ExcelSampleFile/PopulationCoveredSmple.xlsx" title="از اینجا برای دانلود یک نمونه فایل اکسل، برای انتقال اطلاعات از کامپیوتر خود، به این سامانه استفاده کنید." class="exlStyle btn btn-primary ">@SharedLocalizer["dlw Sample Of Excel File"]</a>
        </div>
        <div class="col-md-6">
            <a asp-action="IncomingExcelFile" asp-controller="IncomeSystem" asp-area="Doctor" title="از اینجا برای آپلود یا بارگذاری فایل اکسلی که آماده کرده اید، استفاده کنید." class="exlStyle btn btn-primary">@SharedLocalizer["Upload Compelete Excel File"]</a>
        </div>
    </div>*@

    <div class="row ">
        <div class="col-xs-12 col-md-12">
            <div class="widget">
                <div class="widget-header bordered-bottom bordered-yellow">
                    <span class="widget-caption">@Localizer["Input list of family physician population"]  (@Localizer["Search on All Columns"])</span>
                   
                    <div class="widget-buttons">
                        <a href="#" data-toggle="maximize">
                            <i class="fa fa-expand"></i>
                        </a>
                        <a href="#" data-toggle="collapse">
                            <i class="fa fa-minus"></i>
                        </a>
                        <a href="#" data-toggle="dispose">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>

                @if (Model != null && Model.Any())
                {
                    <form asp-action="SendSMSToSelectedUsers" asp-controller="IncomeSystem" asp-area="Doctor" id="filter-search" method="get">

                        <div class="widget-body no-padding">
                            <div id="searchable_wrapper" class="dataTables_wrapper form-inline">

                                <table class="table table-bordered table-hover table-striped dataTable" id="searchable" role="grid" aria-describedby="searchable_info">
                                    <thead class="bordered-darkorange">
                                        <tr role="row">

                                            <th class="sorting" tabindex="0" aria-controls="searchable" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column ascending">@Localizer["Full Name"]</th>
                                            <th class="sorting" tabindex="0" aria-controls="searchable" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" aria-sort="ascending">@Localizer["National Code"]</th>
                                            <th class="sorting" tabindex="0" aria-controls="searchable" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" aria-sort="ascending">@Localizer["Mobile"]</th>
                                            <th class="sorting" tabindex="0" aria-controls="searchable" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending">@Localizer["Register State"]</th>
                                            <th class="sorting" tabindex="0" aria-controls="searchable" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending">@Localizer["Family Doctor State"]</th>
                                            <th class="sorting" tabindex="0" aria-controls="searchable" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending">@Localizer["SMS States"]</th>
                                            <th class="sorting" tabindex="0" aria-controls="searchable" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending"></th>

                                        </tr>
                                    </thead>

                                    <tfoot>
                                        <tr>
                                            <th rowspan="1" colspan="1"></th>
                                            <th rowspan="1" colspan="1"></th>
                                            <th rowspan="1" colspan="1"></th>
                                            <th rowspan="1" colspan="1"></th>
                                            <th rowspan="1" colspan="1"></th>
                                            <th rowspan="1" colspan="1"></th>
                                            <th rowspan="1" colspan="1">
                                                <button type="submit" class="btn btn-success">
                                                    @Localizer["Send SMS"]
                                                </button>
                                            </th>

                                        </tr>
                                    </tfoot>
                                    <tbody>

                                        @foreach (var user in Model)
                                        {
                                            <tr role="row" class="even responsive">

                                                <td class=" sorting_1">@user.PatientFirstName @user.PatientLastName</td>
                                                <td class="sorting_1">
                                                    @user.PatientNationalId
                                                </td>
                                                <td class="sorting_1">
                                                    @user.PatientMobile
                                                </td>
                                                <td class="sorting_1">
                                                    @if (!user.IsRegisteredUser)
                                                    {
                                                        <span class="label label-danger">@Localizer["No Register"]</span>
                                                    }
                                                    @if (user.IsRegisteredUser)
                                                    {
                                                        <span class="label label-success">@Localizer["Registered"]</span>
                                                    }

                                                </td>
                                                <td class="sorting_1">

                                                    @if (user.HasAnyFamilyDoctor)
                                                    {
                                                        <span class="label label-success">@Localizer["Has Family Doctor"]</span>
                                                    }
                                                    @if (!user.HasAnyFamilyDoctor)
                                                    {
                                                        <span class="label label-danger">@Localizer["NO Family Doctor"]</span>
                                                    }

                                                </td>

                                                <td class="center ">

                                                    @if (user.SMSSent)
                                                    {
                                                        <p style="cursor: pointer;" onclick="ShowListOfSMS(@user.Id)" class="label label-success"> @Localizer["List Of SMS"] </p>
                                                    }
                                                    else
                                                    {
                                                        <span class="label label-danger">@Localizer["Didn't Send SMS Yet"]</span>
                                                    }

                                                </td>
                                                <td>
                                                    <label>
                                                        <input type="checkbox" name="personsNumber" value="@user.Id">
                                                        <span class="text"></span>
                                                    </label>
                                                </td>

                                            </tr>

                                        }

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </form>
                }
                else
                {
                    <partial name="_DoctorPanelNotFoundPartial" />
                }
            </div>
        </div>
    </div>

</div>