@model DoctorFAM.Domain.ViewModels.DoctorPanel.PopulationCovered.ShowPopulationCoveredDetailViewModel
@using DoctorFAM.Application.Extensions
@using DoctorFAM.Application.Convertors
@using DoctorFAM.Domain.ViewModels.Common
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedLocalizer> SharedHtmlLocalizer
@using DoctorFAM.Application.StaticTools

@{
    ViewData["Title"] = @Localizer["Show Person Detail Details"];
}

@section Styles
    {
    <style>

        .header-fullname {
            font: 21px 'YekanBakh-FaNum';
            margin-top: 27px;
            display: inline-block;
        }

    </style>
}

@section Scripts
    {
    <partial name="_JqueryValidation" />

    <script>
        $("#UserSelectedFamilyDoctorRequest_FamilyDoctorRequestState").on("change",
            function () {

                var selectedAdvertisementStatusValue = $("#UserSelectedFamilyDoctorRequest_FamilyDoctorRequestState :selected").val();
                if (selectedAdvertisementStatusValue == 1) {
                    $("#RejectDescription-div").removeClass("d-none");
                } else {
                    $("#RejectDescription-div").addClass("d-none");
                }
            });
    </script>
}

@section Breadcrumb
    {
    <li>
        <a href="javascript:void(0)"> @Localizer["User Selected Famili Doctor Request Id"] : @Model.UserSelectedFamilyDoctorRequest.Id </a>
    </li>
}

<div class="row">

    <div class="col-md-12">

        <div class="col-md-12">
            <div class="profile-container">
                <div class="profile-header row">
                    <div class="col-lg-2 col-md-4 col-sm-12 text-center">
                        <img src="@(Model.Patient != null ? Model.Patient.GetUserAvatar() : Localizer["Empty"])" alt="" class="header-avatar">
                    </div>
                    <div class="col-lg-3 col-md-8 col-sm-12 profile-info">
                        <div class="header-fullname">@(Model.Patient.Username != null ? Model.Patient.Username : Localizer["Empty"])</div>

                        <div class="header-information">
                            @Localizer["Mobile"] : @(Model.Patient.Mobile != null ? Model.Patient.Mobile : Localizer["Empty"])
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12 profile-stats">
                        <div class="row ">
                            <br />
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 stats-col">
                                <span class="stats-title">
                                    @Localizer["Request Create Date"]:
                                </span>
                                <div class="stats-value blue">

                                    @((Model.UserSelectedFamilyDoctorRequest.CreateDate != null) ? Model.UserSelectedFamilyDoctorRequest.CreateDate.ToStringShamsiDate() : Localizer["Empty"])
                                </div>

                            </div>
                        </div>

                    </div>
                </div>


                <div class="profile-body">
                    <div class="row">
                        <div class="col-md-12 mt-4">
                            <span class="titFdoc">
                                @Localizer["Patient Information"]
                            </span>
                            <div class="row mt-2 rowboxspec">

                                <div class="form-group col-md-3 col-sm-12">
                                    <label>@Localizer["User name"]</label>
                                    <input type="text" class="form-control" readonly value="@Model.Patient.Username">
                                </div>

                                <div class="form-group col-md-3 col-sm-12">
                                    <label>@Localizer["First Name"]</label>
                                    <input type="text" class="form-control" readonly value="@(string.IsNullOrEmpty(Model.Patient.LastName) ? @Localizer["Empty"] : @Model.Patient.FirstName )">
                                </div>

                                <div class="form-group col-md-3 col-sm-12">
                                    <label>@Localizer["Last Name"]</label>
                                    <input type="text" class="form-control" readonly value="@(string.IsNullOrEmpty(Model.Patient.LastName) ? @Localizer["Empty"] : @Model.Patient.LastName )">
                                </div>

                                <div class="form-group col-md-3 col-sm-12">
                                    <label>@Localizer["National Id"]</label>
                                    <input type="text" class="form-control" readonly value="@(string.IsNullOrEmpty(Model.Patient.NationalId) ? @Localizer["Empty"] : @Model.Patient.NationalId )">
                                </div>

                                <div class="form-group col-md-3 col-sm-12">
                                    <label>@Localizer["Mobile"]</label>
                                    <input type="text" class="form-control" readonly value="@(string.IsNullOrEmpty(Model.Patient.Mobile) ? @Localizer["Empty"] : @Model.Patient.Mobile )">
                                </div>

                                <div class="form-group col-md-3 col-sm-12">
                                    <label>@Localizer["Extra Mobile"]</label>
                                    <input type="text" class="form-control" readonly value="@(string.IsNullOrEmpty(Model.Patient.ExtraPhoneNumber) ? @Localizer["Empty"] : @Model.Patient.ExtraPhoneNumber )">
                                </div>

                                <div class="form-group col-md-6 col-sm-12">
                                    <label>@Localizer["Email"]</label>
                                    <input type="text" class="form-control" readonly value="@(string.IsNullOrEmpty(Model.Patient.Email) ? @Localizer["Empty"] : @Model.Patient.Email )">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 mt-4">
                            <span class="titFdoc">
                                @Localizer["Patient population Covered"]
                            </span>
                            @if (Model.PopulationCovered != null && Model.PopulationCovered.Any())
                            {
                                <div class="row mt-2 rowboxspec2">
                                    <table class="table table-hover table-bordered tc vm text-center align-items-center">

                                        <tr>
                                            <th class=" text-center align-items-center">نام</th>
                                            <th class=" text-center align-items-center">نام خانوادگی</th>
                                            <th class=" text-center align-items-center">کد ملی</th>
                                            <th class=" text-center align-items-center">تاریخ تولد</th>
                                            <th class=" text-center align-items-center">سن</th>
                                            <th class=" text-center align-items-center">جنسیت</th>
                                            <th class=" text-center align-items-center">نسبت</th>

                                        </tr>

                                        @foreach (var item in Model.PopulationCovered)
                                        {
                                            <tr class="tc vm text-center align-items-center" remove-ajax-item="@item.Id">

                                                <td class=" text-center align-items-center">@item.PatientName</td>
                                                <td class=" text-center align-items-center">@item.PatientLastName</td>
                                                <td class=" text-center align-items-center">@item.NationalId</td>
                                                <td class=" text-center align-items-center">@item.BirthDay.ToShamsi()</td>
                                                <td class=" text-center align-items-center">@item.Age</td>


                                                @if (item.Gender == DoctorFAM.Domain.Enums.Gender.Gender.Female)
                                                {
                                                    <td class=" text-center align-items-center">@SharedLocalizer["Female"]</td>
                                                }
                                                @if (item.Gender == DoctorFAM.Domain.Enums.Gender.Gender.Male)
                                                {
                                                    <td class=" text-center align-items-center">@SharedLocalizer["Male"]</td>
                                                }





                                                @if (item.Ratio == DoctorFAM.Domain.Enums.Population_Covered.Ratio.Brother)
                                                {
                                                    <td class=" text-center align-items-center">@SharedLocalizer["Brother"]</td>
                                                }
                                                @if (item.Ratio == DoctorFAM.Domain.Enums.Population_Covered.Ratio.Child)
                                                {
                                                    <td class=" text-center align-items-center">@SharedLocalizer["Child"]</td>
                                                }
                                                @if (item.Ratio == DoctorFAM.Domain.Enums.Population_Covered.Ratio.Father)
                                                {
                                                    <td class=" text-center align-items-center">@SharedLocalizer["Father"]</td>
                                                }
                                                @if (item.Ratio == DoctorFAM.Domain.Enums.Population_Covered.Ratio.Mother)
                                                {
                                                    <td class=" text-center align-items-center">@SharedLocalizer["Mother"]</td>
                                                }
                                                @if (item.Ratio == DoctorFAM.Domain.Enums.Population_Covered.Ratio.Sister)
                                                {
                                                    <td class=" text-center align-items-center">@SharedLocalizer["Sister"]</td>
                                                }
                                                @if (item.Ratio == DoctorFAM.Domain.Enums.Population_Covered.Ratio.Partner)
                                                {
                                                    <td class=" text-center align-items-center">@SharedLocalizer["Partner"]</td>
                                                }



                                            </tr>
                                        }
                                    </table>

                                </div>
                            }
                        </div>
                        <div class="col-md-12 mt-4">
                            <span class="titFdoc">
                                @Localizer["Response to the Request of the user's Family Doctor"]
                            </span>

                            <div class="row mt-2 rowboxspec">
                                <form method="post" asp-action="ChangePopulationCoveredRequestStateFromDoctor" asp-controller="PopulationCovered" asp-area="Doctor" enctype="multipart/form-data">
                                    <input name="Id" value="@Model.UserSelectedFamilyDoctorRequest.Id" type="hidden">

                                    <div class="widget-header bordered-bottom bordered-green">
                                        <span class="widget-caption"> @Localizer["By choosing one of the options below, respond to the user's request to be added to the population covered by your family doctor."] </span>
                                    </div>
                                    <div class="widget-body">

                                        <div class="row">

                                            <div class="form-group col-md-12 col-sm-12">
                                                <label>آیا این کاربر خارج از سامانه عضو جمعیت تحت پوشش شماست؟</label>
                                                <select id="OutOfDoctorFAM" name="OutOfDoctorFAM" class="form-control">
                                                    @if (Model.UserSelectedFamilyDoctorRequest.IsUserInDoctorPopulationCoveredOutOfDoctorFAM)
                                                    {
                                                        <option value="1" selected="selected">بله</option>
                                                        <option value="0">خیر</option>
                                                    }
                                                    @if (!Model.UserSelectedFamilyDoctorRequest.IsUserInDoctorPopulationCoveredOutOfDoctorFAM)
                                                    {
                                                        <option value="0" selected="selected">خیر</option>
                                                        <option value="1">بله</option>
                                                    }
                                                </select>
                                            </div>

                                            <div class="form-group col-md-12 col-sm-12">
                                                <label>@Localizer["State"]</label>
                                                <select id="UserSelectedFamilyDoctorRequest_FamilyDoctorRequestState" name="State" class="form-control">
                                                    @if (Model.UserSelectedFamilyDoctorRequest.FamilyDoctorRequestState == DoctorFAM.Domain.Enums.FamilyDoctor.FamilyDoctorRequestState.WaitingForConfirm)
                                                    {
                                                        <option value="2" selected="selected">@Localizer["Waiting"]</option>
                                                    }
                                                    @if (Model.UserSelectedFamilyDoctorRequest.FamilyDoctorRequestState == DoctorFAM.Domain.Enums.FamilyDoctor.FamilyDoctorRequestState.Accepted)
                                                    {
                                                        <option value="0" selected="selected">@Localizer["Accepted"]</option>
                                                        <option value="1">@Localizer["Decline"]</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="1">@Localizer["Decline"]</option>
                                                        <option value="0">@Localizer["Accepted"]</option>
                                                    }
                                                </select>
                                            </div>

                                            <div class="clearfix"></div>

                                            <div class="form-group col-md-12 @(Model.UserSelectedFamilyDoctorRequest.FamilyDoctorRequestState == DoctorFAM.Domain.Enums.FamilyDoctor.FamilyDoctorRequestState.Decline ?"":"d-none")" id="RejectDescription-div">
                                                <label>@Localizer["Enter the reason for not confirming the information"]</label>
                                                <textarea id="UserSelectedFamilyDoctorRequest.RejectDescription" name="RejectDescription" rows="10" class="form-control" placeholder="@Localizer["Enter the reason for not confirming the information"]"></textarea>
                                            </div>

                                            <hr class="margin-bottom-10 margin-top-10" />

                                            <div class="col-md-12">
                                                <button type="submit" class="btn  btn-labeled btn-success">

                                                    @Localizer["Submit State"]
                                                </button>
                                            </div>

                                        </div>

                                    </div>

                                </form>
                            </div>
                        </div>


                    </div>

                </div>








            </div>
        </div>

    </div>

</div>
