@model DoctorFAM.Domain.ViewModels.Laboratory.HomeLaboratory.HomeLaboratoryRequestViewModel
@using DoctorFAM.Application.Extensions
@using DoctorFAM.Application.Convertors
@using DoctorFAM.Domain.ViewModels.Common
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedLocalizer> SharedHtmlLocalizer
@using DoctorFAM.Application.StaticTools

@{
    ViewData["Title"] = @Localizer["نمایش جزییات"];
}

@section Styles
    {
    <style>

        .header-fullname {
            font: 21px 'YekanBakh-FaNum';
            margin-top: 27px;
            display: inline-block;
        }

        .formHealth {
            background: linear-gradient(rgba(255,255,255,10),rgba(76,200,238,0.35))
        }

    </style>
}

@section Scripts
    {
    <partial name="_JqueryValidation" />
}

@section Breadcrumb
    {
    <li>
        <a asp-action="HomeLab" asp-area="Laboratory" asp-controller="Home"> آزمایشگاه در منزل </a>
    </li>

}


<div class=" formHealth">

    <div class="col-md-12 text-center justify-content-center">
        <h3> درخواست آزمایشگاه در منزل</h3>
    </div>
    <div class="row ">
        <div class="profile-container ">
            <div class="profile-header row mb-5">
                <div class="col-lg-2 col-md-2 col-sm-12 text-center">
                    <img src="@Model.User.GetUserAvatar()" alt="" class="header-avatar">
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 profile-info">
                    <div class="header-fullname">@Model.User.Username</div>

                    <div class="header-information">
                        @Localizer["Mobile"] : @Model.User.Mobile
                    </div>
                    <div class="header-information">
                        @Localizer["ایمیل"] : @Model.User.Email
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 "></div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 profile-stats mt-4 mb-5">

                    <div class="stats-title mt-3">
                        @Localizer["Request Create Date"]:<span class="blue"> @(Model.Request.CreateDate != null ? Model.Request.CreateDate.ToStringShamsiDate() : Localizer["Empty"])</span>
                    </div>
                    <div class="stats-title mt-3">
                        @Localizer["Patient Date Time"]:<span class="blue">@(Model.PatientRequestDateTimeDetail != null ? Model.PatientRequestDateTimeDetail.SendDate.ToStringShamsiDate() : Localizer["Empty"])</span>
                    </div>
                    <div class="stats-title mt-3">
                        @Localizer["Start Time"]:<span class="blue">@(Model.PatientRequestDateTimeDetail != null ? Model.PatientRequestDateTimeDetail.StartTime.ToString("00") : Localizer["Empty"])</span><span> تا </span> <span class="blue">@(Model.PatientRequestDateTimeDetail != null ? Model.PatientRequestDateTimeDetail.EndTime.ToString("00") : Localizer["Empty"])</span>
                    </div>

                </div>
            </div>
            <br />
        </div>

        <div class="Container p-2">
            
          
            <div class="row   mt-5">
                <h5 class="text-center justify-content-center">اطلاعات بیمار</h5>
                <div class="form-group col-md-4 col-sm-12">
                    <label>@Localizer["نام  بیمار"]</label>
                    <input type="text" class="form-control" readonly value="@Model.Patient.PatientName">
                    
                </div>
                <div class="form-group col-md-4 col-sm-12">
                    <label>@Localizer[" نام خانوادگی بیمار"]</label>
                    
                    <input type="text" class="form-control" readonly value="@Model.Patient.PatientLastName">
                </div>
                

                <div class="form-group col-md-4 col-sm-12">
                    <label>@Localizer["کدملی"]</label>
                    <input type="text" class="form-control" readonly value="@Model.Patient.NationalId">
                </div>

                <div class="form-group col-md-3 col-sm-12">
                    <label>@Localizer["جنسیت"]</label>
                    @if (Model.Patient.Gender == DoctorFAM.Domain.Enums.Gender.Gender.Male)
                    {
                        <input type="text" class="form-control" readonly value="@Localizer["مرد"]">
                    }
                    @if (Model.Patient.Gender == DoctorFAM.Domain.Enums.Gender.Gender.Female)
                    {
                        <input type="text" class="form-control" readonly value="@Localizer["زن"]">
                    }
                </div>

                <div class="form-group col-md-3 col-sm-12">
                    <label>@Localizer["سن"]</label>
                    <input type="text" class="form-control" readonly value="@Model.Patient.Age">
                </div>

                <div class="form-group col-md-3 col-sm-12">
                    <label>@Localizer["بیمه"]</label>

                    <input type="text" class="form-control" readonly value="@Model.Patient.Insurance.Title">

                </div>

                <div class="form-group col-md-3 col-sm-12">
                    <label>@Localizer["بیمه ی تکمیلی"]</label>
                    @if (!string.IsNullOrEmpty(Model.SupplementaryInsurance))
                    {
                        <input type="text" class="form-control" readonly value="@Model.SupplementaryInsurance">
                    }
                    else
                    {
                        <input type="text" class="form-control" readonly value="وارد نشده است">
                    }

                </div>

                <div class="form-group col-md-3 col-sm-12">
                    <label>@Localizer["شماره تلفن بیمار"]</label>
                    <input type="text" class="form-control" readonly value="@(string.IsNullOrEmpty(Model.PatientRequestDetail.Phone) ? Localizer["خالی"] : Model.PatientRequestDetail.Phone )">
                </div>

                <div class="form-group col-md-3 col-sm-12">
                    <label>@Localizer["موبایل بیمار"]</label>
                    <input type="text" class="form-control" readonly value="@(string.IsNullOrEmpty(Model.PatientRequestDetail.Mobile) ? Localizer["خالی"] : Model.PatientRequestDetail.Mobile )">
                </div>

                

                

                <div class="form-group col-md-3 col-sm-12">
                    <label>@Localizer["فاصله تا شهر"]</label>
                    <input type="text" class="form-control" readonly value="@(Model.PatientRequestDetail.Distance == null ? Localizer["خالی"] : Model.PatientRequestDetail.Distance )">
                </div>

                <div class="form-group col-md-3 col-sm-12">
                    <label>@Localizer["نام روستا"]</label>
                    <input type="text" class="form-control" readonly value="@(string.IsNullOrEmpty(Model.PatientRequestDetail.Vilage) ? Localizer["خالی"] : Model.PatientRequestDetail.Vilage )">
                </div>

                <div class="form-group col-md-6 col-sm-12">
                    <label>@Localizer["آدرس"]</label>
                    <textarea type="text" style="max-width:100%;" class="form-control" readonly>@Model.PatientRequestDetail.FullAddress</textarea>
                </div>

                <div class="form-group col-md-6 col-sm-12">
                    <label>@Localizer["توضیحات درخواست"]</label>
                    <textarea type="text" style="max-width:100%;" class="form-control" readonly>@Model.Patient.RequestDescription</textarea>
                </div>
            </div>
          
            <div class="row text-center justify-content-center mt-5">
                <h5>اطلاعات آزمایشهای درخواستی</h5>
                <div class="col-md-12 p-2">
                    <div class="well with-header with-footer table-responsive">


                        @if (Model.HomeLaboratoryRequestDetail != null && Model.HomeLaboratoryRequestDetail.Any())
                        {
                            <table class="table table-hover table-bordered tc vm text-center align-items-center">

                                <tr>
                                    <th class=" text-center align-items-center">#</th>
                                    <th class=" text-center align-items-center">اطلاعات آزمایش</th>
                                    <th class=" text-center align-items-center">توضیحات</th>
                                </tr>

                                @{
                                    int i = 1;
                                }

                                @foreach (var item in Model.HomeLaboratoryRequestDetail)
                                {
                                    <tr class="tc vm text-center align-items-center">

                                        <td class=" text-center align-items-center"> @i </td>


                                        @if (!string.IsNullOrEmpty(item.ExperimentTrakingCode))
                                        {

                                            <td class=" text-center align-items-center">

                                                <div class="row">

                                                    <div class=col-md-6>
                                                        <span>@Localizer["کد نسخه الکترونیکی"]</span>
                                                    </div>
                                                    <div class=col-md-6>
                                                        <h5 style="color:#fd5b03"> @item.ExperimentTrakingCode</h5>
                                                    </div>
                                                </div>

                                            </td>
                                        }
                                        @if (!string.IsNullOrEmpty(item.ExperimentPrescription))
                                        {
                                            <td class=" text-center align-items-center">

                                                <div class="row">

                                                    <div class=col-md-6>
                                                        <span>@Localizer["تصویر نسخه"]</span>
                                                    </div>
                                                    <div class=col-md-6>
                                                        <a target="_blank" href="@PathTools.SiteAddress@PathTools.LabPrescriptionPath/@item.ExperimentPrescription"><img src="@PathTools.LabPrescriptionPathThumb/@item.ExperimentPrescription" class="avatar-style" /></a>
                                                    </div>
                                                </div>

                                            </td>
                                        }
                                        @if (!string.IsNullOrEmpty(item.ExperimentName) && !string.IsNullOrEmpty(item.ExperimentImage))
                                        {
                                            <td class=" text-center align-items-center">

                                                <div class="row">

                                                    <div class=col-md-6>
                                                        <a target="_blank" href="@PathTools.SiteAddress@PathTools.LabPrescriptionPath/@item.ExperimentImage"> <img src="@PathTools.LabPrescriptionPathThumb/@item.ExperimentImage" class="avatar-style" /> </a>
                                                    </div>
                                                </div>

                                            </td>
                                        }
                                        else
                                        {
                                            @if (!string.IsNullOrEmpty(item.ExperimentImage))
                                            {
                                                <td class=" text-center align-items-center">
                                                    <span>@Localizer["تصویر لیست آزمایشها"]</span>
                                                    <a target="_blank" href="@PathTools.SiteAddress@PathTools.LabPrescriptionPath/@item.ExperimentImage">  <img src="@PathTools.LabPrescriptionPathThumb/@item.ExperimentImage" class="avatar-style" /></a>
                                                </td>
                                            }
                                            @if (!string.IsNullOrEmpty(item.ExperimentName))
                                            {
                                                <td class=" text-center align-items-center">@item.ExperimentName </td>
                                            }
                                        }

                                        <td class=" text-center align-items-center">@item.Description</td>

                                        @{
                                            i++;
                                        }

                                    </tr>
                                }
                            </table>
                        }
                        else
                        {
                            <partial name="_LaboratoryPanelNotFoundPartial" />
                        }
                    </div>
                </div>
            </div>


            @if (ViewBag.IsThisRequestForThisLaboratory == true)
            {
                <a asp-action="AcceptHomeLaboratoryRequestFromLaboratory" asp-controller="HomeLaboratory" asp-area="Laboratory" asp-route-requestId="@Model.Request.Id" class="btn btn-primary">@Localizer["نمایش فاکتور"]</a>
                @if (Model.Request.RequestState == DoctorFAM.Domain.Enums.Request.RequestState.AcceptFromCustomer)
                {
                    <a asp-action="SendingASampler" asp-controller="HomeLaboratory" asp-area="Laboratory" asp-route-requestId="@Model.Request.Id" class="btn btn-primary">@Localizer["اعزام نمونه گیر"]</a>
                }

                @if (Model.Request.RequestState == DoctorFAM.Domain.Enums.Request.RequestState.DeliveryToCourierAndSending)
                {
                    <a asp-action="WaitingForInitialResult" asp-controller="HomeLaboratory" asp-area="Laboratory" asp-route-requestId="@Model.Request.Id" class="btn btn-primary">@Localizer["درحال آماده سازی نتیجه"]</a>
                }

                @if (Model.Request.RequestState == DoctorFAM.Domain.Enums.Request.RequestState.PreparingTheOrder
               || Model.Request.RequestState == DoctorFAM.Domain.Enums.Request.RequestState.FinishService)
                {
                    <a asp-action="SendResultForUser" asp-controller="HomeLaboratory" asp-area="Laboratory" asp-route-requestId="@Model.Request.Id" class="btn btn-primary">@Localizer["نتیجه ی آزمایش"]</a>
                }
            }
            else
            {
                <a asp-action="AcceptHomeLaboratoryRequestFromLaboratory" asp-controller="HomeLaboratory" asp-area="Laboratory" asp-route-requestId="@Model.Request.Id" class="btn btn-primary">@Localizer["پذیرفتن درخواست"]</a>
            }



        </div>
    </div>


</div>



