@model DoctorFAM.Domain.ViewModels.Laboratory.HomeLaboratory.FilterListOfHomeLaboratoryRequestViewModel
@using DoctorFAM.Domain.ViewModels.Admin.HealthHouse
@using DoctorFAM.Application.Extensions
@using DoctorFAM.Application.Convertors
@using DoctorFAM.Domain.ViewModels.Common
@using DoctorFAM.Domain.Enums.Request
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedLocalizer> SharedHtmlLocalizer


@{
    ViewData["Title"] = @Localizer["لیست درخواست های آزمایشگاه درمنزل"];
}

@section Styles
    {

}

@section Scripts
    {
    <partial name="_JqueryValidation" />
}

@section Breadcrumb
    {
    <li>
        <a href="javascript:void(0)"> @ViewData["Title"] </a>
    </li>
}

<div class="row">
    <div class="col-lg-3 col-sm-12">
        <div class="widget">
            <div class="widget-header bordered-bottom bordered-green">
                <span class="widget-caption"> @Localizer["آزمایشگاه در منزل"] </span>
            </div>
            <div class="widget-body">
                <div>
                    <form asp-action="ListOfYourHomeLaboratoryRequestsHistory" asp-controller="HomeLaboratory" asp-area="Laboratory" id="filter-search" method="get">

                        <input type="hidden" asp-for="Page" />

                        <div class="form-group">
                            <label asp-for="Username"> @Localizer["نام کاربری"] </label>
                            <input type="text" class="form-control" asp-for="Username">
                        </div>

                        <div class="form-group">
                            <label asp-for="FirstName"> @Localizer["نام"] </label>
                            <input type="text" class="form-control" asp-for="FirstName">
                        </div>

                        <div class="form-group">
                            <label asp-for="LastName"> @Localizer["نام خانوادگی"] </label>
                            <input type="text" class="form-control" asp-for="LastName">
                        </div>

                        <div class="form-group">
                            <label asp-for="LastName"> @Localizer["موبایل"] </label>
                            <input type="text" class="form-control" asp-for="LastName">
                        </div>

                        <div class="form-group">
                            <label asp-for="FilterRequestLaboratorySideOrder"> @Localizer["مرتب سازی"] </label>
                            <select asp-for="FilterRequestLaboratorySideOrder" class="form-control" asp-items="Html.GetEnumSelectList(typeof(FilterRequestAdminSideOrder))"></select>
                        </div>

                        <hr />

                        <div class="row">
                            <div class="col-md-12 flex-style">
                                <button type="submit" class="btn btn-labeled w-100 btn-palegreen">
                                    <i class="btn-label glyphicon glyphicon-filter"></i>@Localizer["فیلتر"]
                                </button>

                                @if (Context.Request.QueryString.HasValue)
                                {
                                    <a asp-action="ListOfYourHomeLaboratoryRequestsHistory" asp-controller="HomeLaboratory" asp-area="Laboratory" class="btn btn-labeled w-100 btn-darkorange">
                                        <i class="btn-label glyphicon glyphicon-remove"></i>@Localizer["حذف فیلتر"]
                                    </a>
                                }
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-9 col-sm-12">
        <div class="well with-header with-footer table-responsive">
            <div class="header bordered-azure">
                <div class="flex-style">
                    <span>@ViewData["Title"]</span>
                    <span>@Model.GetShownEntitiesPagesTitle()</span>
                </div>
            </div>

            @if (Model.Entities != null && Model.Entities.Any())
            {
                <table class="table table-hover table-bordered tc vm">
                    <thead class="tc vm">
                        <tr class="tc vm">
                            <th class="tc vm">
                                @Localizer["تصویر کاربری"]
                            </th>
                            <th class="tc vm">
                                @Localizer["موبایل کاربری"]
                            </th>
                            <th class="tc vm">
                                @Localizer["تاریخ درج"]
                            </th>
                            <th class="tc vm">
                                وضعیت
                            </th>
                            <th class="tc vm">
                                @Localizer["امکانات"]
                            </th>
                        </tr>
                    </thead>
                    <tbody class="tc vm">
                        @foreach (var request in Model.Entities)
                        {
                            <tr class="tc vm">
                                <td class="vm">
                                    <div class="flex-style-center">
                                        <img src="@request.User.GetUserAvatar()" class="avatar-style" style="border-radius:50px;" />
                                        <div class="mr-10px">
                                            <span> @request.User.Username </span>
                                        </div>
                                    </div>
                                </td>
                                <td class="tc vm">
                                    <p>@Localizer["موبایل"] : @request.User.Mobile</p>
                                </td>
                                <td class="tc vm">
                                    <p>  @request.CreateDate.ToStringShamsiDate() </p>
                                    <p> @request.CreateDate.Hour:@request.CreateDate.Minute:@request.CreateDate.Second</p>
                                </td>
                                <td class="tc vm">
                                    @if (request.RequestState == RequestState.ConfirmFromDestinationAndWaitingForIssuanceOfDraftInvoice)
                                    {
                                        <p class="label label-primary"> پیش فاکتور </p>
                                    }

                                    @if (request.RequestState == RequestState.AcceptFromCustomer)
                                    {
                                        <div class="row">
                                            <p class="label label-success"> تایید شده توسط کاربر </p>
                                            <p class="label label-success">  در انتظار ارسال نمونه گیر</p>
                                        </div>
                                    }

                                    @if (request.RequestState == RequestState.DeliveryToCourierAndSending)
                                    {
                                        <div class="row">
                                            <p class="label label-success"> درحال دریافت نمونه </p>
                                        </div>
                                    }

                                    @if (request.RequestState == RequestState.PreparingTheOrder)
                                    {
                                        <div class="row">
                                            <p class="label label-success"> درحال آماده سازی نتیجه </p>
                                        </div>
                                    }

                                    @if (request.RequestState == RequestState.FinishService)
                                    {
                                        <div class="row">
                                            <p class="label label-primary"> اتمام سرویس </p>
                                        </div>
                                    }

                                    @if (request.RequestState == RequestState.RejectFromCustomer)
                                    {
                                        <span class="mr-8px label label-danger"> رد شده از طرف کاربر   </span>
                                    }

                                    @if (request.RequestState == RequestState.RequestForEditInvoice)
                                    {
                                        <span class="mr-8px label label-warning"> درخواست بازبینی   </span>
                                    }
                                </td>
                                <td class="tc vm">
                                    <a asp-action="HomeLaboratoryRequestDetail" asp-controller="HomeLaboratory" asp-area="Laboratory" asp-route-requestId="@request.Id" class="btn btn-azure btn-circle btn-xs"><i class="glyphicon glyphicon-eye-open"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

                <div class="footer tc">

                    <partial name="_LaboratoryPanelPaging" model="@Model.GetCurrentPaging()" />

                </div>
            }
            else
            {
                <partial name="_LaboratoryPanelNotFoundPartial" />
            }
        </div>
    </div>
</div>

