@model List<DoctorFAM.Domain.ViewModels.Site.MedicalExamination.ListOfUserPriodicExaminationSiteSideViewModel>
@using DoctorFAM.Application.Convertors
@using DoctorFAM.Application.Extensions

@{
    ViewData["Title"] = " معاینات دوره ای دیابت";
}

<div class="page-content  formHealth">
    <div class="row HomePharmacyTitle text-center  text-align-justify ">
        <div class="col-md-3 page-breadcrumbs">
            <i class="menu-icon fa fa-globe"></i>
            <a asp-area="" asp-controller="Home" asp-action="Index">  <span class="menu-text"> صفحه اصلی سایت </span></a>
            <span>/</span>
            <a asp-area="" asp-controller="Diabet" asp-action="Index">بازگشت به صفحه دیابت</a>
        </div>
        <div class="col-md-6   text-center  text-align-justify M-5 P-5">

            <h2 class="text-center  text-align-justify ">  معاینات دوره ای دیابت</h2>
        </div>
        <div class="col-md-3 "></div>
    </div>
    <div class="container  p-2">

        <div class="row">

            <div class="col-md-12  col-sm-12">
                <div class="row ">
                    <div class="col-md-12">

                        <div class="row">
                            <div class="col-md-12 mt-3 text-center mb-2">
                                <div class="form-group">
                                    <a asp-action="CreateMedicalExaminationFromUser" asp-area="" asp-controller="Diabet" class="btn-Accept">افزودن عنوان جدید</a>
                                </div>
                            </div>
                        </div>

                        <div>
                            @if (Model != null && Model.Any())
                            {
                                <table class="table table-hover table-bordered tc vm text-center align-items-center">

                                    <tr>
                                        <th class=" text-center align-items-center"> پزشک</th>
                                        <th class=" text-center align-items-center">عنوان</th>
                                        <th class=" text-center align-items-center">تاریخ آخرین معاینه</th>
                                        <th class=" text-center align-items-center">تاریخ دوره بعدی پیشنهادی سیستم</th>
                                        <th class=" text-center align-items-center"> هشدار پیشنهادی سیستم</th>
                                        <th class=" text-center align-items-center">عملیات</th>
                                    </tr>

                                    @foreach (var item in Model)
                                    {
                                        <tr class="tc vm text-center align-items-center">

                                            <td class=" text-center align-items-center">
                                                @if (item.Doctors != null)
                                                {
                                                    <img style="height: 60px;border-radius: 50px;margin-left: 5px" src="@item.Doctors.GetUserAvatar()" />

                                                    <a asp-action="DocPage" asp-area="" asp-controller="FocalPoint" asp-route-userId="@item.Doctors.Id">@item.Doctors.Username</a>

                                                }
                                                else
                                                {

                                                    <span>وارد نشده است</span>
                                                }

                                            </td>

                                            <td class=" text-center align-items-center">
                                                <span>@item.PriodicPatientsExaminations.MedicalExamination.MedicalExaminationName</span>
                                            </td>

                                            <td class=" text-center align-items-center">
                                                <h5 style="color:#fd5b03"> @item.PriodicPatientsExaminations.LastPatientMedicalExamination.ToShamsi()</h5>

                                            </td>

                                            <td class=" text-center align-items-center">
                                                <h5 style="color:green"> @item.PriodicPatientsExaminations.NextExaminationDate.ToShamsi()</h5>
                                            </td>

                                            <td class=" text-center align-items-center">@item.PriodicPatientsExaminations.MedicalExamination.PriodMonth ماه دیگر</td>

                                            <td class=" text-center align-items-center">
                                                <a asp-action="DeletePriodicExaminationFromUser" asp-area="" asp-controller="Diabet" asp-route-priodicExaminationId="@item.PriodicPatientsExaminations.Id" class="btn-Accept-Danger">حذف</a>
                                            </td>

                                        </tr>
                                    }
                                </table>
                            }
                        </div>

                    </div>
                </div>

            </div>
        </div>


    </div>
</div>

