@model List<DoctorFAM.Domain.ViewModels.UserPanel.OnlineVisit.FilterOnlineVisitRequestUserPanelViewModel>
@using DoctorFAM.Domain.ViewModels.DoctorPanel.OnlineVisit
@using DoctorFAM.Application.Extensions
@using DoctorFAM.Application.Convertors
@using DoctorFAM.Domain.ViewModels.Common
@using DoctorFAM.Domain.Enums.Request


@{
    ViewData["Title"] = @Localizer["List Of Reservation Date"];
}

@section Styles
    {
    <link href="/admin/css/dataTables.bootstrap.rtl.css" rel="stylesheet" />
}

@section Scripts
    {
    <script src="~/admin/js/datatable/jquery.dataTables.min.js"></script>
    <script src="~/admin/js/datatable/ZeroClipboard.js"></script>
    <script src="~/admin/js/datatable/dataTables.tableTools.min.js"></script>
    <script src="~/admin/js/datatable/dataTables.bootstrap.min.js"></script>
    <script src="~/admin/js/datatable/datatables-init-AllRecords.js"></script>
    <script>
        InitiateSimpleDataTable.init();
        InitiateEditableDataTable.init();
        InitiateExpandableDataTable.init();
        InitiateSearchableDataTable.init();
    </script>
}

@section Breadcrumb
    {
}

<div class="row">

    <div class="col-lg-12 col-sm-12">

        <div class="row" style="margin:10px 10px 10px 10px;">

            <div id="horizontal-form">

                @if (Model != null && Model.Any())
                {
                    <div class="widget-body no-padding">
                        <div id="searchable_wrapper" class="dataTables_wrapper form-inline">

                            <table class="table table-bordered table-hover table-striped dataTable" id="searchable" role="grid" aria-describedby="searchable_info">
                                <thead class="bordered-darkorange">
                                    <tr role="row">
                                        
                                        <th class="sorting_asc" tabindex="0" aria-controls="searchable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Browser: activate to sort column descending">
                                            @Localizer["تاریخ"]
                                        </th>
                                        <th class="sorting" tabindex="0" aria-controls="searchable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending">
                                            ساعت شروع

                                        </th>
                                        
                                        <th class="sorting" tabindex="0" aria-controls="searchable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending">
                                           وضعیت
                                        </th>
                                        <th class="sorting" tabindex="0" aria-controls="searchable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending">
                                            @Localizer["امکانات"]
                                        </th>
                                    </tr>
                                </thead>

                                <tbody>

                                    @foreach (var request in Model)
                                    {
                                        <tr role="row" class="even responsive" remove-ajax-item="@request.UserId">
                                            
                                            <td class="vm">
                                                <div class="flex-style-center">
                                                    <p> @request.DateTime.ToShamsi() </p>
                                                </div>
                                            </td>
                                            <td class="vm">
                                                <div class="flex-style-center">
                                                    <p> @request.WorkShiftDateTime </p>
                                                </div>
                                            </td>

                                            <td class="tc vm">
                                                <p>
                                                    @if (!request.IsFinaly)
                                                    {
                                                        <span class="mr-8px label label-orange">نهایی نشده </span>
                                                    }
                                                    else
                                                    {
                                                        <span class="mr-8px label label-success">نهایی شده </span>
                                                    }
                                                </p>
                                            </td>

                                            <td class="tc vm">
                                                <a asp-action="OnlineVisitRequestDetail" asp-controller="OnlineVisit" asp-area="UserPanel" asp-route-id="@request.Id" class="btn btn-azure btn-circle btn-xs"><i class="glyphicon glyphicon-eye-open"></i></a>
                                            </td>

                                        </tr>

                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                }
                else
                {
                    <partial name="_DoctorPanelNotFoundPartial" />
                }

            </div>
        </div>

    </div>
</div>


