@model DoctorFAM.Domain.ViewModels.Admin.FilterUserViewModel
@using DoctorFAM.Domain.ViewModels.Admin
@using DoctorFAM.Application.Extensions
@using DoctorFAM.Application.Convertors
@using DoctorFAM.Domain.ViewModels.Common
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedLocalizer> SharedHtmlLocalizer


@{
    ViewData["Title"] = @Localizer["Page Title"];
}

@{
    var roles = ViewData["Roles"] != null ? ViewData["Roles"] as List<SelectListViewModel> : null;
}

@section Styles
{
    <style>
     /*   .tableFixHead {
            overflow: auto;
            height: 100px;
        }

            .tableFixHead thead th {
                position: sticky;
                top: 0;
                z-index: 1;
            }*/
    </style>

}

@section Scripts
{
<partial name="_JqueryValidation" />
}

@section Breadcrumb
{
<li>
    <a href="javascript:void(0)"> @ViewData["Title"] </a>
</li>
}

<div class="row">
    <div class="col-lg-3 col-sm-12">
        <div class="widget">
            <div class="widget-header bordered-bottom bordered-green">
                <span class="widget-caption"> @Localizer["User Fiter"] </span>
            </div>
            <div class="widget-body">
                <div>
                    <form asp-action="FilterUsers" asp-controller="Account" asp-area="Admin" id="filter-search" method="get">

                        <input type="hidden" asp-for="Page" />

                        <div class="form-group">
                            <label asp-for="FullName"> @Localizer["Username"] </label>
                            <input type="text" class="form-control" asp-for="FullName">
                        </div>

                        <div class="form-group">
                            <label asp-for="Email"> @Localizer["Email"] </label>
                            <input type="text" class="form-control" asp-for="Email">
                        </div>

                        <div class="form-group">
                            <label asp-for="Mobile"> @Localizer["Mobile"] </label>
                            <input type="text" class="form-control" asp-for="Mobile">
                        </div>

                        @*  <div class="form-group">
                            <label for="FromDate"> @Localizer["Register Date From"] </label>
                            <input autocomplete="off" AdminDatePicker="2" type="text" class="form-control" asp-for="FromDate">
                            <span class="text-danger" asp-validation-for="FromDate"></span>
                            </div>

                            <div class="form-group">
                            <label for="ToDate"> @Localizer["Register Date Until"] </label>
                            <input type="text" autocomplete="off" AdminDatePicker="3" class="form-control" asp-for="ToDate">
                            <span class="text-danger" asp-validation-for="ToDate"></span>
                            </div>*@

                        <div class="form-group">
                            <label asp-for="RoleId"> @Localizer["Base On Roles"] </label>
                            <select asp-for="RoleId" class="form-control">
                                <option value="0">@Localizer["Select Role"]</option>
                                @if (roles != null && roles.Any())
                                {
                                    foreach (var role in roles)
                                    {
                                        <option value="@role.Id"> @role.Title </option>
                                    }
                                }
                            </select>
                        </div>

                        <div class="form-group">
                            <label asp-for="Status"> @Localizer["State"] </label>
                            <select asp-for="Status" class="form-control" asp-items="Html.GetEnumSelectList(typeof(UserStatus))"></select>
                        </div>

                        <hr />

                        <div class="row">
                            <div class="col-md-12 flex-style">
                                <button type="submit" class="btn btn-labeled w-100 btn-palegreen">
                                    <i class="btn-label glyphicon glyphicon-filter"></i>@Localizer["Filter"]
                                </button>

                                @if (Context.Request.QueryString.HasValue)
                                {
                                    <a asp-action="FilterUsers" asp-controller="Account" asp-area="Admin" class="btn btn-labeled w-100 btn-darkorange ">
                                        <i class="btn-label glyphicon glyphicon-remove"></i>@Localizer["Delete Filter"]
                                    </a>
                                }
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-9 col-sm-12">
        <div class="well with-header with-footer table-responsive tableFixHead">
            <div class="header bordered-azure">
                <div class="flex-style">
                    <span>@Localizer["Page Title"]</span>
                    <span>@Model.GetShownEntitiesPagesTitle()</span>
                </div>
            </div>

            @if (Model.Entities != null && Model.Entities.Any())
            {
                <table class="table table-hover table-bordered tc vm">
                    <thead class="tc vm" >
                        <tr class="tc vm" >
                            <th class="tc vm">
                                @Localizer["Avatar"]
                            </th>
                            <th class="tc vm">
                                @Localizer["Personal Info"]
                            </th>
                            <th class="tc vm">
                                @Localizer["State"]
                            </th>
                            <th class="tc vm">
                                @Localizer["Access"]
                            </th>
                            <th class="tc vm">
                                @Localizer["Possibilities"]
                            </th>
                        </tr>
                    </thead>
                    <tbody class="tc vm">
                        @foreach (var user in Model.Entities)
                        {
                            <tr class="tc vm">
                                <td class="vm">
                                    <div class="flex-style-center">
                                        <img src="@user.GetUserAvatar()" class="avatar-style" />
                                        <div class="mr-10px">
                                            <span> @user.Username </span>
                                            <hr class="margin-7" />
                                            <span>@Localizer["Register Date"] : @user.CreateDate.ToShamsi()</span>
                                        </div>
                                    </div>
                                </td>
                                <td class="tc vm">
                                    <p>
                                        @Localizer["Email"] :
                                        @if (user.Email == null)
                                        {
                                            <span class="mr-8px label label-orange">@Localizer["Empty"] </span>
                                        }
                                        else
                                        {
                                            @user.Email
                                        }
                                    </p>
                                    @if (!string.IsNullOrEmpty(user.Mobile))
                                    {
                                        <hr class="margin-7" />
                                        <p>@Localizer["Mobile"] : @user.Mobile</p>
                                    }
                                </td>
                                <td class="tc vm">
                                    <p class="flex-style-center">
                                        <span> @Localizer["Email State"] </span>
                                        <span class="mr-8px label @((user.IsEmailConfirm) ? "label-success" : "label-orange")">@((user.IsEmailConfirm) ? @Localizer["Approved"] : @Localizer["Not Approved"])</span>
                                    </p>
                                    <hr class="margin-7" />
                                    <p class="flex-style-center">
                                        <span> @Localizer["Mobile State"] </span>
                                        <span class="mr-8px label @((user.IsMobileConfirm) ? "label-success" : "label-orange")">@((user.IsMobileConfirm) ? @Localizer["Approved"] : @Localizer["Not Approved"])</span>
                                    </p>
                                </td>
                                <td class="tc vm">
                                    <p class="flex-style-center">
                                        <span> @Localizer["Site Access"] </span>
                                        <span class="mr-8px label @((!user.IsBan) ? "label-success" : "label-orange")">@((!user.IsBan) ? @Localizer["Has It"] : @Localizer["Does Not Have"])</span>
                                    </p>
                                    <hr class="margin-7" />
                                    <p class="flex-style-center">
                                        <span> @Localizer["Comment Access"] </span>
                                        <span class="mr-8px label @((!user.BanForComment) ? "label-success" : "label-orange")">@((!user.BanForComment) ? @Localizer["Has It"] : @Localizer["Does Not Have"])</span>
                                    </p>
                                </td>
                                <td class="tc vm">
                                    <a asp-action="AccountDetail" asp-controller="Account" asp-area="Admin" asp-route-id="@user.Id" class="btn btn-azure btn-circle btn-xs"><i class="glyphicon glyphicon-eye-open"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

                <div class="footer tc">

                    <partial name="_AdminPaging" model="@Model.GetCurrentPaging()" />

                </div>
            }
            else
            {
                <partial name="_AdminNotFoundPartial" />
            }
        </div>
    </div>
</div>

