@model DoctorFAM.Domain.ViewModels.Admin.HealthInformation.TVFAM.Category.FilterTVFAMCategoryViewModel
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedLocalizer> SharedHtmlLocalizer

@{
    ViewData["Title"] = "لیست دسته بندی های ویدیو";
}

@section Scripts
{
<partial name="_AdminSweetAlertLocalizer" />
}

    @section Breadcrumb
    {
    <li>
        <a href="javascript:void(0)"> @ViewData["Title"] </a>
    </li>
}

<div class="row">
    <div class="col-lg-3 col-sm-12">
        @if (Model != null && Model.ParentTVFAMCategory != null)
        {
            <a class="btn btn-sky w-100 margin-bottom-10" asp-route-ParentId="@Model.ParentTVFAMCategory.Id" asp-action="CreateVideoFAMCategory" asp-controller="HealthInformation" asp-area="Admin"> افزودن دسته بندی جدید برای @Model.ParentTVFAMCategory.UniqueName</a>
        }
        else
        {
            <a class="btn btn-sky w-100 margin-bottom-10" asp-action="CreateVideoFAMCategory" asp-controller="HealthInformation" asp-area="Admin">افزودن دسته بندی</a>
        }
        <div class="widget">
            <div class="widget-header bordered-bottom bordered-green">
                @if (Model.ParentId != null)
                {
                    <span class="widget-caption"> فیلتر دسته بندی ویدیو ها @Model.ParentTVFAMCategory.UniqueName </span>
                }
                else
                {
                    <span class="widget-caption"> فیلتر دسته بندی ویدیو ها </span>
                }

            </div>
            <div class="widget-body">
                <div>
                    <form asp-action="ListOfVideFAMCategoryList" asp-controller="HealthInformation" asp-area="Admin" id="filter-search" method="get">
                        <input type="hidden" asp-for="ParentId" />
                        <input type="hidden" asp-for="Page" /> 

                        <div class="form-group">
                            <label>عنوان </label>
                            <input type="text" class="form-control" asp-for="Title">
                        </div>

                        <div class="form-group">
                            <label>نام یکتا</label>
                            <input type="text" class="form-control" asp-for="UniqueName">
                        </div>

                        <hr />

                        <div class="row">
                            <div class="col-md-12 flex-style">
                                <button type="submit" class="btn btn-labeled w-100 btn-palegreen">
                                    <i class="btn-label glyphicon glyphicon-filter"></i>فیلتر
                                </button>

                                @if (Context.Request.QueryString.HasValue)
                                {
                                    @if (Model.ParentTVFAMCategory != null)
                                    {
                                        <a asp-area="Admin" asp-action="ListOfVideFAMCategoryList" asp-controller="HealthInformation" asp-route-ParentId="@Model.ParentId" class="btn btn-labeled w-100 btn-darkorange">
                                            <i class="btn-label glyphicon glyphicon-remove"></i>حذف فیلتر
                                        </a>
                                    }
                                    else
                                    {
                                        <a asp-area="Admin" asp-action="ListOfVideFAMCategoryList" asp-controller="HealthInformation" class="btn btn-labeled w-100 btn-darkorange ">
                                            <i class="btn-label glyphicon glyphicon-remove"></i>حذف فیلتر
                                        </a>
                                    }

                                }
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-9 col-sm-12">
        <div class="well with-header with-footer table-responsive">
            <div class="header bordered-azure">
                <div class="flex-style">
                    @if (Model.ParentTVFAMCategory != null)
                    {
                        <span class="widget-caption"> لیست دسته بندی های ویدیو ها @Model.ParentTVFAMCategory.UniqueName </span>
                    }
                    else
                    {
                        <span> لیست دسته بندی های ویدیو ها </span>
                    }

                    <span>@Model.GetShownEntitiesPagesTitle()</span>
                </div>
            </div>

            @if (Model.Entities != null && Model.Entities.Any())
            {
                <table class="table table-hover table-bordered tc vm margin-bottom-30">
                    <thead class="tc vm">
                        <tr class="tc vm">
                            <th class="tc vm">
                                عنوان یکتا
                            </th>
                            <th class="tc vm">
                                عنوان
                            </th>
                            <th class="tc vm">
                                امکانات
                            </th>
                        </tr>
                    </thead>
                    <tbody class="tc vm">
                        @foreach (var serviceCategory in Model.Entities)
                        {
                            <tr class="tc vm" remove-ajax-item="@serviceCategory.Id">
                                <td class="tc vm" style="max-width: 200px">
                                    <p> @serviceCategory.TVFAMCategory.UniqueName </p>
                                </td>
                                <td class="tc vm">
                                    <p> @serviceCategory.Title </p>
                                </td>
                                <td class="tc vm">
                                    @if (serviceCategory.TVFAMCategory.Parent != null && serviceCategory.TVFAMCategory.ParentId.HasValue && !serviceCategory.TVFAMCategory.Parent.ParentId.HasValue)
                                    {

                                    }
                                    else
                                    {
                                        <a asp-controller="HealthInformation" asp-controller="HealthInformation" asp-area="Admin" asp-route-ParentId="@serviceCategory.TVFAMCategory.Id" class="btn btn-primary btn-circle btn-xs"><i class="glyphicon glyphicon-list"></i></a>
                                    }
                                    <a asp-action="EditVideFAMCategory" asp-controller="HealthInformation" asp-area="Admin" asp-route-tvFAMCategoryId="@serviceCategory.TVFAMCategory.Id" class="btn btn-warning btn-circle btn-xs"><i class="glyphicon glyphicon-edit"></i></a>
                                    <button onclick="DeleteAjax(@serviceCategory.Id, '@Url.Action("DeleteVideFAMCategegory", "HealthInformation", new {area = "Admin", id = serviceCategory.TVFAMCategory.Id})')" class="btn btn-danger btn-circle btn-xs"><i class="glyphicon glyphicon-trash"></i></button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

                <div class="footer tc">

                    <partial name="_AdminPaging" model="@Model.GetCurrentPaging()" />

                </div>
            }
            else
            {
                <partial name="_AdminNotFoundPartial" />
            }
        </div>
    </div>
</div>
