@model DoctorFAM.Domain.ViewModels.Admin.Wallet.WithdrawRequestDetailAdminViewModel
@using DoctorFAM.Domain.ViewModels.Common
@using DoctorFAM.Application.StaticTools
@using DoctorFAM.Application.Extensions

@{
    ViewData["Title"] = "بررسی درخواست برداشت وجه ";
}

@section Scripts
    {
    <partial name="_JqueryValidation" />
    <script src="/admin/js/EditArticle.js"></script>

    <script>
        $("#RequestState").on("change",
            function () {

                var selectedAdvertisementStatusValue = $("#RequestState :selected").val();
                if (selectedAdvertisementStatusValue == 1) {
                    $("#RejectDescription-div").removeClass("d-none");
                } else {
                    $("#RejectDescription-div").addClass("d-none");
                }
            });
    </script>
}

@section Breadcrumb
    {
    <li>
        <a href="javascript:void(0)"> @ViewData["Title"] </a>
    </li>
}

<form method="post" asp-action="WithdrawRequestDetail" asp-controller="Wallet" asp-area="Admin" enctype="multipart/form-data">
    <input type="hidden" asp-for="RequestId" />
    <div class="row">
        <div class="col-lg-9 col-sm-12">
            <div class="widget">
                <div class="widget-header bordered-bottom bordered-yellow">
                    <span class="widget-caption"> @ViewData["Title"] </span>
                </div>
                <div class="widget-body">
                    <div>

                        <div class="row">
                            <div class="form-group col-md-6 col-sm-12">
                                <label>نام کاربری درخواست دهده</label>
                                <input type="text" readonly class="form-control" value="@Model.UserInfo.Username">
                            </div>

                            <div class="form-group col-md-6 col-sm-12">
                                <label>موبایل درخواست دهده</label>
                                <input type="text" readonly class="form-control" value="@Model.UserInfo.Mobile">
                            </div>

                            <div class="form-group col-md-4 col-sm-12">
                                <label >ملبغ درخواست</label>
                                <input type="text" readonly class="form-control" value="@Model.Price.Value.ToString("#,000") ریال">
                            </div>

                            <div class="form-group col-md-4 col-sm-12">
                                <label>حداقل مبلغ الزامی باقی مانده در وبسایت</label>
                                <input type="text" readonly class="form-control" value="@Model.SiteWithdrawLockPrice.Value.ToString("#,000") ریال">
                            </div>

                            <div class="form-group col-md-4 col-sm-12">
                                <label>موجودی حساب کاربر</label>
                                <input type="text" readonly class="form-control" value="@Model.UserInfo.UserWalletBalance.ToString("#,000") ریال">
                            </div>

                            <div class="clearfix"></div>


                            <div class="form-group col-md-12 col-sm-12">
                                <label>@Localizer["وضعیت"]</label>
                                <select asp-for="RequestState" class="form-control" asp-items="Html.GetEnumSelectList(typeof(DoctorFAM.Domain.Enums.Wallet.WalletWithdrawRequestState))"></select>
                                <span class="text-danger" asp-validation-for="RequestState"></span>
                            </div>

                            <div class="clearfix"></div>

                            <div class="form-group col-md-12 @(Model != null && Model.RequestState == DoctorFAM.Domain.Enums.Wallet.WalletWithdrawRequestState.Reject ?"":"d-none")" id="RejectDescription-div">
                                <label>@Localizer["لطفا دلیل رد درخواست را ذکر کنید"]</label>
                                <textarea asp-for="RejectDescription" rows="10" class="form-control" placeholder="@Localizer["لطفا دلیل رد درخواست را ذکر کنید"]"></textarea>
                                <span asp-validation-for="RejectDescription" class="text-danger"></span>
                            </div>

                        </div>

                        <hr class="margin-bottom-10 margin-top-10" />

                        @if (Model.RequestState == DoctorFAM.Domain.Enums.Wallet.WalletWithdrawRequestState.Waiting)
                        {
                              <div class="row">
                            <div class="col-md-12 flex-style">
                                <button type="submit" class="btn btn-labeled btn-warning">
                                    <i class="btn-label glyphicon glyphicon-ok"></i>ویرایش
                                </button>
                            </div>
                        </div>
                        }

                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-sm-12">
            <div class="row">

                <div class="col-lg-12">
                    <div class="widget">
                        <div class="widget-header bordered-bottom bordered-green">
                            <span class="widget-caption"> تصویر رسید </span>
                        </div>
                        <div class="widget-body">
                            <div class="row">

                                <input type="file" class="display-none" name="receiptImage" id="UserAvatar" ImageInput="1" accept=".jpg,.jpeg,.png" />

                                <div class="col-md-12">
                                    <label for="UserAvatar" class="file-input-style">
                                        <i class="glyphicon glyphicon-upload"></i>
                                        <span class="mr-8px"> لطفا یک تصویر را انتخاب کنید</span>
                                    </label>
                                </div>

                                @{
                                    var avatarUrl = PathTools.DefaultProductAvatar;

                                    if (Model != null && !string.IsNullOrEmpty(Model.Receipt))
                                    {
                                        avatarUrl = $"{PathTools.ReceiptPathThumb}{Model.Receipt}";
                                    }
                                }

                                <div class="col-md-12 tc mt-10px">
                                    <img src="@avatarUrl" class="image-style" ImageFile="1" />
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</form>
