@using DoctorFAM.Domain.ViewModels.UserPanel.Wallet
@using DoctorFAM.Application.Extensions
@using DoctorFAM.Application.Convertors
@model DoctorFAM.Domain.ViewModels.UserPanel.Wallet.FilterWalletUserPnelViewModel
@{
    ViewData["Title"] = Localizer["Wallets"];
}

@section Breadcrumb
{
    <li class="active">@Localizer["Wallets"]</li>
}

<div class="container-fluid">
    <div class="row">

        <div class="col-12 col-xl-3 col-lg-3">
            <div class="widget">
                <div class="widget-header">
                    <span class="widget-caption">@Localizer["Filter"]</span>
                </div>
                <div class="widget-body">
                    <div class="row">
                        <div class="basic-form">
                            <form method="get" id="filter-search">
                                <input type="hidden" asp-for="Page"/>

                                <div class="form-row">
                                    <div class="form-group col-md-12">
                                        <label asp-for="MinPrice"></label>
                                        <input asp-for="MinPrice" class="form-control">
                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="form-group col-md-12">
                                        <label asp-for="MaxPrice"></label>
                                        <input asp-for="MaxPrice" class="form-control">
                                    </div>
                                </div>

                                <hr/>
                                <div class="selectStateInFilterUsersListInAdmin">
                                    <div class="form-group">
                                        <label asp-for="OrderType"></label>
                                        <select asp-for="OrderType" class="form-control" asp-items="@(Html.GetEnumSelectList<FilterWalletUserPnelViewModel.FilterWalletUserPanelOrderType>())">
                                        </select>
                                    </div>
                                </div>

                                <hr/>

                                <div class="submitFilterInAdmin">
                                    <button type="submit" class="btn btn-success ">
                                        @Localizer["Filter"] <span class="btn-icon-right"><i class="fa fa-search"></i></span>
                                    </button>

                                    @if (Context.Request.Query.Any())
                                    {
                                            <a class="btn btn-labeled w-100 btn-darkorange" asp-action="Index" class="margin-top-10">
                                                <i class="btn-label glyphicon glyphicon-remove"></i>@Localizer["Clear Filter"]
                                            </a>
                                    }
                                </div>

                            </form>
                        </div>

                    </div>

                </div>
            </div>
        </div>

        <div class="col-xs-12 col-md-12 col-lg-9">
            <div class="widget">
                <div class="widget-header  with-footer">
                    <span class="widget-caption">@Localizer["Wallets"]</span>
                </div>
                <div class="widget-body">

                    <div class="flip-scroll">
                        @if (Model != null)
                        {
                            <table class="table table-bordered table-striped table-condensed flip-content tableShowListInAdmin" id="showUsersListInAdmin">
                                <thead class="flip-content bordered-palegreen">
                                <tr>
                                    <th>
                                        #
                                    </th>
                                    <th>
                                        @Localizer["Price"]
                                    </th>
                                    <th>
                                        @Localizer["Create Date"]
                                    </th>
                                    <th>
                                        @Localizer["Transaction Type"]
                                    </th>
                                    <th>
                                        @Localizer["Payment For"]
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Entities)
                                    {
                                        <tr id="wallet_@item.Id" remove-ajax-item="@item.Id">
                                            <td>
                                                @item.Id
                                            </td>
                                            <td>
                                                @item.Price @Localizer["Rial"]
                                            </td>
                                            <td>
                                                @item.CreateDate.ToShamsiDate()
                                            </td>

                                            <td>
                                                @Localizer[item.TransactionType.GetEnumName()]
                                            </td>
                                      
                                            <td>
                                                @Localizer[item.PaymentType.GetEnumName()]
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>


                            <partial name="_UserPanelPaging" model="@Model.GetCurrentPaging()" />
                        }
                        else
                        {
                            <partial name="_UserPanelNotFoundPartial" />
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts
{
}
