@model DoctorFAM.Domain.Entities.Organization.Organization
@using DoctorFAM.Domain.Enums
@using DoctorFAM.Application.StaticTools
@using DoctorFAM.Domain.ViewModels.Common
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedLocalizer> SharedHtmlLocalizer
@using System.Globalization
@using Microsoft.AspNetCore.Mvc.Localization

@{
    ViewData["Title"] = @Localizer["مدیریت اطلاعات"];
}

@section Scripts
    {
    <partial name="_JqueryValidation" />
}

@section Breadcrumb
    {


}
<div class="row">

    @if (!string.IsNullOrEmpty(Model.RejectDescription) && Model.OrganizationInfoState == DoctorFAM.Domain.Entities.Doctors.OrganizationInfoState.Rejected)
    {
        <div class="col-lg-12 col-sm-12 col-xs-12">
            <div class="widget">
                <div class="widget-header bg-red">
                    <span class="widget-caption">@Localizer["پیام پشتیبانی"] </span>
                    <div class="widget-buttons">
                        <a href="#" data-toggle="config">
                            <i class="fa fa-cog"></i>
                        </a>
                        <a href="#" data-toggle="maximize">
                            <i class="fa fa-expand"></i>
                        </a>
                        <a href="#" data-toggle="collapse">
                            <i class="fa fa-minus"></i>
                        </a>
                        <a href="#" data-toggle="dispose">
                            <i class="fa fa-times"></i>
                        </a>
                    </div><!--Widget Buttons-->
                </div><!--Widget Header-->
                <div class="widget-body bg-red">
                    <p> @Model.RejectDescription </p>
                </div><!--Widget Body-->
            </div><!--Widget-->
        </div>
    }

</div>

<div class="row">
    <div class="col-lg-12 col-sm-12 col-xs-12">

        <div class="row">
            <div class="col-lg-12 col-sm-12 col-xs-12">
                <div class="well bordered-left bordered-themeprimary">
                    <p> <strong> @Localizer["برای اینکه بتوانید به طور کامل در وب سایت فعال باشید و اطلاعات خود را به کاربران نمایش دهید، باید در قسمت های زیر اطلاعات را پر کنید."] </strong> </p>
                    <p> @Localizer["در قسمت اطلاعات شخصی دندانپزشک باید اطلاعاتی مانند کد ملی و شناسه نظام دندانپزشکی و ... را وارد کنید."] </p>
                </div>
            </div>
        </div>

        <div class="row">

            @if (CultureInfo.CurrentCulture.Name == "fa-IR" || CultureInfo.CurrentCulture.Name == "ar-SA")
            {

                <div class="col-lg-12 col-sm-12 col-xs-12">
                    <div class="databox databox-lg radius-bordered databox-shadowed databox-graded">
                        <div class="bg-palegreen databox-right">
                            <div class="databox-piechart">
                                <div data-toggle="easypiechart" class="easyPieChart" data-barcolor="#fff" data-linecap="butt" data-percent="50" data-animate="500" data-linewidth="3" data-size="60" data-trackcolor="#aadc95" style="width: 60px; height: 60px; line-height: 60px;">
                                    <i class="glyphicon glyphicon-user"></i>
                                </div>
                            </div>
                        </div>

                        <div class="databox-left">
                            <span class="databox-number green">@Localizer["اطلاعات شخصی"] </span>
                            <div class="databox-text darkgray">@Localizer["شامل کارت ملی و شناسنامه دندانپزشکی و ..."] </div>
                            <div class="databox-stat bg-green radius-bordered">
                                <a style="color:white;" asp-action="ManageDentistsInfo" asp-area="Dentist" asp-controller="DentistsInfo" class="stat-text">@Localizer["ویرایش"]</a>
                            </div>
                        </div>
                    </div>
                </div>

            }
            else
            {
                <div class="col-lg-4 col-sm-6 col-xs-12">
                    <div class="databox databox-lg radius-bordered databox-shadowed databox-graded">
                        <div class="bg-palegreen databox-left">
                            <div class="databox-piechart">
                                <div data-toggle="easypiechart" class="easyPieChart" data-barcolor="#fff" data-linecap="butt" data-percent="50" data-animate="500" data-linewidth="3" data-size="60" data-trackcolor="#aadc95" style="width: 60px; height: 60px; line-height: 60px;">
                                    <i class="glyphicon glyphicon-user"></i>
                                </div>
                            </div>
                        </div>

                        <div class="databox-right">
                            <span class="databox-number green">@Localizer["اطلاعات شخصی"] </span>
                            <div class="databox-text darkgray">@Localizer["شامل کارت ملی و شناسنامه دندانپزشکی و ..."] </div>
                            <div class="databox-stat bg-green radius-bordered">
                                <a style="color:white;" asp-action="ManageDentistsInfo" asp-area="Dentist" asp-controller="DentistsInfo" class="stat-text">@Localizer["ویرایش"]</a>
                            </div>
                        </div>
                    </div>
                </div>
            }


        </div>

    </div>
</div>
