@model List<DoctorFAM.Domain.Entities.HealthInformation.HealthInformation>
@using DoctorFAM.Application.StaticTools
@using DoctorFAM.Application.Convertors

@if (Model != null && Model.Any())
{
    <div class="row  mt-5  ">
        <div class="col-lg-3 col-md-3 text-center justify-content-center">
            <div class="section-title">
                <i class="fa fa-television fa-2x" style="color:#3143ef;" aria-hidden="true"></i>
                <h6> تی وی فم </h6>
                <p class="title"> در  <b>تی وی فم</b>  تماشاگر دانستنیهای علمی در زمینه پزشکی و سلامت باشید. </p>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 ">
            <div class="video">
                <video id="TVFAM" controls>
                    <source src="~/Content/Video/Bardari1.mp4" type="video/mp4">
                </video>
                <div class="overlay">
                    <img src="~/Content/images/tv-png-18664-min.png" alt="">
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 xs-mt-5 text-center justify-content-center">
            <div class="row text-center justify-content-center">

                @foreach (var video in Model)
                {
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-center justify-content-center ">
                        <video poster="@PathTools.HealthInformationAttachmentFilesImagePathThumb@video.Picture" class="thumbnail" id="videoPreview" data-src="@PathTools.HealthInformationAttachmentFilesPath@video.File"
                        style="width:130px !important; height:130px !important;">

                            <source src="@PathTools.HealthInformationAttachmentFilesPath@video.File" type="video/mp4">
                        </video>
                        <h6>
                            @video.Title
                        </h6>
                       
                        <span style="font-size:11px;">
                            @video.CreateDate.ToStringShamsiDate()
                        </span>
                    </div>
                }

            </div>
            <div class="col-lg-12 col-md-12  text-center mt-3">
                <a asp-action="TeleFamItems" asp-controller="Home" asp-area="" class="btn btn-acc   hover-icon  text-center">آرشیو تی وی فم </a>
            </div>
        </div>
    </div>

}

