@model DoctorFAM.Domain.ViewModels.Site.Doctor.Follow.IsUserFollowedViewModel

@if (Model != null)
{
    if (Model.IsUserFollowed)
    {
        <div class="doc-info-right clinic-booking mt-3">
            <a class="view-pro-btn" asp-action="UnFollow" asp-route-doctorId="@Model.TargetUserId" asp-area="" asp-controller="Home"
       asp-route-actionName="@Model.ActionName" asp-route-controllerName="@Model.ControllerName" asp-route-areaName="@Model.AreaName" style="background: #20c0f3 !important;color: #fff !important;">
                دنبال نکردن
            </a>
        </div>
    }
    else
    {
        <div class="doc-info-right clinic-booking mt-3">
            <a asp-action="FollowDoctor" asp-route-doctorId="@Model.TargetUserId" asp-area="" asp-controller="Home"
       asp-route-actionName="@Model.ActionName" asp-route-controllerName="@Model.ControllerName" asp-route-areaName="@Model.AreaName"
       class="view-pro-btn">دنبال کردن  </a>
        </div>
    }
}