@model DoctorFAM.Domain.Entities.Consultant.Consultant
@using DoctorFAM.Domain.Enums
@using DoctorFAM.Application.StaticTools
@using DoctorFAM.Domain.ViewModels.Common
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedLocalizer> SharedHtmlLocalizer
@using System.Globalization
@using Microsoft.AspNetCore.Mvc.Localization

@{
    ViewData["Title"] = @Localizer["Manage Consultant Informations"];

    var ConsultantOffice = ViewBag.ConsultantOffice as DoctorFAM.Domain.Entities.Organization.Organization;
}

@section Scripts
    {
    <partial name="_JqueryValidation" />
}

    @section Breadcrumb
    {
    <li>
        <a asp-action="Index" asp-controller="Home" asp-area="Consultant"> @Localizer["Consultant Panel"] </a>
    </li>
    <li>
        <a href="javascript:void(0)"> @ViewData["Title"] </a>
    </li>
}
    <div class="row">

    @if (!string.IsNullOrEmpty(ConsultantOffice.RejectDescription) && ConsultantOffice.OrganizationInfoState == DoctorFAM.Domain.Entities.Doctors.OrganizationInfoState.Rejected)
    {
        <div class="col-lg-12 col-sm-12 col-xs-12">
            <div class="widget">
                <div class="widget-header bg-red">
                    <span class="widget-caption">@Localizer["Supporter Message"] </span>
                    <div class="widget-buttons">
                        <a href="#" data-toggle="config">
                            <i class="fa fa-cog"></i>
                        </a>
                        <a href="#" data-toggle="maximize">
                            <i class="fa fa-expand"></i>
                        </a>
                        <a href="#" data-toggle="collapse">
                            <i class="fa fa-minus"></i>
                        </a>
                        <a href="#" data-toggle="dispose">
                            <i class="fa fa-times"></i>
                        </a>
                    </div><!--Widget Buttons-->
                </div><!--Widget Header-->
                <div class="widget-body bg-red">
                    <p> @ConsultantOffice.RejectDescription </p>
                </div><!--Widget Body-->
            </div><!--Widget-->
        </div>
    }

</div>

<div class="row">
    <div class="col-lg-12 col-sm-12 col-xs-12">

        <div class="row">
            <div class="col-lg-12 col-sm-12 col-xs-12">
                <div class="well bordered-left bordered-themeprimary">
                    <p> <strong> @Localizer["In order to be fully active on the website and display your information to users, you must fill in the information in the following sections."] </strong> </p>
                    <p> @Localizer["In the personal information section of the Consultant, you must enter information such as the national code and ID of the medical system, etc."] </p>
                </div>
            </div>
        </div>

        <div class="row">

            @if (CultureInfo.CurrentCulture.Name == "fa-IR" || CultureInfo.CurrentCulture.Name == "ar-SA")
            {

                <div class="col-lg-6 col-sm-6 col-xs-12">
                    <div class="databox databox-lg radius-bordered databox-shadowed databox-graded">
                        <div class="bg-palegreen databox-right">
                            <div class="databox-piechart">
                                <div data-toggle="easypiechart" class="easyPieChart" data-barcolor="#fff" data-linecap="butt" data-percent="50" data-animate="500" data-linewidth="3" data-size="60" data-trackcolor="#aadc95" style="width: 60px; height: 60px; line-height: 60px;">
                                    <i class="glyphicon glyphicon-user"></i>
                                </div>
                            </div>
                        </div>

                        <div class="databox-left">
                            <span class="databox-number green">@Localizer["personal information"] </span>
                            <div class="databox-text darkgray">@Localizer["including national ID and ID of the medical and..."] </div>
                            <div class="databox-stat bg-green radius-bordered">
                                <a style="color:white;" asp-action="ManageConsultantInfo" asp-area="Consultant" asp-controller="ConsultantInfo" class="stat-text">@Localizer["Edit"]</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div class="col-lg-6 col-sm-6 col-xs-12">
                    <div class="databox databox-lg radius-bordered databox-shadowed databox-graded">
                        <div class="bg-palegreen databox-left">
                            <div class="databox-piechart">
                                <div data-toggle="easypiechart" class="easyPieChart" data-barcolor="#fff" data-linecap="butt" data-percent="50" data-animate="500" data-linewidth="3" data-size="60" data-trackcolor="#aadc95" style="width: 60px; height: 60px; line-height: 60px;">
                                    <i class="glyphicon glyphicon-user"></i>
                                </div>
                            </div>
                        </div>

                        <div class="databox-right">
                            <span class="databox-number green">@Localizer["personal information"] </span>
                            <div class="databox-text darkgray">@Localizer["including national ID and ID of the medical and..."] </div>
                            <div class="databox-stat bg-green radius-bordered">
                                <a style="color:white;" asp-action="ManageConsultantInfo" asp-area="Consultant" asp-controller="ConsultantInfo" class="stat-text">@Localizer["Edit"]</a>
                            </div>
                        </div>
                    </div>
                </div>
            }


        </div>

    </div>
</div>
