@model List<DoctorFAM.Domain.Entities.News.News>
@using DoctorFAM.Application.StaticTools
@using DoctorFAM.Application.Extensions
@using DoctorFAM.Application.Convertors

<section class="" id="News">
    <div class="container">

        @if (Model != null && Model.Any())
        {

            <div class="row  justify-content-center text-center">
                <div class="col-lg-8 col-md-12">
                    <div class="section-title">

                        <h2 class="title "> فم نیوز </h2>
                        <h4 class=" text-center justify-content-center" style="color:#2264c5;"> (اخبار سلامت) </h4>

                    </div>
                </div>
            </div>
            <div class="row">

                @foreach (var item in Model)
                {
                    <div class="col-lg-4 col-md-12 md-mt-5">
                        <div class="post">
                            <div class="post-image">
                                <a href="@item.URL" target="_blank">
                                    <img class="img-fluid divch rounded w-100" src="@PathTools.NewsPathThumb@item.Image" style="height:230px !important; border:1px solid #fd5b03;" alt="">
                                </a>
                            </div>
                            <div class="post-desc">
                                <div class="post-meta">
                                    <ul class="list-inline">
                                        <li>
                                            <a href="@item.URL" target="_blank"> @item.Title </a>
                                        </li>
                                        <li>@item.CreateDate.ToStringShamsiDate() - @item.CreateDate.ToLongTimeString() </li>
                                    </ul>
                                </div>
                                <div class="post-title">
                                    <h5><a href="@item.URL" target="_blank"> @item.ShortDescription </a></h5>
                                </div>
                            </div>
                        </div>
                    </div>

                }
            </div>


        }

    </div>
</section>