@model Tuple<List<DoctorFAM.Domain.Entities.Doctors.Doctor>, DoctorFAM.Domain.ViewModels.UserPanel.FamilyDoctor.FilterFamilyDoctorUserPanelSideViewModel>
@using DoctorFAM.Domain.ViewModels.Admin.Doctors.DoctorsInfo
@using DoctorFAM.Application.Extensions
@using DoctorFAM.Application.Convertors
@using DoctorFAM.Domain.ViewModels.Common
@using DoctorFAM.Application.StaticTools
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedLocalizer> SharedHtmlLocalizer

@{
    ViewBag.Title = "معرفی پزشکان";
}

@{
    var countries = ViewData["Countries"] != null ? ViewData["Countries"] as List<SelectListViewModel> : null;
    var states = ViewData["States"] != null ? ViewData["States"] as List<SelectListViewModel> : null;
    var cities = ViewData["Cities"] != null ? ViewData["Cities"] as List<SelectListViewModel> : null;
}

@section Scripts
    {
    <script>

        $("#MainBrandId").change(function () {
            $("#pageid").val(1);
            $("#formFilter").submit();
        });

        function changePage(pageid) {
            $("#pageid").val(pageid);
            $("#formFilter").submit();
        }

    </script>
}

    @section Styles
    {
    <style>

        #StateId {
            display: initial !important;
        }

        #CountryId {
            display: initial !important;
        }

        #CityId {
            display: initial !important;
        }

         #Gender {
            display: initial !important;
        }

        .nice-select {
            display: none !important;
        }

    </style>
}

    <div class="container">

        <div class="content mt-3">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12 col-lg-4 col-xl-3 theiaStickySidebar">

                        <form asp-action="ListOfFamilyDoctors" asp-controller="FamilyDoctor" asp-area="" id="formFilter" method="get">
                            <input type="hidden" id="pageid" name="pageId" value="@Model.Item2.PageId.ToString()" />

                            <div class="card search-filter">
                                <div class="card-header">
                                    <h4 class="card-title mb-0">فیلتر جستجو</h4>
                                </div>
                                <div class="card-body">

                                    <div class="filter-widget">

                                        <div class="form-group">
                                            <h6>نام پزشک</h6>
                                            <input type="text" class="form-control" name="Username" value="@Model.Item2.Username" placeholder="لطفا نام پزشک را وارد کنید">
                                        </div>

                                        <div class="form-group">
                                            <h6>جنسیت پزشک</h6>
                                            <select class="form-control" name="Gender" id="Gender">

                                                <option value="">لطفا جنسیت پزشک را انتخاب کنید </option>

                                            @if (Model.Item2.Gender == 0)
                                            {
                                                <option value="0" selected="selected">مرد </option>
                                                <option value="1">زن </option>
                                            }
                                            @if (Model.Item2.Gender == 1)
                                            {
                                                <option value="0" selected="selected">مرد </option>
                                                <option value="1" selected="selected">زن </option>
                                            }
                                            @if (Model.Item2.Gender == null)
                                            {
                                                <option value="0">مرد </option>
                                                <option value="1">زن </option>
                                            }

                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <h6>کشور</h6>
                                        <select class="form-control" id="CountryId" name="CountryId">
                                            <option value="">لطفا کشور مورد نطر را انتخاب کنید </option>
                                            @if (countries != null && countries.Any())
                                            {
                                                foreach (var country in countries)
                                                {
                                                    if (Model != null && Model.Item2.CountryId == country.Id)
                                                    {
                                                        <option value="@country.Id" selected="selected"> @country.Title </option>
                                                    }
                                                    else
                                                    {
                                                        <option value="@country.Id"> @country.Title </option>
                                                    }
                                                }
                                            }
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <h6>استان</h6>
                                        <select class="form-control" id="StateId" name="StateId">
                                            <option value=""> لطفا استان مورد نطر را انتخاب کنید </option>
                                            @if (states != null && states.Any())
                                            {
                                                foreach (var state in states)
                                                {
                                                    if (Model != null && Model.Item2.StateId == state.Id)
                                                    {
                                                        <option value="@state.Id" selected="selected"> @state.Title </option>
                                                    }
                                                    else
                                                    {
                                                        <option value="@state.Id"> @state.Title </option>
                                                    }
                                                }
                                            }
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <h6>شهر</h6>
                                        <select name="CityId" id="CityId" class="form-control">
                                            <option value=""> لطفا شهر مورد نطر را انتخاب کنید </option>
                                            @if (cities != null && cities.Any())
                                            {
                                                foreach (var city in cities)
                                                {
                                                    if (Model != null && Model.Item2.CityId == city.Id)
                                                    {
                                                        <option value="@city.Id" selected="selected"> @city.Title </option>
                                                    }
                                                    else
                                                    {
                                                        <option value="@city.Id"> @city.Title </option>

                                                    }
                                                }
                                            }
                                        </select>
                                    </div>

                                </div>

                                <div class="btn-search">
                                    <button type="submit" class=" btn-Accept w-100">جستجو</button>
                                </div>

                                <div class="btn-search">

                                    <a asp-action="ListOfFamilyDoctors" asp-controller="FamilyDoctor" asp-area="" class="btn-SelfTest mt-2 mr-5" style="padding-top: 10px;padding-bottom: 10px;padding-right: 20px;padding-left: 20px; ">
                                        حذف فیلتر
                                    </a>

                                </div>

                            </div>
                        </div>

                    </form>

                </div>

                @if (Model.Item1 != null && Model.Item1.Any())
                {
                    <div class="col-md-12 col-lg-8 col-xl-9">

                        @foreach (var doctor in Model.Item1)
                        {
                            <div class="card">
                                <div class="card-body">
                                    <div class="doctor-widget">
                                        <div class="doc-info-left">
                                            <div class="doctor-img">
                                                <a asp-action="DocPage" asp-area="" asp-controller="FocalPoint" asp-route-userId="@doctor.User.Id">
                                                    <img src="/content/images/user/@((string.IsNullOrEmpty(doctor.User.Avatar)) ? "DefaultAvatar.png" : $"thumb/{doctor.User.Avatar}")" class="img-fluid" alt="User Image">
                                                </a>
                                            </div>
                                            <div class="doc-info-cont">
                                                <h4 class="doc-name"><a asp-action="DocPage" asp-area="" asp-controller="FocalPoint" asp-route-userId="@doctor.User.Id">پزشک: @doctor.User.Username</a></h4>
                                                <p class="doc-speciality">@((!string.IsNullOrEmpty(doctor.DoctorsInfos.Education)) ? doctor.DoctorsInfos.Education : null)</p>
                                                @if (doctor.DoctorsInfos.Specialty != null)
                                                {
                                                    <h5 class="doc-department"><img src="~/Content/img/specialities/specialities-05.png" class="img-fluid" alt="Speciality">تخصص : @((!string.IsNullOrEmpty(doctor.DoctorsInfos.Specialty)) ? doctor.DoctorsInfos.Specialty : null)</h5>
                                                }

                                            </div>
                                        </div>
                                        <div class="doc-info-right">

                                            <div class="clinic-booking">
                                                <a class="view-pro-btn" asp-action="DocPage" asp-area="" asp-controller="FocalPoint" asp-route-userId="@doctor.User.Id">مشاهده پروفایل</a>
                                                <a class="apt-btn" asp-action="DocBooking" asp-controller="FocalPoint" asp-area="" asp-route-userId="@doctor.UserId">رزرو نوبت</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        }

                        @if (Model.Item2.PageCount > 1)
                        {
                            int pageCount = ViewBag.pageId;
                            int next = pageCount + 1;
                            int last = pageCount - 1;

                            <div class="footer tc">
                                <ul class="pagination mt-5px pagingInInIndex">

                                    @for (int i = 1; i <= (int)Model.Item2.PageCount; i++)
                                    {
                                        <li class="@((Model.Item2.PageId == i ?"active":"")) "><a class="cursor-pointer " onclick="changePage(@i)" href="#">@i</a></li>
                                    }

                                </ul>
                            </div>
                        }
                    </div>
                }

            </div>
        </div>
    </div>
</div>