@model List<DoctorFAM.Domain.ViewModels.DoctorPanel.Resume.WorkingAddress.WorkingAddressResumeInDoctorPanelViewModel>
@using DoctorFAM.Application.Extensions
@using DoctorFAM.Application.Convertors
@using DoctorFAM.Application.Utils

<div class="form-title">
    بخش آدرس محل کار

    <a asp-action="CreateWorkingAddress" asp-area="Dentist" asp-controller="Resume" style="margin-right: 10px;" class="btn btn-success mr-4">افزودن اطلاعات</a>
</div>

@if (Model != null && Model.Any())
{
    foreach (var work in Model)
    {
        <ul class="timeline animated fadeInDown">

            <li>
                @*<div class="timeline-datetime">
                    <a asp-action="EditWorkingAddress" asp-area="Dentist" asp-controller="Resume" asp-route-id="@work.Id" style="margin-right: 10px;" class="btn btn-primary mr-4">ویرایش</a>
                    <a asp-action="DeleteWorkingAddress" asp-area="Dentist" asp-controller="Resume" asp-route-id="@work.Id" style="margin-right: 10px;" class="btn btn-danger mr-4">حذف</a>
                </div>*@
                <div class="timeline-badge blue">
                    <i class="fa fa-book"></i>
                </div>
                <div class="timeline-panel">
                    <div class="timeline-header bordered-bottom bordered-blue">
                        @if (work.WorkingAddressTitle != null)
                        {
                            <span class="timeline-title">
                                @work.WorkingAddressTitle
                            </span>
                        }
                    </div>
                    <div class="timeline-body">
                        <p>روزهای کاری : @((string.IsNullOrEmpty(work.Days)) ? "وارد نشده" : work.Days)</p>
                        <p>ساعات کاری : @((string.IsNullOrEmpty(work.Times)) ? "وارد نشده" : work.Times)</p>
                        <div class="row ">
                            <div class="col-md-12 ">

                                <a asp-action="EditWorkingAddress" asp-area="Dentist" asp-controller="Resume" asp-route-id="@work.Id" class="tmlnbutton2 "><i class="fa fa-edit warning"></i></a>
                                <a asp-action="DeleteWorkingAddress" asp-area="Dentist" asp-controller="Resume" asp-route-id="@work.Id" class="tmlnbuttondelete2"><i class="fa fa-trash-o danger"></i></a>
                            </div>
                        </div>


                    </div>

                </div>
            </li>
        </ul>
    }
}
else
{
    <div class="alert alert-info fade in">
        @SharedLocalizer["Not Found"]
    </div>
}
