@using DoctorFAM.Domain.Enums
@using DoctorFAM.Application.StaticTools
@using DoctorFAM.Domain.ViewModels.Common
@model DoctorFAM.Domain.ViewModels.Admin.Pharmacy.PharmacyInfoDetailViewModel
@using DoctorFAM.Domain.ViewModels.Admin.Pharmacy
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedLocalizer> SharedHtmlLocalizer

@{
    ViewData["Title"] = @Localizer["Pharmacy Personal Infomations"];
}

@section Scripts
{
<partial name="_JqueryValidation" />

<script>
    $("#PharmacyInfosType").on("change",
      function() {

          var selectedAdvertisementStatusValue = $("#PharmacyInfosType :selected").val();
          if (selectedAdvertisementStatusValue == 2) {
              $("#RejectDescription-div").removeClass("d-none");
          } else {
              $("#RejectDescription-div").addClass("d-none");
          }
      });
</script>

}

@section Breadcrumb
{
<li>
    <a href="javascript:void(0)"> @ViewData["Title"] </a>
</li>
}

<form method="post" asp-action="PharmacyInfoDetail" asp-controller="Pharmacy" asp-area="Admin" enctype="multipart/form-data">
    <div class="row">
        <div class="col-lg-6 col-sm-12">
            <div class="row">

                <input type="hidden" asp-for="UserId" />
                <input type="hidden" asp-for="Id" />
                <input type="hidden" asp-for="PharmacyId" />

                <div class="col-lg-12">
                    <div class="widget">
                        <div class="widget-header bordered-bottom bordered-green">
                            <span class="widget-caption"> @Localizer["Pharmacy Information"] </span>
                        </div>
                        <div class="widget-body">
                            <div class="row">

                                <div class="form-group col-md-12 col-sm-12">
                                    <label asp-for="NationalCode"></label>
                                    <input type="text" class="form-control" asp-for="NationalCode">
                                    <span class="text-danger" asp-validation-for="NationalCode"></span>
                                </div>

                                @if (Model.WorkAddresses != null && Model.WorkAddresses.Any())
                                {
                                    @foreach (var item in Model.WorkAddresses)
                                    {
                                        <div class="form-group col-md-12 col-sm-12">
                                            <label asp-for="WorkAddresses"></label>
                                            <textarea type="text" class="form-control">@item.Address</textarea>
                                        </div>
                                    }
                                }

                                <div class="form-group col-md-12 col-sm-12">
                                    <label>@Localizer["State"]</label>
                                    <select asp-for="PharmacyInfosType" class="form-control" asp-items="Html.GetEnumSelectList(typeof(DoctorFAM.Domain.Entities.Doctors.OrganizationInfoState))"></select>
                                    <span class="text-danger" asp-validation-for="PharmacyInfosType"></span>
                                </div>

                                <div class="clearfix"></div>

                                <div class="form-group col-md-12 @(Model.PharmacyInfosType == DoctorFAM.Domain.Entities.Doctors.OrganizationInfoState.Rejected ?"":"d-none")" id="RejectDescription-div">
                                    <label>@Localizer["Enter the reason for not confirming the information"]</label>
                                    <textarea asp-for="RejectDescription" rows="10" class="form-control" placeholder="@Localizer["Enter the reason for not confirming the information"]"></textarea>
                                    <span asp-validation-for="RejectDescription" class="text-danger"></span>
                                </div>

                                <hr class="margin-bottom-10 margin-top-10" />

                                <div class="col-md-12 flex-style">
                                    <button type="submit" class="btn btn-labeled btn-palegreen">
                                        <i class="btn-label glyphicon glyphicon-ok"></i>@Localizer["Submit"]
                                    </button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>


        <div class="col-lg-6 col-sm-12">
            <div class="widget">
                <div class="widget-header bordered-bottom bordered-success">
                    <i class="widget-icon fa fa-user black"></i>
                    <span class="widget-caption black">@Localizer["Fields Of Your Interests"]</span>
                </div><!--Widget Header-->
                <div class="widget-body  no-padding">
                    <div class="tickets-container">
                        <ul class="tickets-list">

                            @if (Model.PharmacyInterests != null && Model.PharmacyInterests.Any())
                            {
                                foreach (var item in Model.PharmacyInterests)
                                {
                                    <li class="ticket-item">
                                        <div class="row">
                                            <div class="ticket-type  col-lg-12 col-sm-12 col-xs-12">
                                                <span class="divider hidden-xs"></span>
                                                <span class="type">@item.Title</span>
                                            </div>
                                            <div class="ticket-state bg-darkorange">
                                                <a asp-action="DeletePhamacySelectedInfo" asp-area="Admin" asp-controller="Pharmacy" asp-route-interestId="@item.InterestId" asp-route-pharmacyInfoId="@Model.PharmacyId" asp-route-PharmacyInfoId="@Model.Id">
                                                    <i class="fa fa-times"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                }
                            }

                        </ul>
                    </div>
                </div>
            </div>

        </div>

    </div>

</form>
