@using DoctorFAM.Application.Extensions
@model DoctorFAM.Domain.Entities.Account.User

@{
    var currentCulture = ApplicationCultures.GetCurrentCulture();
    var isRtl = currentCulture.IsRtl;
}

<!-- Loading Container -->
<div class="loading-container">
    <div class="loader"></div>
</div>
<!--  /Loading Container -->
<!-- Navbar -->
<div class="navbar">
    <div class="navbar-inner">
        <div class="navbar-container">
            <!-- Navbar Barnd -->
            <div class="navbar-header @(currentCulture.IsRtl ? "pull-right":"pull-left")">
               <a href="/Home/SecPage" class="navbar-brand">
                    <small>
                        <img  class="logoImage text-center align-items-center" src="/Content/images/Logo/doctorfamTes.png" alt="دکترفام">                       
                    </small>
                </a>
            </div>
            <!-- /Navbar Barnd -->
            <!-- Sidebar Collapse -->
            <div class="sidebar-collapse" id="sidebar-collapse">
                <i class="collapse-icon fa fa-bars"></i>
            </div>
            <!-- /Sidebar Collapse -->
            <!-- Account Area and Settings --->
            <div class="navbar-header pull-left">
                <div class="navbar-account">
                    <ul class="account-area">

                             <li class="marli" >
                            
                            <a class="dropdown-toggle btn btn-blue " data-toggle="dropdown" title="انتخاب زبان" href="#"><i class="fa fa-angle-down"></i>
                                انتخاب زبان
                            </a>
                            <!--Tasks Dropdown-->
                            <ul class="pull-right dropdown-menu dropdown-tasks dropdown-arrow ">

                                @foreach (var language in ApplicationCultures.CultureItems)
                                {
                                    <li>
                                        <a asp-area="" asp-controller="Home" asp-action="ChangeLanguage" asp-route-culture="@language.CultureKey">
                                            <div class="clearfix">
                                                <span class="pull-right">@language.Title</span>
                                                <span class="pull-left">@language.CultureKey</span>
                                            </div>
                                        </a>
                                    </li>
                                }
                            </ul>
                           
                        </li>

                    
                     
                        <li>
                            <a class="wave in" id="chat-link" title="Chat" href="#">
                                <i class="icon glyphicon glyphicon-comment"></i>
                            </a>
                        </li>
                        <li>
                            <a class="login-area dropdown-toggle" data-toggle="dropdown">
                                <div class="avatar" title="View your public profile">
                                    <img src="@Model.GetUserAvatar()">
                                </div>
                                <section>
                                    <h2><span class="profile"><span>@Model.Username </span></span></h2>
                                </section>
                            </a>
                            <!--Login Area Dropdown-->
                            <ul class="pull-right dropdown-menu dropdown-arrow dropdown-login-area">
                                <li class="username"><a>@Model.Username</a></li>
                                <li class="email"><a>@Model.Email</a></li>
                                <!--Avatar Area-->
                                <li>
                                    <a asp-action="EditProfile" asp-controller="Account">
                                        <div class="avatar-area">
                                            <img src="@Model.GetUserAvatar()" class="avatar">
                                            <span class="caption">@Localizer["Edit profile"]</span>
                                        </div>
                                    </a>
                                </li>
                                <!--Avatar Area-->
                                <li class="edit">
                                    <a asp-controller="Account" asp-action="EditProfile">@Localizer["Edit profile"]</a>
                                </li>
                                <!--Theme Selector Area-->
                                <li class="theme-area">
                                  
                                </li>
                                <!--/Theme Selector Area-->
                                <li class="dropdown-footer @(isRtl ? "text-right": "")">
                                    <a asp-area="" asp-controller="Account" asp-action="Logout">
                                        @SharedHtmlLocalizer["LogOut"]
                                    </a>
                                </li>
                            </ul>
                            <!--/Login Area Dropdown-->
                        </li>
                        <!-- /Account Area -->
                        <!--Note: notice that setting div must start right after account area list.
                        no space must be between these elements-->
                        <!-- Settings -->
                    </ul>
                
                    <!-- Settings -->
                </div>
            </div>
            <!-- /Account Area and Settings -->
        </div>
    </div>
</div>
<!-- /Navbar -->