@model List<DoctorFAM.Domain.ViewModels.Admin.Diabet.ListOfDiabetPopulationDTO>
@using DoctorFAM.Application.Convertors
@using DoctorFAM.Application.Extensions

@{
    ViewData["Title"] = "لیست جمعیت دیابتی دکترفم";
}

@section Breadcrumb
    {
    <li>
        <a href="javascript:void(0)"> @ViewData["Title"] </a>
    </li>
}

@section Styles
    {
    <link href="/admin/css/dataTables.bootstrap.rtl.css" rel="stylesheet" />
}

@section Scripts
    {
    <script src="~/admin/js/datatable/jquery.dataTables.min.js"></script>
    <script src="~/admin/js/datatable/ZeroClipboard.js"></script>
    <script src="~/admin/js/datatable/dataTables.tableTools.min.js"></script>
    <script src="~/admin/js/datatable/dataTables.bootstrap.min.js"></script>
    <script src="~/admin/js/datatable/datatables-init-AllRecords.js"></script>
    <script>
        InitiateSimpleDataTable.init();
        InitiateEditableDataTable.init();
        InitiateExpandableDataTable.init();
        InitiateSearchableDataTable.init();
    </script>

    }

<div class="page-body">

    <div class="row">

        <div id="horizontal-form">

            @if (Model != null && Model.Any())
            {

                <div class="widget-body no-padding">
                    <div id="searchable_wrapper" class="dataTables_wrapper form-inline">

                        <table class="table table-bordered table-hover table-striped dataTable" id="searchable" role="grid" aria-describedby="searchable_info">
                            <thead class="bordered-darkorange">
                                <tr role="row">

                                    <th class="sorting" tabindex="0" aria-controls="searchable" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column ascending">نام کاربری</th>
                                    <th class="sorting" tabindex="0" aria-controls="searchable" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column ascending">موبایل</th>
                                    <th class="sorting" tabindex="0" aria-controls="searchable" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column ascending">کدملی</th>
                                    <th class="sorting" tabindex="0" aria-controls="searchable" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column ascending">سن</th>
                                    <th class="sorting" tabindex="0" aria-controls="searchable" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column ascending">جنسیت</th>

                                </tr>
                            </thead>

                            <tbody>

                                @foreach (var user in Model)
                                {
                                    <tr role="row" class="even responsive" remove-ajax-item="@user.Person.UserId">

                                        <td class="center ">
                                            @user.Person.Username
                                        </td>

                                        <td class="center ">
                                            @user.Person.Mobile
                                        </td>

                                        <td class="center ">
                                            @user.Person.NationalId
                                        </td>

                                        <td class="center ">
                                            @user.Age
                                        </td>

                                        <td class="center ">
                                            @user.Gender.GetEnumName()
                                        </td>

                                    </tr>

                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            }
            else
            {
                <partial name="_AdminNotFoundPartial" />
            }

        </div>
    </div>

</div>


